wc-utkast-filter {
  display: block;
  padding: 20px 0;

  label {
    @extend %wc-typo-06;
    color: $wc-color-09;
    &.offset-label {
      margin-left: 30px;
    }
    &.inline-label {
      padding:0;

    }
  }

  .filter-errors {
    padding-top: 10px;

    > p {
      color: $wc-color-11;
    }
  }

  .btn {
    min-height: 38px;
  }

  .col-md-2, .col-md-3 {
    padding-left: 13px;
    padding-right: 12px;
  }

  .buttons {
    padding-top:24px;
  }
}
