<div id="advanced-filter-form" class="row" ng-form="filterForm">


  <div class="filter-field col-md-2" wc-authority="VIDAREBEFORDRA_UTKAST" intygstyp="" id="filterFormVidarebefordrad">
    <label>Vidarebefordrat</label><br>
    <wc-dropdown id="filter-notified" ng-model="filter.selection.notified" items="filter.notifiedOptions"
                 use-dynamic-label="false"></wc-dropdown>
  </div>

  <div class="filter-field col-md-2">
    <label>Utkast</label><br>
    <wc-dropdown id="filter-status" ng-model="filter.selection.status" items="filter.statusOptions"
                 use-dynamic-label="false"></wc-dropdown>
  </div>

  <div class="filter-field col-md-2" wc-authority="FILTRERA_PA_LAKARE" intygstyp="" id="filterFormSparatAv">
    <label>Sparat av</label><br>
    <wc-dropdown id="filter-notified" ng-model="filter.selection.savedBy" items="filter.savedByOptions"
                 use-dynamic-label="false"></wc-dropdown>
  </div>

  <div class="filter-field col-md-2" id=utkastPnr">
    <label>Patient</label>
    <input class="form-control" name="pnr" type="text"
           id="filter-person-id"
           placeholder="ååååmmdd-nnnn"
           ng-model="filter.selection.pnr"
           wc-person-number
           maxlength="13"/>
    <span class="errorText" ng-if="filterForm.pnr.$invalid && filterForm.pnr.$touched && filterForm.pnr.$viewValue != ''"><p>Ange ett giltigt person- eller samordningsnummer.</p></span>
  </div>

    <div class="filter-field date-group col-md-6">
      <label>Sparat datum</label><br>
      <label class="inline-label">Från</label>
      <span dom-id="filter-changedate-from" target-model="filter.selection.savedFrom" wc-date-picker-field  on-blur="setShowDateFromVisible()"
            add-date-parser="strict" max-date={{maxdate}}></span>
      <label class="inline-label">till</label>
      <span dom-id="filter-changedate-to" target-model="filter.selection.savedTo" wc-date-picker-field add-date-parser="strict" max-date={{maxdate}}
            wc-date-is-after-validator="filter-changedate-from"  on-blur="setShowDateToVisible()"></span>

    </div>

  <div class="filter-field col-md-6">
    <div class="buttons">
      <button type="button" ng-disabled="filterForm.$invalid" id="uc-filter-btn" class="btn btn-success"
              uib-popover="Sök efter utkast."
              ng-click="search()">Sök</button>
      <button type="button" class="btn btn-default"
              uib-popover="Rensa sökfiltret."
              ng-click="resetFilter()" id="reset-search-form">Återställ sökfilter</button>
    </div>
  </div>
</div>

<div ng-if="(showDateFromErrors || showDateToErrors) && filterForm.$invalid && !filterForm.$pristine" ng-cloak class="filter-errors">
  <div ng-if="showDateFromErrors">
    <p ng-show="filterForm['filter-changedate-from'].$error.date">
      <span dynamic-label key="common.validation.date_invalid"></span>
    </p>
    <p ng-show="filterForm['filter-changedate-from'].$error.maxDate">
      <span dynamic-label key="common.validation.future.datum"></span>
    </p>
  </div>
  <div ng-if="showDateToErrors">
    <p ng-show="filterForm['filter-changedate-to'].$error.date">
      <span dynamic-label key="common.validation.date_invalid"></span>
    </p>
    <p ng-show="filterForm['filter-changedate-to'].$error.maxDate">
      <span dynamic-label key="common.validation.future.datum"></span>
    </p>
    <p ng-show="filterForm['filter-changedate-to'].$error.isBefore">
      <span dynamic-label key="common.validation.date-period.invalid_order"></span>
    </p>
  </div>
</div>
