<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="info" />

  <logger name="org.hibernate" level="info" />

  <logger name="se.inera.intyg.webcert.persistence" level="debug" />

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
