<div class="container-fluid">
  <div class="row" id="about-webcert-faq">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>

        <div wc-authority request-origin="NORMAL">
          <div wc-authority feature="hanteraIntygsutkast">
            <h3>Skriva intyg</h3>

            <h4>Finns det någon hjälpfunktion?</h4>
            <p>Klicka på frågetecknet i anslutning till vissa rubriker och frågor i utkastet. En kort hjälptext om hur
              fältet ska fyllas i visas.</p>

            <h4>Hur kan jag få hjälp med bedömningar av funktionsnedsättning och aktivitetsbegränsning?</h4>
            <p>Socialstyrelsens försäkringsmedicinska beslutsstöd finns tillgängligt i Webcert och visas bredvid de fält
              som berörs när du anger en diagnos.</p>

            <h4>Hur använder jag mig av Socialstyrelsens försäkringsmedicinska beslutsstöd (FMB)?</h4>
            <p>När du anger en diagnos så gör Webcert en sökning i FMB för att kontrollera om den valda diagnosen finns
              med. Information visas vid berörda fälten. Det är alltid den senaste versionen av FMB som visas i Webcert.
              Det FMB är enbart synligt när du utfärdar intyget, det kommer inte skickas med till Försäkringskassan
              eller
              invånaren, och inte heller synas på utskrifter. I FMB finns försäkringsmedicinsk information och
              sjukskrivningsrekommendationer för ett hundratal diagnoser. Sjukskrivningsrekommendationerna ska vara
              vägledande för bedömning av arbetsförmågan, men bedömningarna måste vara individuella och utgå ifrån
              enskilda individers unika tillstånd. Om sjukskrivningen omfattar längre tid än den som rekommenderas ska
              det
              motiveras.
              <br><br>
              För ytterligare information om hur FMB ska användas <LINK:socialstyrelsenFmbAnvandas>.

            </p>

            <h4>Vad är skillnaden mellan ett intyg och ett utkast?</h4>
            <p>
              Ett utkast är inte signerat och behöver inte innehålla alla uppgifter som är obligatoriska vid signering.
              Du
              kan spara och ändra i det så många gånger du vill. Ett utkast går även att radera och tas då bort. Vid
              signering övergår utkastet till att bli ett intyg. I samband med att intyget signeras skickas det till
              Intygstjänsten och kan då nås av patienten via Mina intyg. </p>
            <p>
              Ett signerat intyg kan inte ändras eller raderas, däremot kan ett intyg ersättas av ett nytt intyg. Ett
              intyg kan också vid allvarligt fel makuleras (ogiltigförklaras). </p>


            <h4>Tangentbordsnavigering i Webcert</h4>
            <p>I Webcert stöds navigering med hjälp av tangentbordet. Webcert följer den standard som finns för
              webbläsare
              och du kan använda "Tab" för att hoppa mellan ifyllnadsrutor i ett intygsutkast. I de fall ett fält utgörs
              av val i form av radioknappar används tangentbordets piltangenter för att navigera mellan valen. För att
              markera ett val i en kryssruta eller radioknapp använd "Mellanslag"-tangenten. </p>

            <h4>Finns det några kortkommandon?</h4>
            <p>Vid ifyllnad av sjukskrivningsperiod. När du fyllt i ett 'från och med' datum kan du i 'till och med'
              datumet skriva in exempel 5d, 5v eller 5m. Då sätts slutdatum för perioden automatiskt till 5
              dagar/veckor/månader efter 'från och med' datumet. </p>
          </div>


          <!-- SPARA  ------------------>
          <div wc-authority feature="hanteraIntygsutkast">
            <h3>Spara intyg</h3>

            <h4>Varför går det inte att spara intyget?</h4>
            <p>Intyget sparas hela tiden automatiskt under utfärdandet. Om du stänger webbläsaren innan intyget har
              hunnit
              sparas får du en varning.</p>
          </div>


          <!-- SKICKA  ------------------>
          <div wc-authority feature="hanteraIntygsutkast">
            <h3>Skicka intyg</h3>

            <h4>Varför syns inte skicka-knappen?</h4>
            <p>Du har inte signerat intyget, skicka-knappen är endast tillgänglig för ett signerat intyg.</p>

            <h4>När ska jag skicka intyget till Försäkringskassan?</h4>
            <p>Intyg ska endast skickas till Försäkringskassan om samtliga tre punkter är uppfyllda:</p>
            <ul>
              <li>Sjukskrivningen kommer att vara längre än 14 dagar.</li>
              <li>Patienten kommer att ansöka om sjukpenning.</li>
              <li>Patienten kan eller vill inte skicka intyget från Mina intyg.</li>
            </ul>
            <p>Tänk på att ett intyg alltid ska skickas till Försäkringskassan i samråd med patienten.</p>
          </div>

          <!-- FRÅGA OCH SVAR  ------------------>
          <div wc-authority feature="hanteraFragor">

            <h3>Fråga och svars-funktionen</h3>

            <h4>Hur ställer jag en fråga till Försäkringskassan?</h4>
            <p>
              Funktionen för fråga och svar blir tillgänglig först när intyget är signerat och skickat till
              Försäkringskassan.
              Du kan då från samma vy som det signerade intyget klicka på knappen Ny fråga till Försäkringskassan.</p>


            <h4>Hur vet jag om det har kommit en fråga eller ett svar från Försäkringskassan?</h4>
            <p>
              Om det inkommit en ny fråga syns det som en röd bubbla i hörnet på fliken Fråga och svar.
              Du som är privatläkare får också ett mejl till den e-post du angav när du registrerade dig till att
              använda Webcert.</p>

            <div>
              <h4>När försvinner frågor från listan under fliken "Frågor och svar"?</h4>
              <p>En fråga försvinner aldrig från listan över frågor och svar, däremot så visas den inte i listan när den
                är
                markerad som hanterad. Det går att söka efter och se en hanterad fråga med hjälp av sökfiltret.</p>
            </div>

            <h4>En fråga har besvarats via brev och ligger därmed kvar som obesvarad i Webcert. Hur tar jag bort
              frågan?</h4>
            <p>Klicka i boxen "Markera som hanterad" intill frågan. Frågan flyttas då till Tidigare frågor och
              svar. </p>


          </div>

          <h3>Tekniska frågor</h3>

          <h4>Varför ska jag inte använda Chrome eller Edge när jag loggar in i Webcert?</h4>
          <p>Webbläsarna Chrome och Edge stödjer inte den metod som Webcert använder för att skapa signaturer. För att
            kunna signera intyg i Webcert måste du därför välja en annan webbläsare.
            <br>Rekommenderad webbläsare är Internet Explorer 9 eller någon av de efterföljande versionerna.</p>
        </div>




        <!-- UTHOPP ------------------>
        <div wc-authority request-origin="UTHOPP">
          <h3>Fråga och svars-funktionen</h3>
          <h4>Hur ställer jag en fråga till Försäkringskassan?</h4>
          <p>
            Funktionen för fråga och svar blir tillgänglig först när intyget är signerat och skickat till
            Försäkringskassan.
            Öppna det intyg du vill ställa en fråga på i Webcert. Klicka på knappen Ny fråga till
            Försäkringskassan. </p>

          <h4>Hur vet jag om det har kommit en fråga eller ett svar från Försäkringskassan?</h4>
          <p>
            Om det inkommit en ny fråga syns det som en röd bubbla i hörnet på fliken Fråga och svar.
            <br>
            När en fråga eller ett svar inkommit generereras även ett mail till den e-postadress som i HSA är
            registrerad som vårdenhetens/mottagningens e-postadress. Den person som är ansvarig för att fördela
            vårdenhetens inkomna svar, loggar in i Webcert för att antingen själv markera svaret som hanterat eller
            vidarebefordra frågan/svaret till rätt läkare.</p>


          <h4>När försvinner frågor från listan under fliken "Frågor och svar"?</h4>
          <p>En fråga försvinner aldrig från listan över frågor och svar, däremot så visas den inte i listan när den
            är markerad som hanterad. Det går att söka efter och se en hanterad fråga med hjälp av sökfiltret.</p>

          <h4>En fråga har besvarats via brev och ligger därmed kvar som obesvarad i Webcert. Hur tar jag bort
            frågan?</h4>
          <p>Klicka i boxen "Markera som hanterad" intill frågan. Frågan flyttas då till Tidigare frågor och
            svar. </p>

          <h3>Tekniska frågor</h3>
          <h4>Varför ska jag inte använda Chrome eller Edge när jag loggar in i Webcert?</h4>
          <p>Webbläsarna Chrome och Edge stödjer inte den metod som Webcert använder för att skapa signaturer. För att
            kunna signera intyg i Webcert måste du därför välja en annan webbläsare.
            <br>Rekommenderad webbläsare är Internet Explorer 9 eller någon av de efterföljande versionerna.</p>

        </div>


      </div>
    </div>
  </div>
</div>
