<div class="container-fluid">
  <div class="row" id="about-webcert-support">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>
        <p>
          I "Vanliga frågor" finns hjälp om du har frågor om Webcert. Om du saknar svar på din fråga kan du
          använda följande kontaktvägar, beroende på typ av fråga:</p>
        <ul>
          <li>Frågor som gäller inloggning: kontakta leverantören av din e-legitimation.</li>
          <li>Tekniska frågor om Webcert: kontakta Ineras kundservice.</li>
          <li>Frågor om ifyllnaden av intyg: i intyget finns hjälpfunktioner för stöd om hur intyget ska fyllas i. Du
            kan även gå till Socialstyrelsens försäkringsmedicinska beslutsstöd för hjälp med bedömningar av
            funktionsnedsättning och aktivitetsbegränsning.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
