<div class="container-fluid">
  <div class="row" id="about-webcert-intyg">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>
        <h3 wc-feature-active feature="hanteraIntygsutkast" intygstyp="fk7263">
          Läkarintyg FK 7263 </h3>
        <p wc-feature-active feature="hanteraIntygsutkast" intygstyp="fk7263">
          Läkarintyget används av Försäkringskassan för att bedöma om patienten har rätt till sjukpenning. Av intyget
          ska det framgå hur sjukdomen påverkar patientens arbetsförmåga och hur länge patienten behöver vara
          sjukskriven.</p>
        <h3 wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-bas">Transportstyrelsens läkarintyg</h3>
        <p wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-bas">
          Transportstyrelsens läkarintyg ska användas vid förlängd giltighet av högre behörighet från 45 år, ansökan om
          körkortstillstånd för grupp II och III och vid ansökan om taxiförarlegitimation. Transportstyrelsens
          läkarintyg kan även användas när Transportstyrelsen i annat fall begärt ett allmänt läkarintyg avseende
          lämplighet att inneha körkort.</p>
        <h3 wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-diabetes">Transportstyrelsens läkarintyg, diabetes</h3>
        <p wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-diabetes">
          Transportstyrelsens läkarintyg, diabetes ska användas vid diabetessjukdom. Föreskrivna krav på läkarens
          specialistkompetens vid diabetessjukdom framgår av 17 kap. i Transportstyrelsens föreskrifter (TSFS 2010:125)
          och allmänna råd om medicinska krav för innehav av körkort m.m.</p>
      </div>
    </div>
  </div>
</div>