<div class="container-fluid">
  <div class="row" id="about-webcert-intyg">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>
        <div wc-spinner label="info.loadingdata" show-spinner="!state.doneLoading" show-content="state.doneLoading">
          <p>Version: {{avtal.avtalVersion}}</p>
          <p>Datum: {{avtal.versionDatum}}</p>
          <p style="clear:left;padding-bottom: 10px" ng-bind-html="avtal.avtalText"></p>
        </div>
      </div>
    </div>
  </div>
</div>