<div class="container-fluid">
  <div class="row" id="about-webcert-faq">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>

        <div wc-authority feature="hanteraIntygsutkast">
          <h3>Skriva intyg</h3>

          <h4>Hur fungerar hjälpfunktionen?</h4>
          <p>Klicka på frågetecknet i anslutning till rubriken i utkastet så visas en kort hjälptext om hur fältet ska
            fyllas i. Om du behöver ytterligare information klickar du på länken. Hjälpfunktionen avser endast hjälp vid
            ifyllande av utkastet, inte teknisk hjälp.</p>

          <h4>Hur kan jag få hjälp med bedömningar av funktionsnedsättning och aktivitetsbegränsning?</h4>
          <p>Socialstyrelsens försäkringsmedicinska beslutsstöd finns tillgängligt i Webcert och visas automatiskt
            bredvid de fält som berörs när du anger huvuddiagnosen. Om du anger en diagnoskod som saknar beslutsstöd så
            visas ingenting.</p>

          <h4>Hur använder jag mig av Socialstyrelsens försäkringsmedicinska beslutsstöd?</h4>
          <p>När du anger en diagnos i fältet för huvuddiagnos så gör Webcert en sökning i Socialstyrelsens
            försäkringsmedicinska
            beslutsstöd för att kontrollera om den valda diagnosen finns med. Vid fälten 2, 4, 5 och 8b visas den
            information
            som berör respektive fält. Det försäkringsmedicinska beslutsstödet utgår endast från huvuddiagnosen, och
            visas
            inte för eventuella underdiagnoser. Det är alltid den senaste versionen av beslutsstödet som visas i
            Webcert,
            vilket innebär att om du öppnar ett sparat intygsutkast så kan informationen från beslutsstödet ha
            uppdaterats
            sedan intygsutkastet skapades. Det försäkringsmedicinska beslutstödet är enbart synligt när du utfärdar
            intyget,
            det kommer inte skickas med till Försäkringskassan eller invånaren, och inte heller synas på utskrifter.
            Socialstyrelsens försäkringsmedicinska beslutsstöd är till hjälp för att bedöma sjukskrivningens längd.
            Om sjukskrivningen omfattar längre tid än den som rekommenderas ska det motiveras i intygets fält 9.</p>

          <h4>Vad är skillnaden mellan ett intyg och ett utkast?</h4>
          <p>
            Ett utkast är inte signerat och behöver inte innehålla alla uppgifter som är obligatoriska vid signering.
            Du kan spara och ändra i det så många gånger du vill. Ett utkast går även att radera och tas då bort från
            Webcert.
            Vid signering övergår utkastet till att bli ett intyg. </p>
          <p>
            I samband med att intyget signeras skickas det till Intygstjänsten och kan då nås av patienten via Mina
            intyg. </p>
          <p>
            Ett intyg kan inte sparas om eller raderas, däremot kan ett intyg makuleras och återtas eller ersättas av
            ett nytt intyg. </p>


          <h4>Tangentbordsnavigering i Webcert</h4>
          <p>I Webcert stöds navigering med hjälp av tangentbordet. Webcert följer den standard som finns för webbläsare
            och du kan använda "Tab" för att hoppa mellan ifyllnadsrutor i ett intygsutkast. I de fall ett fält utgörs
            av val i form av radioknappar används tangentbordets piltangenter för att navigera mellan valen. För att
            markera ett val i en kryssruta eller radioknapp använd "Mellanslag"-tangenten. </p>
        </div>

        <h3>Spara intyg</h3>

        <h4>Varför går det inte att spara intyget?</h4>
        <p>Intyget sparas hela tiden automatiskt under utfärdandet. Om du stänger webbläsaren innan intyget har hunnit
          sparas får du en varning.</p>


        <div wc-authority feature="hanteraIntygsutkast">
          <h3>Skicka intyg</h3>

          <h4>Varför syns inte skicka-knappen?</h4>
          <p>Du har inte signerat intyget. Observera att intyget låses vid signering, vilket innebär att det inte längre
            kan ändras eller raderas.</p>

          <h4>Varför behöver jag patientens samtycke för att skicka intyget?</h4>
          <p>Intyget innehåller patientens personuppgifter, såsom uppgifter om patientens hälsa. För att få skicka
            patientens intyg och därmed personuppgifter till en annan myndighet krävs enligt gällande lagstiftning
            (personuppgiftslagen och patientdatalagen) att du först inhämtar patientens samtycke.</p>

          <h4>När ska jag skicka intyget till Försäkringskassan?</h4>
          <p>Intyg ska endast skickas till Försäkringskassan om samtliga tre punkter är uppfyllda:</p>
          <ul>
            <li>Sjukskrivningen kommer att vara längre än 14 dagar.</li>
            <li>Patienten kommer att ansöka om sjukpenning.</li>
            <li>Patienten kan eller vill inte skicka intyget från Mina intyg.</li>
          </ul>
          <p>Observera att patienten måste ge sitt samtycke för att du ska kunna skicka intyget elektroniskt direkt till
            Försäkringskassan.</p>
        </div>

        <div wc-authority feature="hanteraFragor">
          <h3>Fråga och svars-funktionen</h3>

          <h4>Hur ställer jag en fråga till Försäkringskassan?</h4>
          <p wc-authority role="PRIVATLAKARE">
            Funktionen för frågor och svar blir tillgänglig först när intyget är signerat och skickat till
            Försäkringskassan.
            Gå in i intyget för att se alla frågor och svar för det aktuella läkarintyget. Du kan se vårdenhetens alla
            frågor
            och svar under fliken "Frågor och svar". När en ny fråga kommit från Försäkringskassan får du ett mejl till
            den
            e-postadress du angav när du skapade ett konto i Webcert. Det syns också en röd notifiering på fliken
            ”Frågor och svar”.
            Siffran visar hur många frågor du har fått. Gå in på fliken "Frågor och svar".
            I listan ser du vilka patienter som Försäkringskassan ställt frågor om.</p>
          <p wc-authority role="!PRIVATLAKARE">
            Funktionen för fråga och svar blir tillgänglig först när intyget är signerat och skickat till
            Försäkringskassan.
            Gå in i intyget för att se alla frågor och svar för det aktuella läkarintyget.
            Du kan se vårdenhetens alla frågor och svar under fliken "Frågor och svar".</p>


          <div wc-authority role="!PRIVATLAKARE">
            <h4>Hur vet jag om det har kommit en fråga från Försäkringskassan?</h4>
            <p>Enhetens vårdadministratör får via mejl information om när ett nytt ärende har kommit in från
              Försäkringskassan.
              Vårdadministratören ansvarar för att rätt läkare får information om det nya ärendet.</p>
          </div>

          <h4>Jag har skickat en fråga till Försäkringskassan, hur ser jag om det kommit ett svar?</h4>
          <p wc-authority role="PRIVATLAKARE">När ett svar kommit från Försäkringskassan får du ett mejl till den
            e-postadress du angav när du skapade ett konto i Webcert. Du kan också se det på något av följande sätt:</p>
          <p wc-authority role="!PRIVATLAKARE">Du kan se det på något av följande sätt:</p>
          <ul>
            <li>Gå in på den berörda patientens intyg</li>
            <li>Gå in på fliken "Frågor och svar"</li>
          </ul>
          <p wc-authority role="!PRIVATLAKARE">Enhetens vårdadministratör får via mejl information om när ett nytt
            ärende från
            Försäkringskassan har inkommit och ansvarar för att rätt läkare får information om det nya ärendet.
            Fråga din vårdadministratör om svaret har kommit.</p>

          <h4>När försvinner frågor från listan under fliken "Frågor och svar"?</h4>
          <p>En fråga försvinner aldrig från listan över frågor och svar, däremot så visas den inte i listan när den är
            markerad som hanterad. Det går att söka efter och se en hanterad fråga med hjälp av sökfiltret.</p>

          <h4>En fråga har besvarats via brev och ligger därmed kvar som obesvarad i Webcert. Hur tar jag bort
            frågan?</h4>
          <p>Öppna intyget som frågan hör till. Klicka på knappen "Markera som hanterad".</p>

        </div>
      </div>
    </div>
  </div>
</div>
