<div>
  <h1 class="page-title"><span message key="dashboard.about.title"></span></h1>
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: isActive(menu.link)}" ng-repeat="menu in menuItems">
          <a id="{{menu.id}}" ng-href="{{menu.link}}">{{menu.label}}<i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 about-content">
      <h2 class="col-head col-head-about">{{currentSubMenuLabel}}</h2>
      <div ng-transclude></div>
    </div>
  </div>
</div>
