wc-vardenhet-filter {

  $arende-unit-color: $wc-color-08;
  $arende-unit-hover-background-color: $wc-color-20;
  $arende-circle-color: $wc-color-00;
  $arende-circle-background-color: $wc-color-17;
  $arende-circle-active-background-border-color: $wc-color-11;
  $unit-table-button-selected-color: $wc-color-00;
  $unit-table-button-selected-background-color: $wc-color-21;

  display: block;

  .page-heading2 {
    padding-bottom: 10px !important;
  }

  .card {
    padding: 20px;
    box-shadow: 0 2px 4px 0 $black_12;
    border: 1px solid $wc-color-27;
    max-height: 14em;
    overflow: hidden;
    overflow-y: auto;
  }

  .unit-table {
    margin: 0;
    padding-bottom: 5px;
    width: 100%;

    button {
      display: flex;
      align-items: center;
    }

    button.selected {
      color: $unit-table-button-selected-color;
      font-weight: bold;
      background: none;
      filter: none;
      background-color: $unit-table-button-selected-background-color;
    }
  }

  .arende-unit {
    color: $arende-unit-color;
    text-align: left;
    border: 0;
    display: block;
    padding: 8px 50px 8px 30px;
    position: relative;
    width: 100%;

    transition: none;
    &:focus {
      outline: none;
    }
    &:hover {
      background: none;
      background-color: $arende-unit-hover-background-color;
    }

    &.inactive {
      padding-left: 30px;
      background-color: $wc-color-00;
    }

    .ovrigt-icon {
      position: absolute;
      margin-left: -24px;
    }

  }

  .arende-unit-strong {
    font-weight: bold;
  }

  .arende-unit-weak {
    padding-left: 20px;
  }

  a.arende-unit {
    color: $arende-unit-color;
  }

  .arende-circle {
    background-color: $arende-circle-background-color;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: $arende-circle-color;
    padding: 1px 6px 0;
    margin-left: 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .arende-circle-active {
    background-color: $arende-circle-background-color;
    border-color: $arende-circle-background-color;
    color: $arende-circle-color;
  }

}
