<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="info"/>

  <logger name="org.apache.camel" level="info"/>

  <logger name="org.apache.activemq" level="info"/>

  <logger name="org.apache.xbean" level="warn"/>

  <logger name="se.inera.intyg.webcert.notification_sender.notifications" level="debug"/>

  <logger name="se.inera.intyg.webcert.notification_sender.notifications.resend" level="error"/>

  <root>
    <level value="debug"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
