<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="se.inera.intyg.webcert.web.logging.PatternLayoutWithUserContext">
        <param name="Pattern" value="%date{ISO8601} %session %user %selectedCareUnit - %msg%n" />
      </layout>
    </encoder>
  </appender>

  <logger name="org.springframework" level="error" />

  <logger name="org.hibernate" level="error" />

  <logger name="org.apache.cxf.services" level="error" />

  <logger name="se.inera.intyg.webcert.web" level="debug" />
  <logger name="se.inera.intyg.common.support.modules" level="debug" />

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
