<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>2015-09-25 08:08:59,835 SESSION-1 USER-1 UNIT-1 - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="error" />

  <logger name="org.hibernate" level="error" />

  <logger name="org.apache.cxf.services" level="error" />

  <logger name="se.inera.auth" level="debug" />
  <logger name="se.inera.webcert" level="debug" />
  <logger name="se.inera.certificate.modules" level="debug" />

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>