<!--
  ~ Copyright (C) 2020 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<included>

    <!-- Default logging configuration for openshift. To be included by web-apps. -->

    <property name="TIMESTAMP" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level"/>
    <property name="SESSION" value="%X{req.sessionInfo:--}"/>
    <property name="TRACE" value="%X{req.traceId:--}"/>
    <property name="LINE" value="--- %-40.40logger{39} : %replace(%m%rEx){'[\r\n]+', '&#x000D;'}%nopex%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [console,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="MONITORING" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>Monitoring</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="se.inera.intyg.infra.monitoring.logging.UserPatternLayout">
            <pattern>${TIMESTAMP} [monitoring,${SESSION},${TRACE},%user] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="VALIDATION" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>Validation</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [validation,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="PROCESS" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [process,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [access,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="FRONTEND" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [frontend,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

</included>

