<!--<div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content" modal-transclude></div></div>-->
<div class="modal-dialog {{modal.extraDlgClass}}" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"
     style="width: {{modal.width}}; max-width: {{modal.maxWidth}}; min-width: {{modal.minWidth}}; height: {{modal.height}}; max-height: {{modal.maxHeight}}; min-height: {{modal.minHeight}}; ">

  <div class="modal-content" style="height:{{modal.contentHeight}}; overflow-y:{{modal.contentOverflowY}}; min-height:{{modal.contentMinHeight}}">

    <div id="{{modal.dialogId}}" class="modal-header">
      <button class="close" ng-click="close()" ng-if="modal.showClose">×</button>
      <h3 ng-focus="model.focus" tabindex="-1">
        <span message key="{{modal.titleId}}"></span>
      </h3>
    </div>

    <div style="overflow-y:{{modal.bodyOverflowY}}; height:76%">
    <div class="modal-body modal-body-terms" >

        <div wc-spinner label="info.loadingdata" show-spinner="!doneLoading" show-content="doneLoading">
          <img class="pull-left" style="padding-bottom: 20px" src="/img/webcert_grey_small.png" />
          <p style="clear:left;padding-bottom:50px;color:#535353">
             <span style="padding-left:20px;padding-right:30px">Version : {{avtal.avtalVersion}}</span>
             <span>Datum : {{avtal.versionDatum}}</span></p>
          <h1 style="color: black;font-size: 2em">AnvändarVilkor för Webcert</h1>
          <p style="clear:left;padding-bottom: 10px" ng-bind-html="avtal.avtalText"></p>
        </div>
    </div>
    </div>

    <div class="modal-footer" style="bottom: 0;position: absolute;width: 100%;">
      <div class="form-inline">
        <button id="{{modal.button1id}}" class="btn btn-success" ng-click="modal.approve()">
          <span message key="{{modal.button1text}}"></span>
        </button>
        <button id="{{modal.button2id}}" class="btn btn-info" ng-click="modal.print()">
          <span message key="{{modal.button2text}}"></span>
        </button>
        <button id="{{modal.button3id}}" class="btn btn-info" ng-click="modal.logout()">
          <span message key="{{modal.button3text}}"></span>
        </button>
      </div>
    </div>
  </div>

</div>

