<div style="overflow-y:hidden;" wc-spinner label="info.loadingdata" show-spinner="!options.terms.doneLoading" show-content="options.terms.doneLoading">
  <img class="pull-left" style="padding-bottom: 20px" src="/img/webcert_grey_small.png" />
  <p style="clear:left;padding-bottom:50px;color:#535353">
    <span style="padding-left:20px;padding-right:30px">Version : {{options.terms.avtal.avtalVersion}}</span>
    <span>Datum : {{options.terms.avtal.versionDatum}}</span></p>
  <h1 style="color: black;font-size: 2em">Användarvillkor för Webcert</h1>
  <p style="clear:left;padding-bottom: 10px" ng-bind-html="options.terms.avtal.avtalText"></p>
</div>