wc-signed-certificates-list {
  overflow-y: auto;

  .icon-wc-ikon-19 {
    margin-right: 6px;
  }

  .no-filtered-results {
    padding-top: 10px;
  }

  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .tablet-list {
    margin: 0 15px;

    .signed-certificates-list {
      display: table;
      width: 100%;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $wc-color-21;
      }

      .row > div:first-child {
        @extend %wc-typo-06;
        color: $wc-color-19;
      }
    }

    > .signed-certificates-list:nth-of-type(even) {
      background-color: $wc-color-20;
    }

    > .signed-certificates-list:nth-of-type(odd) {
      background-color: $wc-color-00;
    }

    .row {
      margin: 15px 0;
    }

    margin-bottom: 20px;
  }
}

