wc-signed-certificates-list {
  overflow-y: auto;

  .icon-wc-ikon-19 {
    margin-right: 6px;
  }

  .no-filtered-results {
    padding-top: 10px;
  }

  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}