<div class="modal-header">
  <button type="button" class="close" ng-click="close();">×</button>
</div>

<div class="modal-body">
  <img aria-labelledby="loading-message" src="/img/ajax-loader.gif" />
  <h3 ng-if="biljettStatus() !== 'BEARBETAR' && biljettStatus() !== 'NO_CLIENT'"><span dynamic-label key="common.modal.label.signing"/></h3>
  <div ng-if="biljettStatus() !== 'BEARBETAR' && biljettStatus() !== 'NO_CLIENT'"><span dynamic-label key="common.modal.label.signing.seconds"/></div>
  <div ng-if="biljettStatus() === 'NO_CLIENT'"><span dynamic-label key="common.modal.label.signing.mobilt.noclient"/></div>
  <div ng-if="biljettStatus() === 'BEARBETAR'"><span dynamic-label key="common.modal.label.signing.open.mobilt.bankid"/></div>
</div>