<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2018 Inera AB (http://www.inera.se )
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg ).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/> .
  -->
<configuration>
    <!-- logback config for the Openshift Container Platform (OCP). Stream to stdout, use layout and appenders from infra. -->

    <property name="APP_NAME" value="${APP_NAME:-webcert}"/>

    <!-- INTYG-7892: Ugly fix to avoid rebuild of infra and all applications for 2018-4 -->
    <!-- The tags below comes from logback-ocp-base.xml in infra with changes to LINE -->
    <!-- The changes to LINE will be implemented in 2019-1 and the block below will be removed -->
    <property name="TIMESTAMP" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level"/>
    <property name="SESSION" value="%X{req.sessionInfo:--}"/>
    <property name="TRACE" value="%X{req.traceId:--}"/>
    <property name="LINE" value="--- %-40.40logger{39} : %replace(%m%rEx){'[\r\n]+', '&#x000D;'}%nopex%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [console,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="MONITORING" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>Monitoring</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="se.inera.intyg.infra.monitoring.logging.UserPatternLayout">
            <pattern>${TIMESTAMP} [monitoring,${SESSION},${TRACE},%user] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="VALIDATION" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>Validation</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [validation,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="PROCESS" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [process,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [access,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <appender name="FRONTEND" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <markers>Monitoring,Validation</markers>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [frontend,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <!-- End of fix for INTYG-7893 -->

    <appender name="HSA" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="se.inera.intyg.infra.monitoring.logging.MarkerFilter">
            <marker>HSA</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${TIMESTAMP} [hsa,${SESSION},${TRACE}] ${LINE}</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="off" />

    <logger name="se.inera.intyg.webcert.web.auth" level="info" />

    <logger name="se.inera.intyg.webcert" level="info" />

    <logger name="se.inera.intyg.common" level="info" />

    <logger name="org.apache.cxf" level="off" />

    <logger name="com.fasterxml.jackson" level="off" />

    <logger name="org.springframework.transaction" level="info" />

    <logger name="se.inera.webcert.notifications" level="info" />

    <logger name="se.inera.intyg.intygstyper" level="info" />

    <logger name="se.inera.intyg.infra.integration" level="info" />

    <!-- Log service for monitoring and audit information -->
    <logger name="se.inera.intyg.webcert.web.service.monitoring.MonitoringLogService" level="info">
        <appender-ref ref="MONITORING" />
    </logger>

    <!-- Log service for logging JavaScript exceptions from GUI, set to info or off -->
    <logger name="se.inera.intyg.webcert.web.web.controller.api.JsLogApiController" level="off" />

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="HSA"/>
    </root>

</configuration>
