
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('/web/webjars/common/webcert/fonts/Roboto-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/web/webjars/common/webcert/fonts/Roboto-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('/web/webjars/common/webcert/fonts/Roboto-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/web/webjars/common/webcert/fonts/Roboto-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('/web/webjars/common/webcert/fonts/Roboto-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/web/webjars/common/webcert/fonts/Roboto-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('/web/webjars/common/webcert/fonts/Roboto-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/web/webjars/common/webcert/fonts/Roboto-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//Font priority
$font-0: Roboto;
$font-1: helvetica;
$font-2: arial;
$font-3: sans-serif;


@mixin font-variant-light($font-size: 14px) {
  font-family: $font-0, $font-1, $font-2, $font-3;
  font-size: $font-size;
  font-weight: 300;
}

@mixin font-variant-regular($font-size: 14px) {
  font-family: $font-0, $font-1, $font-2, $font-3;
  font-size: $font-size;
  font-weight: 400;
}

@mixin font-variant-medium($font-size: 14px) {
  font-family: $font-0, $font-1, $font-2, $font-3;
  font-size: $font-size;
  font-weight: 500;
}

@mixin font-variant-bold($font-size: 14px) {
  font-family: $font-0, $font-1, $font-2, $font-3;
  font-size: $font-size;
  font-weight: 700;
}


/*
Placeholders for the typography classes.

Note that the typo classes does NOT specify color or background, as this is not part of
the wc-typo-xx specs (https://inera-certificate.atlassian.net/wiki/spaces/IT/pages/166953134/A+-+Typografi)

Color and background should be specified at the extension point, eg:

.vardgivare {
      @extend %wc-typo-05;
      color: $wc-color-09;
 }

 */

%wc-typo-01 {
  @include font-variant-light(25px);
}

%wc-typo-02 {
  @include font-variant-medium(18px);
}

%wc-typo-03 {
  @include font-variant-light(18px);
}

%wc-typo-04 {
  @include font-variant-bold(18px);
}

%wc-typo-05 {
  @include font-variant-medium(16px);
}

%wc-typo-06 {
  @include font-variant-medium(14px);
}

%wc-typo-07 {
  @include font-variant-regular(14px);
}

%wc-typo-08 {
  @include font-variant-regular(14px);
  text-decoration: underline;
}

%wc-typo-09 {
  @include font-variant-regular(12px);
}

%wc-typo-10 {
  @include font-variant-regular(16px);
}

%wc-typo-11 {
  @include font-variant-regular(12px);
  font-style: italic;
}

%wc-typo-12 {
  @include font-variant-regular(14px);
  font-style: italic;
}

%wc-typo-13 {
  @include font-variant-bold(12px);
}

%wc-typo-14 {
  @include font-variant-bold(14px);
}

//WC - Demo font styles - ONLY to be used in views/font-demo.html!
.font-variant-light {
  @include font-variant-light(24px);
  font-size: inherit;
}
.font-variant-regular {
  @include font-variant-regular(24px);
  font-size: inherit;
}
.font-variant-medium {
  @include font-variant-medium(24px);
  font-size: inherit;
}
.font-variant-bold {
  @include font-variant-bold(24px);
  font-size: inherit;
}
//--------------------------------------

%fonts {
  font-size: 14px;
  font-family: $font-0, $font-1, $font-2, $font-3;
  text-align: left;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* (24px) Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*
 Custom icon font (built with fontello)
 */

 @font-face {
  font-family: 'wc-customicons_03';
  src: url('/fonts/wc-customicons_03.eot?43248863');
  src: url('/fonts/wc-customicons_03.eot?43248863#iefix') format('embedded-opentype'),
       url('/fonts/wc-customicons_03.woff2?43248863') format('woff2'),
       url('/fonts/wc-customicons_03.woff?43248863') format('woff'),
       url('/fonts/wc-customicons_03.ttf?43248863') format('truetype'),
       url('/fonts/wc-customicons_03.svg?43248863#wc-customicons_03') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wc-customicons_03';
    src: url('/fonts/wc-customicons_03.svg?43248863#wc-customicons_03') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "wc-customicons_03";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-wc-ikon-02:before { content: '\e800'; } /* '' */
.icon-wc-ikon-14:before { content: '\e801'; } /* '' */
.icon-wc-ikon-19:before { content: '\e802'; } /* '' */
.icon-wc-ikon-24:before { content: '\e803'; } /* '' */
.icon-wc-ikon-alert02:before { content: '\e804'; } /* '' */
.icon-wc-ikon-comment:before { content: '\e805'; } /* '' */
.icon-wc-ikon-komplettera:before { content: '\e806'; } /* '' */
.icon-wc-ikon-reply:before { content: '\e807'; } /* '' */
.icon-wc-ikon-tek-fragor:before { content: '\e808'; } /* '' */
.icon-wc-ikon-fraga:before { content: '\e809'; } /* '' */
.icon-wc-ikon-30:before { content: '\e80a'; } /* '' */
.icon-wc-ikon-39:before { content: '\e80b'; } /* '' */
.icon-wc-ikon-38:before { content: '\e80c'; } /* '' */
.icon-wc-ikon-42:before { content: '\e80d'; } /* '' */
.icon-wc-ikon-43:before { content: '\e80e'; } /* '' */
.icon-wc-ikon-44:before { content: '\e80f'; } /* '' */

/*
  Sizes
 */
.icon-wc-18 { font-size: 18px; }
.icon-wc-24 { font-size: 24px; }
.icon-wc-32 { font-size: 32px; }
.icon-wc-36 { font-size: 36px; }
.icon-wc-48 { font-size: 48px; }
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
