// Bootstrap variables (Here we override bootstraps default values with WC custom variables defined above)
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

$wc-color-07: #212121;
$wc-color-08: #3C3C3C;
$wc-color-09: #6A6A6A;
$wc-color-22: #9A9A9A;
$wc-color-23: #A9B2BD;
$wc-color-15: #CDCED6;
$wc-color-13: #E1E1E1;
$wc-color-20: #F2F2F2;
$wc-color-00: #FFFFFF;

$wc-color-01: #F8BFC5;
$wc-color-04: #99303B;
$wc-color-11: #F06F7D;

$wc-color-16: #4C7B67;
$wc-color-10: #41BFA0;

$wc-color-05: #7A5F24;
$wc-color-12: #E8AD0E;
$wc-color-18: #FFC794;
$wc-color-02: #FEECBB;

$wc-color-19: #292F4F;
$wc-color-17: #3D4260;
$wc-color-06: #003C75;
$wc-color-14: #70748A;
$wc-color-21: #496CEC;
$wc-color-03: #B3E5FC;
