//how wide should effective content on page grow to before add spacing to sides
$wc-max-content-width: 1440px;

// Bootstrap variables (Here we override bootstraps default values with WC custom variables defined above)
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// Standard colors WC
$wc-color-07: #212121;
$wc-color-08: #3C3C3C;
$wc-color-09: #6A6A6A;
$wc-color-22: #9A9A9A;
$wc-color-23: #A9B2BD;
$wc-color-15: #CDCED6;
$wc-color-27: #D7D7DD;
$wc-color-13: #E1E1E1;
$wc-color-28: #E9EAED;
$wc-color-20: #F2F2F2;
$wc-color-24: #F5F6F7;
$wc-color-00: #FFFFFF;

$wc-color-01: #F8BFC5;
$wc-color-04: #9A303B;
$wc-color-11: #DA4453;

$wc-color-30: #355547;
$wc-color-16: #4C7B67;
$wc-color-10: #37BC9B;
$wc-color-31: #00a9a7;
$wc-color-29: #99E5D2;

$wc-color-05: #765A20;
$wc-color-12: #F6BB42;
$wc-color-18: #FFC794;
$wc-color-02: #FFEBBA;

$wc-color-19: #292F4F;
$wc-color-17: #3D4260;
$wc-color-06: #003C75;
$wc-color-26: #4B566F;
$wc-color-14: #70748A;

$wc-color-21: #496CEC;
$wc-color-25: #8AA7F5;
$wc-color-03: #B3E5FC;

// Shadows
$black_30: rgba(0, 0, 0, 0.3);
$black_24: rgba(0, 0, 0, 0.24);
$black_12: rgba(0, 0, 0, 0.12);

// Glyphicon (remove when material icons are used for this)
$glyphicon-question-sign-color: $wc-color-16;
$glyphicon-question-sign-hover-color: $wc-color-10;

// WC BOOTSTRAP TWEAK VARIABLES (UNOFFICIAL)

// Button
$btn-common-hover-background-color: $wc-color-21;
$btn-common-hover-text-color: $wc-color-00;

// Dropdown
$dropdown-menu-box-shadow-color: $black_30;

// Tables
$table-striped-background-color-even: $wc-color-20;
$table-striped-background-color-odd: $wc-color-00;
$table-striped-border-radius: 4px;

// Nav
$nav-pills-color: $wc-color-00;
$nav-pills-a-border-color: $wc-color-13;
$nav-pills-background-color: $wc-color-16;
$nav-pills-text-shadow-color: $black_30;
$nav-pills-active-chevron-right-color: $wc-color-00;
$nav-stacked-chevron-right-color: $wc-color-08;
