<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="rhsIndexApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<base href="/">
<title>Signeringsverktyget</title>

<!-- bower:css -->
<!-- endbower -->
<link rel="stylesheet" href="/web/webjars/common/webcert/wc-common.css" />
<link rel="stylesheet" href="/app/webcert.css" />

</head>
<style>
  html, body {
    height: 100%;
    margin: 4px;
    padding: 0px;
  }

</style>

<body class="index-page" ng-controller="IndexController">

  <div class="index-content-container">

    <!-- header part   -->
    <div class="index-header-section">

          </div>


          <div ng-if="isNetID">
            <p class="well">
              Fejksignering med NetID startad. Välj slutför eller avbryt nedan.
              <button class="btn btn-success" ng-click="signeraKlient()">Slutför</button>
              <button class="btn btn-error" ng-click="signeraAvbryt()">Avbryt</button>
            </p>

            <span>Status: {{ statusMessage }}</span>

          </div>


          <div ng-if="isBankID">
            <p class="well">
              Fejksignering med isBankID startad. Välj slutför eller avbryt nedan.
              <button class="btn btn-success" ng-click="bekraftaSigneringGrp()">Slutför</button>
              <button class="btn btn-error" ng-click="signeraAvbrytGrp()">Avbryt</button>
              <span>Status: {{ statusMessage }}</span>
              <span>GRP status: {{ grpStatusMessage }}</span>
            </p>
          </div>



        </div>
      </div>


      <div class="row">
        <div class="col-md-9">
          <div>
            <h2>Pågående BankID-signeringar</h2>
            <hr/>
            <table class="table table-striped">
              <thead>
              <th>Transaktions-ID</th>
              <th>Order ref.</th>
              <th>Status</th>
              <th>Åtgärd</th>
              </thead>
              <tbody>
              <tr ng-repeat="d in ongoingGrpSignatures">
                <td>{{ d.transactionId}}</td>
                <td>{{ d.orderRef}}</td>
                <td>{{ d.grpSignatureStatus }}</td>
                <td>
                  <button class="btn btn-success" ng-click="setGrpStatus(d.orderRef, 'COMPLETE')">Slutför</button>
                  <button class="btn btn-default" ng-click="setGrpStatus(d.orderRef, 'USER_SIGN')">Påbörjad</button>
                  <button class="btn btn-error" ng-click="signeraAvbrytGrp(d.transactionId)">Avbryt</button>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- bower:js -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_sv-se.js"></script>
  <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
  <script type="text/javascript" src="/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
  <script type="text/javascript" src="/bower_components/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="/bower_components/highcharts/modules/accessibility.js"></script>
  <!-- endbower -->

  <script type="text/javascript" src="/pubapp/signapp/index-app.main.js"></script>
</body>
</html>
