wc-school-link {
  display: inline;

  .school-icon { /* the school icon has incorrect width in the font and must be restricted manually */
    width: 27px;
    color: $wc-color-31;
  }

  a.external-link {
    color: $wc-color-31;
    &:hover {
      color: $wc-color-21;
    }
  }

  .bg-plate {
    background: $wc-color-20;
    padding: 20px;
    margin-bottom: 10px;
  }
}
