<div id="wcHeader" wc-header></div>
<div class="container-fluid">
  <div class="row" id="about-webcert-webcert">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>
        <p>
          Webcert är en tjänst som gör det möjligt att utfärda elektroniska läkarintyg och samla dem på ett ställe.
          Intyg som kan utfärdas i Webcert är:</p>
        <ul>
          <li wc-feature-active feature="hanteraIntygsutkast" intygstyp="fk7263">Läkarintyg FK 7263</li>
          <li wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-bas">Transportstyrelsens läkarintyg</li>
          <li wc-feature-active feature="hanteraIntygsutkast" intygstyp="ts-diabetes">Transportstyrelsens läkarintyg, diabetes</li>
        </ul>
        <p>
          I kommande versioner av tjänsten blir det möjligt att utfärda fler typer av läkarintyg. </p>

        <h4>Användarkrav för Webcert</h4>
        <ul>
          <li>SITHS-kort (kallas även eTjänstekort eller tjänstekort)</li>
          <li>legitimeringskod kopplad till SITHS-kortet som används vid inloggning</li>
          <li>underskriftskod kopplad till SITHS-kortet som används för att signera intyg (endast läkare)</li>
          <li>kortläsare</li>
          <li>NetiD installerat i datorn</li>
          <li>användaren ska ha rätt behörighet.</li>
        </ul>

        <h4>Om SITHS-kortet</h4>
        <p>
          SITHS-kortet är en personlig legitimation som inte får lånas ut. Både kort och koder ska förvaras på ett
          säkert sätt. </p>
        <p>Om du har problem med att logga in med ditt kort eller vill veta vilken behörighet du har så kan du testa det
          här: <a href="https://test.siths.se/" target="_blank">test.siths.se</a></p>
        <p>Om du förlorat ditt kort eller misstänker att någon obehörig fått kännedom om dina koder ska kortet spärras
          omedelbart. Om ditt kort har spärrats eller om du glömt någon av koderna ska du vända dig till din
          SITHS-kortadministratör.</p>

        <h4>Användare</h4>
        <p>Webcert har två typer av användare: läkare och vårdadministratörer (exempelvis läkarsekreterare). Behörighet
          för inloggning:</p>
        <ul>
          <li>Vårdadministratör ska ha medarbetaruppdraget "Vård och behandling" i HSA.</li>
          <li>Läkare ska vara legitimerad läkare eller AT-läkare samt ha medarbetaruppdraget "Vård och behandling" i
            HSA.
          </li>
        </ul>
        <p>Alla användare kan skapa, skriva och spara utkast. Endast läkare kan signera och skriva ut intyg samt besvara
          frågor med ämnet "komplettering". Vårdadministratör kan via mejl notifiera läkare om att signera sparade
          intyg.</p>

        <h4>Funktioner och invånarens hantering</h4>
        <p>Intyg som signeras i Webcert sparas även i webbtjänsten Mina intyg, där invånaren själv kan hantera sitt
          intyg. Mina intyg nås via 1177 Vårdguidens e-tjänster. I Mina intyg kan invånaren skicka intyget vidare
          elektroniskt till någon av de anslutna mottagarna, det går även att skriva ut intyget.</p>
        <p>
          Om patienten inte vill använda Mina intyg är det möjligt för läkaren att skicka vissa intygstyper elektroniskt
          direkt från Webcert till mottagaren. Observera att patientens samtycke då krävs. </p>
        <p>
          Om intyget inte skickas på något av dessa sätt kan läkaren skriva ut en kopia på det signerade intyget från
          Webcert och ge till patienten. </p>
        <p>
          För vissa intygstyper finns en elektronisk funktion för frågor och svar. Via funktionen kan läkaren och
          Försäkringskassan kommunicera om ett utfärdat intyg. </p>
        <h4>Webbläsare som stöds</h4>
        <p>
          För att kunna använda Webcerts funktioner behöver du någon av följande webbläsare: </p>
        <ul>
          <li>Internet Explorer 8 eller efterföljande versioner.</li>
          <li>Google Chrome 30 eller efterföljande versioner.</li>
          <li>Safari 5 eller efterföljande versioner.</li>
          <li>Firefox 24 eller efterföljande versioner.</li>
        </ul>
        <p>Du måste även ha JavaScript aktiverat i din webbläsare för att kunna använda Webcert.</p>
        <h4>Adress till vårdenheten</h4>
        <p>
          Intyg som utfärdas i Webcert innehåller adress- och kontaktinformation till den eller de vårdenheter du
          arbetar för. För landstingsanställda läkare hämtas uppgifterna från HSA. Om du upptäcker att adress- och kontaktinformation är
          fel, så kan informationen ändras i HSA. </p>
        <h4>
          Ansvarig för Webcert: </h4>
        <p><a href="http://www.inera.se" target="_blank">Inera AB</a><br>
          Postadress: Box 17703<br>
          118 93 Stockholm<br>
          Organisationsnummer: 556559-4230</p>
      </div>
    </div>
  </div>
</div>