<div id="wcHeader" wc-header></div>
<div class="container-fluid" wc-feature-active feature="hanteraIntygsutkast">
    <div class="row">
      <div id="skapa-valj-patient" class="col-xs-7 webcert-col webcert-col-single">

        <form name="pnrForm" ng-submit="lookupPatient()" novalidate autocomplete="off">
          <h1>Sök/skriv intyg</h1>
          <div class="form-group">
            <label for="pnr" class="control-label">Patientens personnummer</label>
            <input id="pnr" class="form-control" name="pnr" type="text" placeholder="Exempel: ååååmmdd-nnnn" ng-model="personnummer" required wc-person-number wc-visited maxlength="13" wc-focus-me="focusPnr" />
            <div ng-show="pnrForm.pnr.$invalid && pnrForm.pnr.$viewValue && (pnrForm.pnr.$visited || pnrForm.submitted)">
              <span class="error">Du måste ange ett giltigt personnummer</span>
            </div>
          </div>
          <div class="form-group">
            <button id="skapapersonnummerfortsatt" class="btn btn-success" type="submit" ng-disabled="pnrForm.$invalid || widgetState.waiting">
              <img ng-show="widgetState.waiting" ng-src="/img/ajax-loader-small-green.gif"/> Fortsätt
            </button>
          </div>
        </form>
      </div>
    </div>
</div>
