@CHARSET "UTF-8";

@import "mixins/wc-variables";
@import "mixins/bootstrap-variables-override"; // Bootstrap override variables must be loaded before bootstrap due to its !default flags
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss'; // Load bootstrap defaults
@import "mixins/bootstrap-css-override"; // CSS Override only, no bootstrap variables
@import "mixins/fonts";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Component styles are injected through grunt
// injector
@import 'partials/arende-draft-dialog.scss';
@import 'partials/common-dialog.scss';
@import 'partials/copy-dialog.scss';
@import 'partials/createfromtemplate-dialog.scss';
@import 'partials/discard-dialog.scss';
@import 'partials/doiInfo.dialog.scss';
@import 'partials/ersatt-dialog.scss';
@import 'partials/fornya-dialog.scss';
@import 'partials/preference-dialog.scss';
@import 'views/ejSigneradeUtkast/ejSigneradeUtkast.scss';
@import 'views/ejSigneradeUtkast/wcUtkastFilter/wcUtkastFilter.directive.scss';
@import 'views/ejSigneradeUtkast/wcUtkastList/wcUtkastList.directive.scss';
@import 'views/fragorOchSvar/enhetArenden.scss';
@import 'views/fragorOchSvar/wcEnhetArendenFilter/wcEnhetArendenFilter.directive.scss';
@import 'views/fragorOchSvar/wcEnhetArendenList/wcNoArendenMessage/wcNoArendenMessage.directive.scss';
@import 'views/fragorOchSvar/wcVardenhetFilter/wcVardenhetFilter.directive.scss';
@import 'views/index/index.scss';
@import 'views/index/loginMetoder/loginMetoder.directive.scss';
@import 'views/index/wcFooter/wcFooter.directive.scss';
@import 'views/index/wcSchoolLink/wcSchoolLink.directive.scss';
@import 'views/sokSkrivIntyg/patientHeader.scss';
@import 'views/sokSkrivIntyg/sokSkrivIntyg.scss';
@import 'views/sokSkrivIntyg/sokSkrivValjUtkastType.scss';
@import 'views/sokSkrivIntyg/tidigareIntyg.scss';
@import 'views/sokSkrivIntyg/valjUtkastTyp.scss';
@import 'views/sokSkrivIntyg/wcContent.scss';
@import 'views/views.scss';
// endinjector
