<div>

  <h2>Välj inloggning</h2>

  <div class="alert alert-danger" ng-show="showELegWarning">
    <h5>Har du Telia e-legitimation?</h5>
    <p>Webbläsarna Chrome och Edge stödjer inte den metod som Telia e-legitimation använder för att skapa signaturer. För att kunna signera intyg i Webcert måste du därför välja en annan webbläsare.</p>
    <p>Rekommenderad webbläsare är Internet Explorer 11 eller efterföljande versioner.</p>
  </div>

  <div ng-repeat="loginMethod in loginMethods">
    <a ng-href="{{loginMethod.url}}" class="btn btn-login" id="loginBtn{{$index}}">
      {{loginMethod.name}}
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </a>
  </div>

</div>
