wc-login-metoder {
  display: block;

  .btn-login {
    @extend .btn-default;
    width: 185px;
    height: 38px;
    margin-bottom: 5px;
    padding: 9px 14px;
    text-align: left;
    text-decoration: none;
  }
}