<div>
  <div class="container-fluid" style="margin-bottom: 8px">
    <div class="row">
      <h4>Välj inloggning</h4>
      <div class="alert alert-danger" ng-show="showELegWarning">
        <h5>Har du Telia e-legitimation?</h5>
        <p>Webbläsarna Chrome och Edge stödjer inte den metod som Telia e-legitimation använder för att skapa signaturer. För att kunna signera intyg i Webcert måste du därför välja en annan webbläsare.</p>
        <p>Rekommenderad webbläsare är Internet Explorer 9 eller efterföljande versioner.</p>
      </div>
    </div>
    <div class="row">

      <div class="buttonbar">
        <a ng-href="/saml/login/alias/defaultAlias?idp={{config.SAKERHETSTJANST_IDP_URL}}"
           class="btn btn-success" id="loginBtn">SITHS-kort</a>

        <a ng-href="/saml/login/alias/eleg?idp={{config.CGI_FUNKTIONSTJANSTER_IDP_URL}}"
           class="btn btn-success" id="loginBtn2" style="margin-left: 20px;">E-legitimation</a>
      </div>
    </div>
  </div>

  <p class="text-expander" ><a href="#" ng-click="toggleLoginDesc($event)" ng-bind-html="loginDescText"> </a></p>

  <div uib-collapse="collapseLoginDesc" class="well">
    <h4>SITHS-kort</h4>

    <p>Du som arbetar i en organisation som är ansluten till HSA-katalogen samt har medarbetaruppdrag ”Vård och behandling” loggar in med SITHS-kort.</p>

    <p>Problem med inloggning med SITHS-kort?</p>
    <p><a href="#" ng-click="open('/app/views/index/loginMetoder/loginMetoderSithsHelp.html')">Läs mer om hur du kan felsöka</a></p>

    <h4>E-legitimation</h4>

    <p>Du som är läkare enligt Socialstyrelsens register över legitimerad hälso- och sjukvårdspersonal (HOSP)
      men inte arbetar inom en organisation som är ansluten till HSA-katalogen loggar in med e-legitimation.</p>

    <p>Problem med inloggning med e-legitimation?</p>
    <p><a href="#" ng-click="open('/app/views/index/loginMetoder/loginMetoderElegHelp.html')">Läs mer om hur du kan felsöka</a></p>

  </div>

  <div style="margin-top:30px;" class="graybox"><b>Ny användare</b>
    <p>Är du privatläkare och vill kunna utfärda intyg i Webcert? Då behöver du skapa ett konto.</p>

    <a ng-href="{{config.PP_HOST}}">
      Skapa konto i Webcert</a>
  </div>
</div>