wc-utkast-list {
  display: block;

  i.checkmark {
    color: $wc-color-10;
  }

  .tablet-list {
     margin: 0 15px;

    .utkast-list {
      display: table;
      width: 100%;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $wc-color-21;
      }

      .row > div:first-child {
        @extend %wc-typo-06;
        color: $wc-color-19;
      }
    }

    > .utkast-list:nth-of-type(even) {
      background-color: $wc-color-20;
    }

    > .utkast-list:nth-of-type(odd) {
      background-color: $wc-color-00;
    }

    .row {
      margin: 15px 0;
    }

    margin-bottom: 20px;
  }
}