wc-utkast-list {
  display: block;

  i.checkmark {
    color: $wc-color-10;
  }
  .wc-table-striped > tbody > tr > td.wc-table-striped-last {
    padding-right: 0;
  }

  .tablet-list {
     margin: 0 15px;

    .utkast-list {
      display: table;
      width: 100%;
      .row > div:first-child {
        @extend %wc-typo-06;
        color: $wc-color-19;
      }
    }

    > .utkast-list:nth-of-type(even) {
      background-color: $wc-color-20;
    }

    > .utkast-list:nth-of-type(odd) {
      background-color: $wc-color-00;
    }

    .row {
      margin: 15px 0;
    }

    margin-bottom: 20px;
  }
}