.index-vy {
  max-width: 1280px;
  width: 100%;
  flex: 1 0 auto;

  @extend %wc-typo-07;
  color: $wc-color-07;

  h1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
  }

  h2 {
    @extend %wc-typo-05;
    color: $wc-color-08;
  }

  .webcert-logo {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: flex-end;
    }

    img {
      margin-top: 20px;
    }
  }
}
