<div class="webcert-workarea-page container-fluid index-vy" ng-if="showme()">
  <div class="row">
    <div class="col-lg-6 webcert-logo">
      <img src="/img/webcert_bild3_fmb@1x.jpg" />
    </div>
    <div class="col-lg-6">
      <h1>Välkommen till Webcert</h1>
      <p>Webcert används för att utfärda digitala intyg. Här får du också överblick över dina patienters intyg. Du kan se aktuell status, historik och händelser i intygen. Dessutom kan du hantera all ärendekommunikation med mottagaren, till exempel Försäkringskassan.</p>

      <!--<p><wc-school-link></wc-school-link></p>-->

      <wc-alert-message alert-severity="info" ng-if="showIeEndOfSupportMessage()" style="margin-bottom:-20px;">
        <p>Information om webbläsaren Internet Explorer.</p>
        <p>Den 15:e juni 2022 upphör Microsofts support för Internet Explorer.</p>
        <p>Webcert fungerar med webbläsare Edge Chromium och Chrome men för att signera med SITHS-kort behöver du installera programvaran SITHS eID windowsklient på din dator.</p>
        <p>För mer information se
          <span class="unbreakable">
            <a href="https://inera.atlassian.net/wiki/x/AQB-pQ" target="_blank" class="external-link" rel="noopener noreferrer">Fristående Webcert - signering i Chrome och Edge Chromium</a>
            <i class="external-link-icon material-icons">launch</i>
          </span> OBS! Länken fungerar inte med Internet Explorer.
        </p>
      </wc-alert-message>

      <wc-login-metoder />
    </div>
  </div>
</div>

<wc-footer/>
