<div class="webcert-workarea-page container-fluid index-vy">
  <div class="row">
    <div class="col-lg-6 webcert-logo">
      <img src="/img/webcert_bild3_fmb@1x.jpg" />
    </div>
    <div class="col-lg-6">
      <h1>Välkommen till Webcert</h1>
      <p>Webcert används för att utfärda digitala intyg. Här får du också överblick över dina patienters intyg. Du kan se aktuell status, historik och händelser i intygen. Dessutom kan du hantera all ärendekommunikation med mottagaren, till exempel Försäkringskassan.</p>
      <p><i class="material-icons">school_outline</i> <span dynamiclink key="ineraIntygsskola"></span></p>
      <wc-login-metoder />
    </div>
  </div>
</div>

<wc-footer/>
