<!-- loading animation table result -->
<div wc-spinner label="info.running.query" show-spinner="widgetState.runningQuery"
     show-content="!widgetState.runningQuery">

  <div class="webcert-col-section qa-table-section">

    <!-- No results message for query -->
    <div id="current-list-noResults-query"
         ng-show="widgetState.doneLoading && widgetState.totalCount < 1 && !widgetState.activeErrorMessageKey && widgetState.filteredYet"
         class="alert alert-info">
      <span message key="info.query.noresults"></span>
    </div>

    <!-- error message -->
    <div id="current-list-noResults-error" ng-show="widgetState.activeErrorMessageKey"
         class="alert alert-danger">
      <span message key="{{widgetState.activeErrorMessageKey}}"></span>
    </div>

    <!-- Search hits -->
    <div id="query-count" ng-show="widgetState.totalCount > 0">
      Sökresultat - {{widgetState.totalCount}} träffar
    </div>

    <!-- qa table - Frågor och svar-tabell -->
    <div class="row" ng-show="widgetState.currentList.length > 0" id="qaTable">
      <table class="col-md-12 table table-striped table-qa">
        <tr>
          <th></th>
          <th wc-authority="VIDAREBEFORDRA_FRAGASVAR"></th>
          <th wc-table-head label-key="th.label.qa-forwarded" help-key="th.help.qa-forwarded" wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center"></th>
          <th wc-table-head label-key="th.label.qa-action" help-key="th.help.qa-action"></th>
          <th wc-table-head label-key="th.label.qa-sender" help-key="th.help.qa-sender"></th>
          <th wc-table-head label-key="th.label.qa-patient" help-key="th.help.qa-patient"></th>
          <th wc-table-head label-key="th.label.qa-signed-by" help-key="th.help.qa-signed-by"></th>
          <th wc-table-head label-key="th.label.qa-sent-recv-date" help-key="th.help.qa-sent-recv-date"></th>
        </tr>
        <tr ng-repeat="qa in widgetState.currentList">
          <td>
            <button type="button" class="btn btn-info" title="Visar intyget och fråga-svar."
                    ng-click="openIntyg(qa.intygId, qa.intygTyp)" id="showqaBtn-{{qa.meddelandeId}}">Visa
            </button>
          </td>
          <td wc-authority="VIDAREBEFORDRA_FRAGASVAR">
            <button type="button"
                    class="btn vidarebefordra-btn"
                    ng-class="{'btn-info': !qa.vidarebefordrad, 'btn-secondary' : qa.vidarebefordrad}"
                    title="Skicka mejl med en länk till intyget för att informera den som ska hantera frågan-svaret."
                    ng-click="openMailDialog(qa)">
              <span class="glyphicon glyphicon-share-alt"
                    ng-class="{'forward-active': !qa.vidarebefordrad, 'forward-inactive': qa.vidarebefordrad}"></span>
            </button>
          </td>
          <td wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center">
            <input class="vidarebefordrad-checkbox" id="selected" type="checkbox" ng-disabled="qa.updateInProgress"
                   ng-model="qa.vidarebefordrad" ng-change="onVidareBefordradChange(qa)" />
                                  <span ng-if="qa.updateInProgress"> <img
                                      src="/img/ajax-loader-kit-16x16.gif"></span>
          </td>
          <td><span ng-show="qa.paminnelse">Påminnelse:</span> <span message key="qa.measure.{{qa.measureResKey}}"></span></td>
          <td><span message key="qa.fragestallare.{{qa.fragestallare}}"></span></td>
          <td id="patientId-{{qa.meddelandeId}}" class="unbreakable">{{qa.patientId | PersonIdFormatter}} <span wc-sekretess-avliden uuid="qa.meddelandeId" sekretessmarkering="qa.sekretessmarkering"></span></td>
          <td>{{qa.signeratAvNamn}}</td>
          <td class="unbreakable table-qa-last">{{qa.receivedDate | date:'short'}}
          </td>
      </table>
    </div>
    <div id="showing-nr-hits" ng-show="widgetState.totalCount>0">Visar
      träff 1 - {{widgetState.currentList.length}} av
      {{widgetState.totalCount}}
    </div>
    <div ng-show="widgetState.currentList.length < widgetState.totalCount">
      <button type="button" id="hamtaFler" class="btn btn-default" title="Hämta fler träffar" ng-click="fetchMore()"
              ng-disabled="widgetState.fetchingMoreInProgress">
        <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta
        fler träffar
      </button>
    </div>
  </div>
</div>
