<!-- loading animation table result -->
<wc-spinner label="info.running.query" show-spinner="listModel.viewState.runningQuery">

  <div class="arende-table-section">

    <!-- No results message for query -->
    <div id="current-list-noResults-query"
         ng-show="listModel.totalCount < 1 && listModel.viewState.runningQuery && !listModel.viewState.activeErrorMessageKey">
      <span dynamic-label key="info.query.noresults"></span>
    </div>

    <!-- error message -->
    <wc-alert-message id="current-list-noResults-error" ng-show="listModel.viewState.activeErrorMessageKey"
                      alert-severity="danger"
                      alert-message-id="{{listModel.viewState.activeErrorMessageKey}}"></wc-alert-message>

    <!-- Search hits -->
    <div id="query-count" ng-show="listModel.totalCount > 0">
      Sökresultat - {{listModel.totalCount}} träffar
    </div>

    <!-- arende table - Frågor och svar-tabell -->
    <div class="row" ng-show="listModel.arendenList.length > 0" id="arendeTable">
      <table class="col-md-12 table table-striped wc-table-striped">
        <tr>
          <th></th>
          <th wc-authority="VIDAREBEFORDRA_FRAGASVAR"></th>
          <th wc-table-head label-key="th.label.arende-forwarded" help-key="th.help.arende-forwarded" wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center"></th>
          <th wc-table-head label-key="th.label.arende-action" help-key="th.help.arende-action"></th>
          <th wc-table-head label-key="th.label.arende-sender" help-key="th.help.arende-sender"></th>
          <th wc-table-head label-key="th.label.arende-patient" help-key="th.help.arende-patient"></th>
          <th wc-table-head label-key="th.label.arende-signed-by" help-key="th.help.arende-signed-by"></th>
          <th wc-table-head label-key="th.label.arende-sent-recv-date" help-key="th.help.arende-sent-recv-date"></th>
        </tr>
        <tr ng-repeat="arende in listModel.arendenList">
          <td>
            <button type="button" class="btn btn-secondary" title="Visar intyget och fråga-svar."
                    ng-click="openIntyg(arende.intygId, arende.intygTyp)" id="showarendeBtn-{{arende.meddelandeId}}">Visa
            </button>
          </td>
          <td wc-authority="VIDAREBEFORDRA_FRAGASVAR">
            <button type="button"
                    class="btn"
                    ng-class="{'btn-primary': !arende.vidarebefordrad, 'btn-secondary' : arende.vidarebefordrad}"
                    title="Skicka mejl med en länk till intyget för att informera den som ska hantera frågan-svaret."
                    ng-click="openMailDialog(arende)"
                    wc-authority="VIDAREBEFORDRA_FRAGASVAR" intygstyp="{{::arende.intygTyp}}">
              <span class="glyphicon glyphicon-share-alt"
                    ng-class="{'forward-active': !arende.vidarebefordrad, 'forward-inactive': arende.vidarebefordrad}"></span>
            </button>
          </td>
          <td wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center">
            <div wc-authority="VIDAREBEFORDRA_FRAGASVAR" intygstyp="{{::arende.intygTyp}}">
              <div ng-if="arende.vidarebefordrad"><i class="material-icons">check</i></div>
            </div>
          </td>
          <td><span ng-show="arende.paminnelse">Påminnelse:</span> <span dynamic-label key="arende.measure.{{arende.measureResKey}}"></span></td>
          <td><span dynamic-label key="common.arende.fragestallare.{{arende.fragestallare}}"></span></td>
          <td id="patientId-{{arende.meddelandeId}}" class="unbreakable">{{arende.patientId | PersonIdFormatter}} <wc-sekretess-avliden-ikon uuid="arende.meddelandeId" sekretessmarkering="arende.sekretessmarkering"></wc-sekretess-avliden-ikon></td>
          <td>{{arende.signeratAvNamn}}</td>
          <td class="unbreakable wc-table-striped-last">{{arende.receivedDate | date:'short'}}
          </td>
      </table>
    </div>
    <div id="showing-nr-hits" ng-show="listModel.totalCount > 0">Visar
      träff 1 - {{listModel.arendenList.length}} av
      {{listModel.totalCount}}
    </div>
    <div ng-show="listModel.arendenList.length < listModel.totalCount">
      <button type="button" id="hamtaFler" class="btn btn-default" title="Hämta fler träffar" ng-click="fetchMore()"
              ng-disabled="listModel.fetchingMoreInProgress">
        <img src="/img/loader-small.gif" ng-show="listModel.viewState.fetchingMoreInProgress"> Hämta
        fler träffar
      </button>
    </div>
  </div>
</wc-spinner>
