<div>

  <div ng-show="listModel.totalCount > 0"> <!-- NOTE: must be ng-show since event from vardenhetfilter is sent to filter controller which doesnt exist with ng-if -->
    <h2 class="page-heading1"  ng-class="{'less-top-padding' : vardenhetFilterModel.units.length < 3}">
      Ärenden visas för {{ selectedUnitName }}
    </h2>
    <wc-enhet-arenden-filter></wc-enhet-arenden-filter>
  </div>

  <!-- loading animation table result -->
  <wc-spinner label="info.running.query" show-spinner="listModel.viewState.runningQuery">

    <div class="arende-table-section">

      <!-- error message -->
      <wc-alert-message id="current-list-noResults-error" ng-show="listModel.viewState.activeErrorMessageKey"
                        alert-severity="danger"
                        alert-message-id="{{listModel.viewState.activeErrorMessageKey}}"></wc-alert-message>

      <wc-no-arenden-message ng-if="listModel.totalCount == 0"></wc-no-arenden-message>

      <!-- Search hits -->
      <div id="showing-nr-hits" ng-show="listModel.totalCount > 0">Visar
        1 - {{listModel.arendenList.length}} av
        {{listModel.totalCount}} träff<span ng-show="listModel.totalCount > 1">ar</span>
      </div>

      <!-- arende table - Frågor och svar-tabell -->
      <div class="row" ng-show="listModel.arendenList.length > 0" id="arendeTable">
        <div class="col-md-12">
          <div class="rounded-table-wrapper">
          <table class="table table-striped wc-table-striped">
            <thead>
            <tr>
              <th wc-table-head label-key="th.label.arende-action" help-key="th.help.arende-action"></th>
              <th wc-table-head label-key="th.label.arende-sender" help-key="th.help.arende-sender"></th>
              <th wc-table-head label-key="th.label.arende-patient" help-key="th.help.arende-patient"></th>
              <th wc-table-head label-key="th.label.arende-signed-by" help-key="th.help.arende-signed-by"></th>
              <th wc-table-head label-key="th.label.arende-sent-recv-date" help-key="th.help.arende-sent-recv-date"></th>
              <th wc-table-head label-key="th.label.arende-forwarded" help-key="th.help.arende-forwarded" wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center"></th>
              <th wc-authority="VIDAREBEFORDRA_FRAGASVAR"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="arende in listModel.arendenList">
              <td><span ng-show="arende.paminnelse">Påminnelse:</span> <span dynamic-label key="arende.measure.{{arende.measureResKey}}"></span></td>
              <td><span dynamic-label key="common.arende.fragestallare.{{arende.fragestallare}}"></span></td>
              <td id="patientId-{{arende.meddelandeId}}" class="unbreakable">{{arende.patientId | PersonIdFormatter}} <span wc-sekretess-avliden uuid="arende.meddelandeId" sekretessmarkering="arende.sekretessmarkering"></span></td>
              <td>{{arende.signeratAvNamn}}</td>
              <td class="unbreakable">{{arende.receivedDate | date:'short'}}</td>
              <td wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="center">
                <div wc-authority="VIDAREBEFORDRA_FRAGASVAR" intygstyp="{{::arende.intygTyp}}">
                  <div ng-if="arende.vidarebefordrad"><i class="material-icons">check</i></div>
                </div>
              </td>
              <td wc-authority="VIDAREBEFORDRA_FRAGASVAR">
                <button type="button"
                        class="btn"
                        ng-class="{'btn-primary': !arende.vidarebefordrad, 'btn-secondary' : arende.vidarebefordrad}"
                        uib-popover-html="forwardTooltip" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="300" popover-append-to-body="true"
                        ng-click="openMailDialog(arende)"
                        wc-authority="VIDAREBEFORDRA_FRAGASVAR" intygstyp="{{::arende.intygTyp}}">
                  <i class="icon-wc-ikon-reply"></i> Vidarebefordra
                </button>
              </td>
              <td>
                <button type="button"
                        class="btn btn-primary"
                        uib-popover-html="openTooltip" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="300" popover-append-to-body="true"
                        ng-click="openIntyg(arende.intygId, arende.intygTyp)"
                        id="showarendeBtn-{{arende.meddelandeId}}"
                  ><i class="icon-wc-ikon-19"></i> <span>Öppna</span></button>
              </td>
          </table>
        </div>
       </div>
      </div>
      <div ng-show="listModel.arendenList.length < listModel.totalCount">
        <button type="button"
                id="hamtaFler"
                class="btn btn-primary"
                uib-popover-html="moreHitsTooltip" popover-trigger="mouseenter" popover-placement="top" popover-popup-delay="300" popover-append-to-body="true"
                ng-click="fetchMore()"
                ng-disabled="listModel.fetchingMoreInProgress">
          <img src="/img/loader-small.gif" ng-show="listModel.viewState.fetchingMoreInProgress"> Visa fler träffar
        </button>
      </div>
    </div>
  </wc-spinner>
</div>
