<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  
  <property  ></property>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS}: %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>${logFile}/mc2wc-batch.log</File>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <logger name="mc2wc.console" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="se.inera.certificate.mc2wc" level="DEBUG">
    <appender-ref ref="FILE" />
  </logger>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

</configuration>
