#enhet-arenden-header {

  .header-content {
    padding-left: 32px;
    position: relative;
  }

  .page-header-icon {
    display: inline-block;
    padding-right: 15px;
    float: left;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
  }

  .page-heading2 {
    @extend %wc-typo-07;
    color: $wc-color-07;
    display: inline-block;
  }
}

#enhet-arenden {
  &.webcert-workarea-page {
    padding-left: 41px;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
    padding-top: 18px;
  }

  #numbers {
    float: right;
  }

  #showing-nr-hits {
    padding-left: 0;
  }

  wc-limit-dropdown {
    padding-left: 0px;
  }

  wc-list-page-numbers {
    padding-right: 0px;
  }
}

wc-enhet-arenden-filter {
  .form-group:last-child {
    padding-bottom: 15px;
  }
}

#arendeTable {
  .icon-wc-ikon-19 {
    margin-right: 6px;
  }
  .material-icons {
    vertical-align: top;
  }
  .material-icons.check-color {
    color: $wc-color-10;
  }
  .btn {
    min-height: 38px;
  }
}
