#enhet-arenden-header {

  .header-content {
    padding-left: 32px;
    position: relative;
  }

  .page-header-icon {
    display: inline-block;
    padding-right: 15px;
    float: left;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
  }

  .page-heading2 {
    @extend %wc-typo-07;
    color: $wc-color-07;
    display: inline-block;
  }
}

#enhet-arenden {
  &.webcert-workarea-page {
    padding-left: 41px;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
    padding-top: 18px;
    padding-bottom: 20px;
  }

  #showing-nr-hits {
    padding-left: 0;
  }

  wc-list-dropdown {
    padding-left: 0px;
  }

  wc-list-page-numbers {
    padding-right: 0px;
  }
}

wc-enhet-arenden-filter {
  .form-group:last-child {
    padding-bottom: 15px;
  }
}

#arendeTable {
  .icon-wc-ikon-19 {
    margin-right: 6px;
  }
  .material-icons {
    vertical-align: top;
  }
  .material-icons.check-color {
    color: $wc-color-10;
  }
  .btn {
    min-height: 38px;
  }

  .tablet-list {
    margin: 0 15px;

    .qa-tablet-list {
      display: table;
      width: 100%;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $wc-color-21;
      }

      .row > div:first-child {
        @extend %wc-typo-06;
        color: $wc-color-19;
      }
    }

    > .qa-tablet-list:nth-of-type(even) {
      background-color: $wc-color-20;
    }

    > .qa-tablet-list:nth-of-type(odd) {
      background-color: $wc-color-00;
    }

    .row {
      margin: 15px 0;
    }

    margin-bottom: 20px;
  }
}
