<div id="enhet-arenden-header" class="wc-page-header">
  <div class="centered-constrained-content header-content">
    <i class="material-icons page-header-icon icon-wc-32">forum</i>
    <div class="page-heading1"><span dynamic-label key="dashboard.unanswered.title"></span></div>
    <div class="page-heading2">Välj för vilken/vilka enheter eller arbetsplatser du vill se ej hanterade kompletteringsbegäran, frågor och svar.</div>
    <wc-spinner label="info.loadingdata" show-spinner="!enhetArendenModel.doneLoading">
      <wc-vardenhet-filter id="wc-vardenhet-filter"></wc-vardenhet-filter>
    </wc-spinner>
  </div>
</div>

<div id="enhet-arenden" class="webcert-workarea-page centered-constrained-content container-fluid" wc-authority feature="HANTERA_FRAGOR">
  <!-- load animation for entire page -->
  <wc-spinner label="info.loadingdata" show-spinner="!enhetArendenModel.doneLoading">
    <div ng-if="vardenhetFilterModel.selectedUnit">
      <wc-enhet-arenden-list></wc-enhet-arenden-list>
    </div>
  </wc-spinner>
</div>
