#enhet-arenden-header {

  .header-content {
    padding-left: 32px;
    position: relative;
  }

  .page-header-icon {
    display: inline-block;
    padding-right: 15px;
    float: left;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
  }

  .page-heading2 {
    @extend %wc-typo-07;
    color: $wc-color-07;
    display: inline-block;
  }
}

#enhet-arenden {
  &.webcert-workarea-page {
    padding-left: 41px;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
    padding-top: 18px;
  }

  #numbers {
    float: right;
  }

  #pageNumbers {
    float: right;
    padding-right: 0;

    span {

      padding-left: 20px;
      cursor: pointer;
    }

    span:hover {
      color: $wc-color-21;
    }

    .chosenPage {
      color: $wc-color-21;
    }

    .disabledPage {
      color: $wc-color-22;
      cursor: text !important;
    }

    .disabledPage:hover {
        color: $wc-color-22;
    }
  }

  #limitDropDown {
    padding-left: 0;
    wc-dropdown {
      min-width: 70px;
      padding: 0 3px 0 3px;
    }
  }

  #showing-nr-hits {
    padding-left: 0;
  }

}

wc-enhet-arenden-filter {
  .form-group:last-child {
    padding-bottom: 15px;
  }
}

#arendeTable {
  .icon-wc-ikon-19 {
    margin-right: 6px;
  }
  .material-icons {
    vertical-align: top;
  }
  .material-icons.check-color {
    color: $wc-color-10;
  }
  .btn {
    min-height: 38px;
  }
}
