#enhet-arenden-header {

  .header-content {
    padding-left: 102px;
    position: relative;
  }

  .page-header-icon {
    position: absolute;
    left: 40px;
    top: 6px;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
    line-height: 1.428571429;
  }

  .page-heading2 {
    @extend %wc-typo-07;
    color: $wc-color-07;
    display: inline-block;
  }
}

#enhet-arenden {
  &.webcert-workarea-page {
    padding-left: 41px;
  }

  .page-heading1 {
    @extend %wc-typo-02;
    color: $wc-color-07;
  }

}

wc-enhet-arenden-filter {
  .form-group:last-child {
    padding-bottom: 15px;
  }
}

#arendeTable {
  .icon-wc-ikon-19 {
    margin-right: 6px;
  }
  .material-icons {
    vertical-align: top;
  }
  .material-icons.check-color {
    color: $wc-color-10;
  }
  .btn {
    min-height: 38px;
  }
}
