<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">×</button>
  <h3>
  Dialogtitel
  </h3>
</div>
<div class="modal-body">
  Här är bodytexten. Vilka knappar som finns beror på vilken dialog det är såklart.
  Dialogerna har många inställningsmöjligheter, vi har mest ändrat styling via css.
  Se <a href="https://angular-ui.github.io/bootstrap/#/modal" target="_blank">här</a> för mer detaljer.
</div>
<div class="modal-footer">
  <button type="button" id="buttonYes" class="btn btn-success" ng-click="$dismiss()">
    OK
  </button>

  <button type="button" id="buttonNoDontAsk" class="btn btn-info" ng-click="$dismiss()">
    Avbryt
  </button>
</div>