<!-- search filter -->
<div class="webcert-bottom-padding-section">

  <!-- Filter form -->
  <div id="advanced-filter-form"
       class="wc-filter-panel row">

    <div wc-authority="VIDAREBEFORDRA_FRAGASVAR" class="col-md-2 form-group" id="filterFormVidarebefordrad">
      <label class="control-label">Vidarebefordrad</label><br>
      <wc-dropdown data-items="enhetArendenFilterModel.vidarebefordradOptions"
                   ng-model="enhetArendenFilterModel.filterForm.vidarebefordrad"
                   data-on-select="validate()"
                   id="vidarebefordradFilter"
                   label="vidarebefordradFilter"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <!-- åtgärd -->
    <div class="col-md-2 form-group">
      <label class="control-label">Åtgärd</label><br>
      <wc-dropdown data-items="enhetArendenFilterModel.statusList"
                   ng-model="enhetArendenFilterModel.filterForm.vantarPaSelector"
                   data-on-select="validate()"
                   id="qp-showStatus"
                   label="vidarebefordradFilter"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <!-- Avsändare -->
    <div class="col-md-2 form-group">
      <label class="control-label">Avsändare</label>
      <wc-dropdown data-items="enhetArendenFilterModel.avsandareList"
                   ng-model="enhetArendenFilterModel.filterForm.questionFrom"
                   data-on-select="validate()"
                   id="frageStallare"
                   label="frageStallare"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <div wc-authority="FILTRERA_PA_LAKARE" class="col-md-2 form-group" id="filterFormSigneratAv">
      <label class="control-label">Signerat av</label>
      <wc-dropdown data-items="enhetArendenFilterModel.lakareList"
                   ng-model="enhetArendenFilterModel.filterForm.lakareSelector"
                   data-on-select="validate()"
                   id="qp-lakareSelector"
                   label="qp-lakareSelector"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}"
                   ng-disabled="enhetArendenFilterModel.loadingLakares">
      </wc-dropdown>
    </div>

    <!-- Skickat/mottaget -->
    <div class="col-md-4 form-group">
      <label class="control-label">Skickat/mottaget</label><br>
      <div class="form-inline">
        Från
        <span dom-id="filter-changedate-from" target-model="enhetArendenFilterModel.filterForm.changedFrom" wc-date-picker-field add-date-parser="strict"></span>
        till
        <span dom-id="filter-changedate-to" target-model="enhetArendenFilterModel.filterForm.changedTo" wc-date-picker-field add-date-parser="strict"></span>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div>
    <div>
      <button type="button" id="filter-arende-btn" class="btn btn-success" ng-click="filterList()">
        Sök
      </button>
      <button type="button" class="btn btn-default" ng-click="resetFilterForm()" id="reset-search-form">
        Återställ sökfilter
      </button>
    </div>
  </div>
</div>
