<!-- search filter -->
<div class="webcert-bottom-padding-section">

  <!-- Filter form -->
  <div id="advanced-filter-form"
       class="wc-filter-panel row"
        ng-form="filterForm">

    <div wc-authority="VIDAREBEFORDRA_FRAGASVAR" intygstyp="" class="col-md-2 form-group" id="filterFormVidarebefordrad">
      <label>Vidarebefordrat</label><br>
      <wc-dropdown data-items="enhetArendenFilterModel.vidarebefordradOptions"
                   ng-model="enhetArendenFilterModel.filterForm.vidarebefordrad"
                   data-on-select="validate()"
                   id="vidarebefordradFilter"
                   label="vidarebefordradFilter"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <!-- åtgärd -->
    <div class="col-md-2 form-group">
      <label>Åtgärd</label><br>
      <wc-dropdown data-items="enhetArendenFilterModel.statusList"
                   ng-model="enhetArendenFilterModel.filterForm.vantarPaSelector"
                   data-on-select="validate()"
                   id="qp-showStatus"
                   label="vidarebefordradFilter"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <!-- Avsändare -->
    <div class="col-md-2 form-group">
      <label>Avsändare</label>
      <wc-dropdown data-items="enhetArendenFilterModel.avsandareList"
                   ng-model="enhetArendenFilterModel.filterForm.questionFrom"
                   data-on-select="validate()"
                   id="frageStallare"
                   label="frageStallare"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}">
      </wc-dropdown>
    </div>

    <div class="col-md-2 form-group" id="filterFormSigneratAv">
      <label>Signerat av</label>
      <wc-dropdown data-items="enhetArendenFilterModel.lakareList"
                   ng-model="enhetArendenFilterModel.filterForm.lakareSelector"
                   data-on-select="validate()"
                   id="qp-lakareSelector"
                   label="qp-lakareSelector"
                   use-dynamic-label="false"
                   ng-class="{'validation-error' : hasValidationError('specifikation',  $index)}"
                   ng-disabled="enhetArendenFilterModel.loadingLakare">
      </wc-dropdown>
    </div>

    <div class="col-md-2 form-group" id="enhetArendePnr">
        <label>Personnummer</label>
        <input class="form-control" name="pnr" type="text"
               id="filter-person-id"
               placeholder="ååååmmdd-nnnn"
               ng-model="enhetArendenFilterModel.filterForm.patientPersonId"
               wc-person-number
               required maxlength="13"/>
      <span class="errorText" ng-if="filterForm.pnr.$invalid && filterForm.pnr.$touched && filterForm.pnr.$viewValue != ''"><p>Ange ett giltigt person- eller samordningsnummer.</p></span>
    </div>


    <!-- Skickat/mottaget -->
    <div class="col-md-5 form-group">
      <label>Skickat datum</label><br>
      <div class="form-inline">
        Från
        <span dom-id="filter-changedate-from" target-model="enhetArendenFilterModel.filterForm.changedFrom"
              wc-date-picker-field add-date-parser="strict"
              max-date={{maxdate}}></span>

        till
        <span dom-id="filter-changedate-to" target-model="enhetArendenFilterModel.filterForm.changedTo"
              wc-date-picker-field add-date-parser="strict"
              max-date={{maxdate}} wc-date-is-after-validator="filter-changedate-from"></span>

      </div>
      <div ng-if="filterForm.$invalid && !filterForm.$pristine" ng-cloak class="errorText">
        <p ng-show="filterForm['filter-changedate-from'].$error.date || filterForm['filter-changedate-from'].$error.maxDate">
          <span dynamic-label key="common.validation.future.datum"></span>
        </p>
        <p ng-show="filterForm['filter-changedate-to'].$error.date || filterForm['filter-changedate-to'].$error.maxDate">
          <span dynamic-label key="common.validation.future.datum"></span>
        </p>
        <p ng-show="filterForm['filter-changedate-to'].$error.isBefore">
          <span dynamic-label key="common.validation.date-period.invalid_order"></span>
        </p>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="buttons">
    <button type="button" id="filter-arende-btn" class="btn btn-success" ng-click="filterArendeBtnTooltipShow=false;filterList()" uib-popover="Sök efter frågor och svar."
        popover-placement="top" popover-popup-delay="300" popover-append-to-body="true" popover-is-open="filterArendeBtnTooltipShow">
      Sök
    </button>
    <button type="button" class="btn btn-default" ng-click="resetArendeBtnTooltipShow=false;resetFilterForm()" id="reset-search-form" uib-popover="Rensa sökfiltret."  popover-is-open="resetArendeBtnTooltipShow"
        popover-placement="top" popover-popup-delay="300" popover-append-to-body="true">
      Återställ sökfilter
    </button>
  </div>
</div>
