wc-enhet-arenden-filter {
  label {
    @extend %wc-typo-06;
    color: $wc-color-09;
    &.offset-label {
      margin-left: 30px;
    }
    &.inline-label {
      padding:0;

    }
  }

  .errorText {
    p {
       margin: 4px 0 0 0;
       color: $wc-color-11;
    }
  }
  
  .col-md-2, .col-md-3 .col-md-6 {
      padding-left: 13px;
      padding-right: 12px;
  }

  .buttons {
    padding-top: 25px;
    float: right;
    .btn {
      min-height: 38px;
    }
  }

  #filter-changedate-from, #filter-changedate-to, #filter-person-id {
    color: $wc-color-21;
  }

  input.ng-invalid-valid-pnr.ng-touched:not(.ng-empty), .dateError input {
    border-color: $wc-color-11 !important;
    color: $wc-color-11 !important;
  }

  .dateError button {
    border-color: $wc-color-11 !important;
  }

  @media (max-width: 991px) {
    .buttons {
      float: left;
      padding-left: 0px;
      padding-top: 0;
    }
  }
}
