<div id="unsigned-draft-header" class="wc-page-header">
  <div class="centered-constrained-content header-content">
    <i class="material-icons icon-wc-32 page-header-icon">drafts</i>
    <h2 class="page-heading1"><span dynamic-label key="dashboard.unsigned.title"></span></h2>
    <div class="page-heading2"><span dynamic-label key="dashboard.unsigned.subtitle"></span></div>
  </div>
</div>

<div id="unsigned-draft-body" class="webcert-workarea-page webcert-workarea-vflex-container centered-constrained-content container-fluid" wc-authority
     feature="HANTERA_INTYGSUTKAST" intygstyp="">

  <wc-utkast-deleted-modal></wc-utkast-deleted-modal>
  <div class="row">
    <div class="col-md-12">


      <h1 class="page-heading1" ng-if="!widgetState.initialQueryWasEmpty">Intyg visas för {{widgetState.valdVardenhet.namn}} </h1>

      <wc-utkast-filter filter="filter" on-search="onSearch()" on-reset="onReset()" ng-show="!widgetState.initialQueryWasEmpty"
                        class="ng-hide"></wc-utkast-filter>

      <wc-spinner label="info.querydraft.inprogress" show-spinner="!widgetState.doneLoading">



        <wc-spinner label="info.querydraft.inprogress" show-spinner="widgetState.runningQuery">


          <!-- No results on initial query -->
          <div id="current-list-noResults-unit" class="no-drafts-icon-box" ng-if="widgetState.initialQueryWasEmpty">
            <img src="/app/views/ejSigneradeUtkast/ej_signerade_utkast.svg"/><br>
            <div dynamic-label key="info.nounsigned.intyg.for.unit"></div>
          </div>


          <!-- error message -->
          <wc-alert-message id="current-list-noResults-error"
                            ng-if="widgetState.doneLoading && widgetState.activeErrorMessageKey"
                            alert-severity="danger">
            <span dynamic-label key="{{widgetState.activeErrorMessageKey}}"></span>
          </wc-alert-message>

          <wc-list-dropdown  class="col-md-3 form-group"
                              ng-show="widgetState.doneLoading && widgetState.totalCount > widgetState.DEFAULT_PAGE_SIZE"
                              list-model="widgetState"
                              filter-model="filter">
          </wc-list-dropdown>

          <div class="row ng-hide" id="unsignedCertTable" ng-show="!widgetState.initialQueryWasEmpty">
            <wc-utkast-list utkast-list="widgetState.currentList" class="col-md-12"
                            on-order="orderByProperty(property, ascending)" sorting-property="filter.selection.orderBy" sorting-ascending="filter.selection.orderAscending"></wc-utkast-list>
            <!-- No results message for query -->
            <div id="current-list-noResults-query" class="col-xs-12"
                 ng-if="widgetState.doneLoading && widgetState.totalCount < 1  && widgetState.filteredYet">
              Inga resultat att visa.
            </div>
          </div>

          <wc-list-number-of-hits ng-if="widgetState.doneLoading && widgetState.totalCount > 0" id="showing-nr-hits" class="col-md-6" list-model="widgetState"></wc-list-number-of-hits>

          <wc-list-page-numbers class="col-md-6"
                                ng-show="widgetState.doneLoading && (widgetState.pagesList.length > 1 || widgetState.chosenPageList > 1) && !widgetState.gettingPage"
                                list-model="widgetState"
                                filter-model="filter">
          </wc-list-page-numbers>

        </wc-spinner>
        <!-- spinner end -->
      </wc-spinner>
    </div>
  </div>
</div>
