<div class="webcert-workarea-page container-fluid" wc-authority feature="HANTERA_INTYGSUTKAST">
  <div class="row" id="unsigned">
    <div class="col-md-12">
      <h1 class="page-title">
        <span dynamic-label key="dashboard.unsigned.title"></span>
      </h1>

      <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading"
           show-content="widgetState.doneLoading">

        <div>
          <h2 class="col-head less-top-padding">{{widgetState.valdVardenhet.namn}}</h2>

          <div class="webcert-bottom-padding-section">
                      <span ng-if="!widgetState.filteredYet">Nedan visas alla ej signerade utkast.<br></span>
            <button type="button" id="show-advanced-filter-btn" class="btn btn-link btn-link-minimal"
                    ng-click="widgetState.queryFormCollapsed = !widgetState.queryFormCollapsed"
                    ng-switch="widgetState.queryFormCollapsed">
              <span ng-switch-when="true">Visa sökfilter</span><span ng-switch-when="false">Dölj sökfilter</span>
            </button>
            <wc-utkast-filter on-search="filterDrafts(filter)" ng-show="!widgetState.queryFormCollapsed"></wc-utkast-filter>
          </div>

          <div wc-spinner label="info.running.query" show-spinner="widgetState.runningQuery"
               show-content="!widgetState.runningQuery">

            <div class="arende-table-section">

              <!-- No results message for unhandled -->
              <div id="current-list-noResults-unit"
                   ng-show="widgetState.doneLoading && !widgetState.activeErrorMessageKey && widgetState.currentList.length<1 && !widgetState.filteredYet">
                <span dynamic-label key="info.nounsigned.intyg.for.unit"></span>
              </div>

              <!-- No results message for query -->
              <div id="current-list-noResults-query" ng-show="widgetState.doneLoading && widgetState.totalCount < 1  && widgetState.filteredYet">
                <span dynamic-label key="info.query.noresults"></span>
              </div>

              <!-- error message -->
              <wc-alert-message id="current-list-noResults-error"
                   ng-show="widgetState.doneLoading && widgetState.activeErrorMessageKey" alert-severity="danger">
                <span dynamic-label key="{{widgetState.activeErrorMessageKey}}"></span>
              </wc-alert-message>

              <div id="query-count" ng-show="widgetState.totalCount>0">
                Sökresultat - {{widgetState.totalCount}} träffar
              </div>

              <!-- unsigned intyg table -->
              <div class="row" ng-show="widgetState.currentList.length>0" id="unsignedCertTable">
                <wc-utkast-list utkast-list="widgetState.currentList"></wc-utkast-list>
              </div>
              <div id="showing-nr-hits" ng-show="widgetState.totalCount>0">Visar
                träff 1 - {{widgetState.currentList.length}} av
                {{widgetState.totalCount}}
              </div>
              <div ng-show="showFetchMore()">
                <button type="button" class="btn btn-default" title="Visa fler utkast." ng-click="fetchMore()"
                        ng-disabled="widgetState.fetchingMoreInProgress">
                  <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta fler träffar
                </button>
              </div>

            </div>
          </div>
          <!-- spinner end -->
        </div>
      </div>
    </div>

  </div>
</div>
