<div id="unsigned-draft-header" class="wc-page-header">
  <div class="centered-constrained-content">
    <div class="header-content">
      <i class="material-icons icon-wc-32 page-header-icon">drafts</i>
      <div class="page-heading1">Ej signerade utkast</div>
      <div class="page-heading2">Nedan visas alla ej signerade utkast för den enhet du är inloggad på.</div>
    </div>
  </div>
</div>

<div id="unsigned-draft-body" class="webcert-workarea-page webcert-workarea-vflex-container centered-constrained-content container-fluid" wc-authority
     feature="HANTERA_INTYGSUTKAST">

  <div class="row">
    <div class="col-md-12">


      <h1 class="page-heading1" ng-if="!widgetState.initialQueryWasEmpty">Intyg visas för {{widgetState.valdVardenhet.namn}} </h1>

      <wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading">


        <wc-utkast-filter filter="filter" on-search="filterDrafts()" ng-show="!widgetState.initialQueryWasEmpty"
                          ng-cloak></wc-utkast-filter>

        <wc-spinner label="info.running.query" show-spinner="widgetState.runningQuery">


          <!-- No results on initial query -->
          <div id="current-list-noResults-unit" class="no-drafts-icon-box" ng-if="widgetState.initialQueryWasEmpty">
            <img src="/app/views/ejSigneradeUtkast/ej_signerade_utkast.svg"/><br>
            <div dynamic-label key="info.nounsigned.intyg.for.unit"></div>
          </div>


          <!-- error message -->
          <wc-alert-message id="current-list-noResults-error"
                            ng-if="widgetState.doneLoading && widgetState.activeErrorMessageKey"
                            alert-severity="danger">
            <span dynamic-label key="{{widgetState.activeErrorMessageKey}}"></span>
          </wc-alert-message>


          <div id="showing-nr-hits" ng-show="widgetState.totalCount>0">Visar
            {{widgetState.currentList.length}} av
            {{widgetState.totalCount}} träffar
          </div>


          <div class="row" id="unsignedCertTable" ng-show="!widgetState.initialQueryWasEmpty">
            <wc-utkast-list utkast-list="widgetState.currentList"></wc-utkast-list>
            <!-- No results message for query -->
            <div id="current-list-noResults-query" class="col-xs-12"
                 ng-if="widgetState.doneLoading && widgetState.totalCount < 1  && widgetState.filteredYet">
              Inga resultat att visa.
            </div>
          </div>


          <div ng-show="showFetchMore()">
            <button type="button" class="btn btn-default" title="Visa fler utkast." ng-click="fetchMore()"
                    ng-disabled="widgetState.fetchingMoreInProgress">
              <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta fler träffar
            </button>
          </div>

        </wc-spinner>
        <!-- spinner end -->
      </wc-spinner>
    </div>
  </div>
</div>
