<div id="advanced-filter-form" class="wc-filter-panel form-horizontal" ng-form="filterForm">
  <div wc-authority="VIDAREBEFORDRA_UTKAST" class="form-group" id="filterFormVidarebefordrad">
    <label class="col-sm-2 control-label">Utkast som är</label>
    <div class="col-sm-10">

      <wc-radio-wrapper>
        <input id="notifiedAll" name="notified" type="radio" ng-model="filter.notified" ng-value="undefined">
        <label for="notifiedAll">
          Alla utkast
        </label>
      </wc-radio-wrapper>

      <wc-radio-wrapper>
        <input id="notified" name="notified" type="radio" ng-value="true" ng-model="filter.notified">
        <label for="notified">
          Vidarebefordrade
        </label>
      </wc-radio-wrapper>

      <wc-radio-wrapper>
        <input id="notifiedNot" name="notified" type="radio" ng-value="false" ng-model="filter.notified">
        <label for="notifiedNot">
          Ej vidarebefordrade
        </label>
      </wc-radio-wrapper>
    </div>
  </div>

  <!-- Visa endast -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Visa endast</label>
    <div class="col-sm-10">

      <wc-radio-wrapper>
        <input id="completeAll" name="complete" type="radio" ng-value="undefined" ng-model="filter.complete">
        <label for="completeAll">Båda</label>
      </wc-radio-wrapper>

      <wc-radio-wrapper>
        <input id="completeNo" name="complete" type="radio" ng-value="false" ng-model="filter.complete">
        <label for="completeNo">Utkast, uppgifter saknas</label>
      </wc-radio-wrapper>

      <wc-radio-wrapper>
        <input id="completeYes" name="complete" type="radio" ng-value="true" ng-model="filter.complete">
        <label for="completeYes"> Utkast, kan signeras</label>
      </wc-radio-wrapper>

    </div>
  </div>

  <!-- sparat datum -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Sparat datum</label>
    <div class="col-sm-10 form-inline">
      Från
      <span dom-id="filter-changedate-from" target-model="filter.savedFrom"
            wc-date-picker-field add-date-parser="strict"></span>
      till
      <span dom-id="filter-changedate-to" target-model="filter.savedTo"
            wc-date-picker-field add-date-parser="strict" wc-date-is-after-validator="filter-changedate-from"></span>
    </div>
  </div>

  <div class="form-group" ng-show="filterForm.$invalid && widgetState.searched">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <wc-alert-message alert-severity="danger">
        <ul>
          <li ng-show="filterForm['filter-changedate-from'].$error.date"><span dynamic-label key="validation.invalidfromdate"></span></li>
          <li ng-show="filterForm['filter-changedate-to'].$error.date"><span dynamic-label key="validation.invalidtodate"></span></li>
          <li ng-show="filterForm['filter-changedate-to'].$error.isBefore"><span dynamic-label key="validation.invalidtobeforefromdate"></span></li>
        </ul>
      </wc-alert-message>
    </div>
  </div>

  <div wc-authority="FILTRERA_PA_LAKARE" class="form-group" id="filterFormSparatAv">
    <label class="col-sm-2 control-label">Sparat av</label>
    <div class="col-sm-10">
      <select id="uc-savedBy" class="form-control" ng-model="filter.savedBy"
              ng-options="s.hsaId as s.name for s in widgetState.savedByList"></select>
    </div>
  </div>

  <!-- buttons -->
  <div class="form-group" style="margin-top:10px;">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" id="uc-filter-btn" class="btn btn-primary" ng-click="search()">Sök</button>
      <button type="button" class="btn btn-default" ng-click="resetFilter()" id="reset-search-form">Återställ sökfilter</button>
    </div>
  </div>
</div>
