<table class="col-md-12 table table-striped table-qa">
  <tr>
    <th></th>
    <th wc-authority="VIDAREBEFORDRA_UTKAST"></th>
    <th wc-table-head label-key="th.label.draft-forwarded" help-key="th.help.draft-forwarded" wc-authority="VIDAREBEFORDRA_UTKAST" class="center"></th>
    <th wc-table-head label-key="th.label.draft-type" help-key="th.help.draft-type"></th>
    <th wc-table-head label-key="th.label.draft-status" help-key="th.help.draft-status"></th>
    <th wc-table-head label-key="th.label.draft-saved-date" help-key="th.help.draft-saved-date"></th>
    <th wc-table-head label-key="th.label.draft-patient" help-key="th.help.draft-patient"></th>
    <th wc-table-head label-key="th.label.draft-saved-by" help-key="th.help.draft-saved-by"></th>
  </tr>
  <tr ng-repeat="intyg in utkastList">
    <td>
      <button type="button" class="btn btn-info" title="Visar intyget." ng-click="openIntyg(intyg)"
              id="showBtn-{{intyg.intygId}}"> Visa
      </button>
    </td>
    <td wc-authority="VIDAREBEFORDRA_UTKAST">
      <button type="button"
              class="btn vidarebefordra-btn"
              ng-class="{'btn-info': !intyg.vidarebefordrad, 'btn-secondary' : intyg.vidarebefordrad}"
              title="Skicka mejl med en länk till utkastet för att informera den läkare som ska signera det."
              ng-click="openMailDialog(intyg)">
          <span class="glyphicon glyphicon-share-alt"
                ng-class="{'forward-active': !intyg.vidarebefordrad, 'forward-inactive': intyg.vidarebefordrad}"></span>
      </button>
    </td>
    <td wc-authority="VIDAREBEFORDRA_UTKAST" class="center">
      <input class="vidarebefordrad-checkbox" id="selected" type="checkbox" ng-disabled="intyg.updateState.vidarebefordraInProgress" ng-model="intyg.vidarebefordrad"
             ng-change="onNotifyChange(intyg)" />
      <span ng-if="intyg.updateState.vidarebefordraInProgress"> <img src="/img/ajax-loader-kit-16x16.gif"></span>
    </td>
    <td class="unbreakable">{{getTypeName(intyg.intygType)}}</td>
    <td><span message key="intyg.status.{{intyg.status}}"></span></td>
    <td class="unbreakable">{{intyg.lastUpdatedSigned | date:'short'}}</td>
    <td class="unbreakable">{{intyg.patientId}} <span ng-if="intyg.sekretessmarkering">(x)</span></td>
    <td class="table-qa-last">{{intyg.updatedSignedBy}}</td>
  </tr>
</table>
