<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2016 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>

  <property name="APP_NAME" value="${APP_NAME:-webcert}"/>

  <include resource="logback-dev-base.xml" />

  <logger name="com.fasterxml.jackson" level="off" />

  <logger name="liquibase" level="info" />

  <logger name="org.apache.cxf" level="off" />
  <logger name="org.apache.cxf.services" level="error" />
  <logger name="org.apache.camel" level="error" />

  <logger name="org.hibernate" level="info" />
  <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="off" />

  <logger name="org.springframework" level="error" />
  <logger name="org.springframework.beans.factory.xml" level="debug" />
  <logger name="org.springframework.security.saml.log.SAMLDefaultLogger" level="info" />
  <logger name="org.springframework.transaction" level="info" />

  <logger name="se.inera.intyg.common" level="info" />
  <logger name="se.inera.intyg.infra" level="info" />
  <logger name="se.inera.intyg.webcert" level="info" />
  <logger name="se.inera.intyg.webcert.web" level="debug" />
  <logger name="se.inera.intyg.webcert.web.auth" level="info" />
  <logger name="se.inera.intyg.webcert.web.service.monitoring.MonitoringLogService" level="info" />
  <logger name="se.inera.webcert.notifications" level="info" />

  <!-- Log service for logging JavaScript exceptions from GUI, set to info or off -->
  <logger name="se.inera.intyg.webcert.web.web.controller.api.JsLogApiController" level="off" />

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="MONITORING"/>
    <appender-ref ref="VALIDATION"/>
  </root>

</configuration>

