ENV_CFG="-Dspring.profiles.active={{ profiles }}"
JVM_CFG="-Xms1024m -Xmx1024m -Dfile.encoding=UTF-8 {% if proxy_host is defined%} -Dhttps.proxyHost={{ proxy_host }} -Dhttps.proxyPort={{ proxy_port }} -Dhttp.nonProxyHosts={{ proxy_ignore }} {%endif%}"
DEBUG_CFG="-XX:-HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ inera_tomcat_folder }}"
CREDENTIALS_CFG="-Dcredentials.file={{ config_etc_folder }}/credentials.properties"
WEBCERT_CFG="-Dconfig.folder={{ config_etc_folder }} -Dconfig.file={{ config_etc_folder }}/webcert.properties -Dlogback.file={{ config_etc_folder }}/webcert-logback.xml -Dwebcert.stubs.port={{ tomcat_http_port }} -Dwebcert.stub.data.folder={{ stubdata_folder }}"
WEBCERT_RESOURCES="-Dresources.folder={{ app_resources_folder }} -Dfeature.luse.file={{ feature_file_folder }}/luse-features.properties -Dfeature.lisjp.file={{ feature_file_folder }}/lisjp-features.properties -Dfeature.luae_fs.file={{ feature_file_folder }}/luae_fs-features.properties -Dfeature.luae_na.file={{ feature_file_folder }}/luae_na-features.properties"
LOGSENDER_CFG="-Dlogsender.config.folder={{ config_etc_folder }} -Dlogsender.config.file={{ config_etc_folder }}/logsender.properties -Dlogsender.logback.file={{ config_etc_folder }}/logsender-logback.xml"
AMQ_CFG="-Dorg.apache.activemq.SERIALIZABLE_PACKAGES=\\\"*\\\""
export JAVA_OPTS="$JAVA_OPTS $ENV_CFG $JVM_CFG $DEBUG_CFG $CREDENTIALS_CFG $WEBCERT_CFG $WEBCERT_RESOURCES $LOGSENDER_CFG $AMQ_CFG"
