ENV_CFG="-Dspring.profiles.active={{ profile }}"
JVM_CFG="-Xms1024m -Xmx1024m -XX:PermSize=128m -XX:MaxPermSize=512m -Dfile.encoding=UTF-8"
DEBUG_CFG="-XX:-HeapDumpOnOutOfMemoryError -XX:HeapDumpPath={{ inera_tomcat_folder }}"
CREDENTIALS_CFG="-Dcredentials.file={{ config_etc_folder }}/credentials.properties"
WEBCERT_CFG="-Dwebcert.config.folder={{ config_etc_folder }} -Dwebcert.config.file={{ config_etc_folder }}/webcert.properties -Dwebcert.logback.file={{ config_etc_folder }}/webcert-logback.xml"
WEBCERT_RESOURCES="-Dwebcert.resources.folder={{ app_resources_folder }}"
LOGSENDER_CFG="-Dlogsender.config.folder={{ config_etc_folder }} -Dlogsender.config.file={{ config_etc_folder }}/logsender.properties -Dlogsender.logback.file={{ config_etc_folder }}/logsender-logback.xml"
NOTIFICATIONSENDER_CFG="-Dnotification-sender.config.folder={{ config_etc_folder }} -Dnotification-sender.config.file={{ config_etc_folder }}/notificationsender.properties -Dnotification-sender.logback.file={{ config_etc_folder }}/notificationsender-logback.xml"
export JAVA_OPTS="$JAVA_OPTS $ENV_CFG $JVM_CFG $DEBUG_CFG $CREDENTIALS_CFG $WEBCERT_CFG $WEBCERT_RESOURCES $LOGSENDER_CFG $NOTIFICATIONSENDER_CFG"
