<div class="wc-vardenhet-selector">
  <div ng-repeat="vg in model.vardgivare | orderBy:'namn'">
     <span class="toggle-icon" id="expand-vg-{{vg.id}}" ng-if="vg.vardenheter.length > 0" ng-click="vg.expanded = ! vg.expanded">
        <span class="glyphicon" ng-class="vg.expanded ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign'"></span>
     </span>
     <strong>{{vg.namn}}</strong>

    <div ng-if="vg.expanded" ng-repeat="enhet in vg.vardenheter | orderBy:'namn'">


      <div ng-if="enhet.id == model.valdVardenhet.id" class="enhet">
            <span class="toggle-icon" id="expand-disabled-enhet-{{enhet.id}}" ng-if="enhet.mottagningar.length > 0" ng-click="enhet.expanded = ! enhet.expanded">
              <span class="glyphicon" ng-class="enhet.expanded ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign'">
              </span>
            </span>
             <span ng-if="enhet.mottagningar.length < 1" class="glyphicon glyphicon-minus-sign glyphicon-hide">  </span>

            <span class="btn btn-link disabled">
              {{enhet.namn}}
            </span> (vald enhet)
      </div>

      <div ng-if="enhet.id != model.valdVardenhet.id" class="enhet">
        <span class="toggle-icon" id="expand-enhet-{{enhet.id}}" ng-if="enhet.mottagningar.length > 0" ng-click="enhet.expanded = ! enhet.expanded">
              <span class="glyphicon" ng-class="enhet.expanded ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign'">
              </span>
        </span>
         <span ng-if="enhet.mottagningar.length < 1" class="glyphicon glyphicon-minus-sign glyphicon-hide"> </span>
        <button id="rhs-vardenhet-selector-select-active-unit-{{enhet.id}}-link" class="btn btn-link" data-ng-click="itemSelected(enhet)">
          {{enhet.namn}}
        </button>

      </div>

      <div ng-if="enhet.expanded" ng-repeat="mottagning in enhet.mottagningar | orderBy:'namn'" class="mottagning">
        <div ng-if="mottagning.id != model.valdVardenhet.id">
          <button id="rhs-vardenhet-selector-select-active-unit-{{mottagning.id}}-link" class="btn btn-link" data-ng-click="itemSelected(mottagning)">
            {{mottagning.namn}}
          </button>
        </div>
        <div ng-if="mottagning.id === model.valdVardenhet.id">
             <span class="btn btn-link disabled">
              {{mottagning.namn}}
            </span> (vald enhet)
        </div>
      </div>

    </div>
  </div>
</div>