.wc-vardenhet-selector {

  .btn {
    padding: 2px 2px;
  }
  .toggle-icon {
    color: #111111;
    cursor: pointer
  }
  .enhet {
    margin-left: 20px;
  }
  .mottagning {
    margin-left: 60px;
  }
  .glyphicon-hide {
    color: transparent;
  }
}