<div style="padding:30px">
  <button type="button" ng-click="size=size+1">Större</button>
  <button type="button" ng-click="size=size-1">Mindre</button>
  {{size}}px <br>
  <br>
  <p> De fyra varianterma vi använder är (i ordning nedan) Roboto Light, Regular, Medium och Bold.</p>

  <table ng-style="{'font-size':  size}" ng-init="size=14;" class="table">
    <tr style="font-family: arial; font-size: 14px">
      <td><code>normal</code></td>
      <td><code>italic</code></td>
      <td><code>Länk</code></td>
    </tr>
    <tr>

      <td>
        <div class="font-variant-light">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-regular">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-medium">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-bold">The quick brown fox jumps over the lazy dog. åäö</div>
      </td>

      <td>
        <div class="font-variant-light" style="font-style: italic">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-regular" style="font-style: italic">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-medium" style="font-style: italic">The quick brown fox jumps over the lazy dog. åäö</div>
        <div class="font-variant-bold" style="font-style: italic">The quick brown fox jumps over the lazy dog. åäö</div>
      </td>
      <td>
        <div class="font-variant-light"><a href="">The quick brown fox jumps over the lazy dog. åäö</a></div>
        <div class="font-variant-regular"><a href="">The quick brown fox jumps over the lazy dog. åäö</a></div>
        <div class="font-variant-medium"><a href="">The quick brown fox jumps over the lazy dog. åäö</a></div>
        <div class="font-variant-bold"><a href="">The quick brown fox jumps over the lazy dog. åäö</a></div>
      </td>
    </tr>
  </table>
</div>
