wc-patient-header {
  .gutter-icon {
    top: 10px;
  }

  .patient-header-data {
    display: block;

    .patient-button {
      vertical-align: text-bottom;
      margin-left: 30px;
    }
  }

  wc-alert-message .alert {
    margin: 14px 0 0;
  }
}
