<div class="container" wc-authority feature="HANTERA_INTYGSUTKAST">
    <div class="row">
      <div id="skapa-valj-patient" class="col-xs-7 webcert-col webcert-col-single">

        <form name="pnrForm" ng-submit="loadPatient()" novalidate autocomplete="off">
          <wc-alert-message wc-authority request-origin="DJUPINTEGRATION"
                            alert-severity="warning">
            <h1 class="error">DJUPINTEGRERAD testläge</h1>
            <span class="error">OBS! Dashboard i djupintegrerat läge är EJ tillgängligt i prod-miljö, den finns endast för att vid behov underlätta utveckling/testning.</span>
          </wc-alert-message>
          <div class="form-group">
            <label for="pnr" class="control-label">Patientens personnummer</label>

            <div class="form-inline">
              <input id="pnr" class="form-control" name="pnr" type="text"
                     placeholder="ååååmmdd-nnnn"
                     ng-model="personnummer"
                     wc-person-number
                     required maxlength="13"
                     wc-focus-me="focusPnr" />
              <button id="skapapersonnummerfortsatt" name="skapapersonnummerfortsatt"
                      class="btn btn-primary" type="submit" ng-disabled="viewState.loading">
                <img ng-show="viewState.loading" ng-src="/img/ajax-loader-small-green.gif"/> Fortsätt
              </button>
            </div>
            <div ng-show="pnrForm.pnr.$invalid && pnrForm.pnr.$touched && pnrForm.pnr.$viewValue != ''">
              <span class="error">Du måste ange ett giltigt personnummer</span>
            </div>
            <wc-alert-message id="puerror" ng-if="viewState.errorId" alert-message-id="{{viewState.errorid}}" alert-severity="danger"></wc-alert-message>
          </div>

        </form>

      </div>
    </div>
</div>
