<div id="skapa-valj-patient" wc-authority feature="HANTERA_INTYGSUTKAST" class="webcert-workarea-page centered-constrained-content container-fluid">

  <form name="pnrForm" ng-submit="loadPatient()" novalidate autocomplete="off">
    <div class="form-group sokSkrivIntygWrapper">
      <label for="pnr" class="control-label">Patientens personnummer</label>

      <div class="form-inline sokSkrivIntygInput">
        <input id="pnr" class="form-control" name="pnr" type="text"
               placeholder="ååååmmdd-nnnn"
               ng-model="personnummer"
               wc-person-number
               required maxlength="13"
               wc-focus-me="focusPnr"/>
        <button id="skapapersonnummerfortsatt" name="skapapersonnummerfortsatt"
                class="btn btn-primary" ng-class="{'correct' : pnrForm.pnr.$valid }" type="submit" ng-disabled="viewState.loading">

          <img ng-show="viewState.loading" ng-src="/img/ajax-loader-small-green.gif"/> Fortsätt
        </button>
      </div>
      <div class="error">
        <div ng-show="pnrForm.pnr.$invalid && pnrForm.pnr.$touched && pnrForm.pnr.$viewValue != ''">
          Du måste ange ett giltigt personnummer
        </div>
        <wc-alert-message id="puerror" ng-if="viewState.errorid" alert-message-id="{{viewState.errorid}}" alert-severity="danger"></wc-alert-message>
      </div>
    </div>

  </form>

</div>
