<div class="container-fluid" wc-authority feature="HANTERA_INTYGSUTKAST">
    <div class="row">
      <div id="skapa-valj-patient" class="col-xs-7 webcert-col webcert-col-single">

        <form name="pnrForm" ng-submit="loadPatient()" novalidate autocomplete="off">
          <div wc-authority request-origin="DJUPINTEGRATION" class="warning alert-warning">
            <h1 class="error">DJUPINTEGRERAD testläge</h1>
            <span class="error">OBS! Dashboard i djupintegrerat läge är EJ tillgängligt i prod-miljö, den finns endast för att vid behov underlätta utveckling/testning.</span>
          </div>
          <h1 class="page-title">Sök/skriv intyg</h1>
          <div class="form-group">
            <label for="pnr" class="control-label">Patientens personnummer</label>
            <input id="pnr" class="form-control" name="pnr" type="text"
                   placeholder="Exempel: ååååmmdd-nnnn"
                   ng-model="personnummer"
                   wc-person-number
                   required maxlength="13"
                   wc-focus-me="focusPnr" />
            <div ng-show="pnrForm.pnr.$invalid && pnrForm.pnr.$touched && pnrForm.pnr.$viewValue != ''">
              <span class="error">Du måste ange ett giltigt personnummer</span>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <button id="skapapersonnummerfortsatt" name="skapapersonnummerfortsatt"
                      class="btn btn-primary" type="submit" ng-disabled="viewState.loading">
                <img ng-show="viewState.loading" ng-src="/img/ajax-loader-small-green.gif"/> Fortsätt
              </button>
            </div>
            <div class="alert alert-danger" id="puerror" ng-if="viewState.errorid">
              <span message key="{{viewState.errorid}}"></span>
            </div>
          </div>

          <!-- TEMP TEST -->
          <div class="row">
            <div class="col-md-7">
              <wc-alert-message ng-if="model.test" alert-message-id="webcert.description" alert-severity="info"></wc-alert-message>
              <wc-alert-message alert-message-id="label.qaonlywarning.body" alert-severity="warning"></wc-alert-message>
              <wc-alert-message alert-message-id="webcert.description" alert-severity="warning"></wc-alert-message>
              <wc-alert-message alert-message-id="webcert.description" alert-severity="sekretess"></wc-alert-message>
              <wc-alert-message alert-message-id="webcert.description" alert-severity="danger"></wc-alert-message>
            </div>
          </div>
        </form>

      </div>
    </div>
</div>
