.sokSkrivIntygWrapper {
  padding-left: 15px;

  .sokSkrivIntygInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input.form-control {
      width: 9.5em;
      padding: 0 0.9em;
      margin-right: 0.5em;
      margin-top: 0.5em;
      border: 1px solid $wc-color-15;
      border-radius: 4px;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      &.ng-invalid-valid-pnr {
        border-color: $wc-color-11;
      }
    }
    input.form-control:focus {
      outline: none !important;
      border: 1px solid $wc-color-21;
      box-shadow: 2px 2px 4px 0 $black_12;
    }
    button {
      margin-top: 0.5em;
      min-width: 80px;
    }
  }
  .error {
    margin-top: 14px;
    color: $wc-color-11;
  }
}

