wc-tidigare-intyg {
  display: block;
  padding-top: 15px;

  .gutter-icon {
    top: -10px;
  }

  .sokskriv-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin-left: 57px;
    color: #6a6a6a;

    #sokskriv-image-wrapper {
      width: 121px;
      height: 95px;
      margin-bottom: 12px;
    }
  }
  .filter-no-result > thead > tr > th {
    width: 19%;
  }
  .td-padding {
    padding: 15px 15px 15px 21px !important;
  }
  .intygList td {
    max-height: 48px;
    .btn {
      min-height: 38px;
    }
    .icon-wc-ikon-19 {
      margin-right: 3px;
    }
  }

  wc-alert-message {
    width: 100%;

    .alert {
      width: 100%;
    }
  }
}
