wc-tidigare-intyg {
  display: block;
  padding-top: 15px;

  .gutter-icon {
    top: -10px;
  }

  wc-radio-wrapper {
    padding-bottom: 10px;
  }

  .form-group {
    padding-bottom: 5px;
  }

  .sokskriv-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin-left: 57px;
    color: #6a6a6a;

    #sokskriv-image-wrapper {
      width: 121px;
      height: 95px;
      margin-bottom: 12px;
    }
  }
  .filter-no-result > thead > tr > th {
    width: 19%;
  }
  .td-padding {
    padding: 14px 15px 14px 21px !important;
  }
  .right-column {
    padding-right: 21px !important;
  }
  .intygList td {
    max-height: 48px;
    .btn {
      min-height: 38px;
    }
    .icon-wc-ikon-19 {
      margin-right: 3px;
    }
  }

  wc-alert-message {
    width: 100%;

    .alert {
      width: 100%;
    }
  }

  .tablet-list {
    /*margin: 0 15px;*/
    margin-top: 4px;


    .certificate-list {
      display: table;
      width: 100%;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $wc-color-21;
      }

      .row > div:first-child {
        @extend %wc-typo-06;
        color: $wc-color-19;
      }
    }

    > .certificate-list:nth-of-type(even) {
      background-color: $wc-color-20;
    }

    > .certificate-list:nth-of-type(odd) {
      background-color: $wc-color-00;
    }

    .row {
      margin: 15px 0;
    }

    .btn {
      min-height: 38px;
    }

    .icon-wc-ikon-19 {
      margin-right: 3px;
    }

    margin-bottom: 20px;
  }
}
