wc-valj-utkast-typ {
  display: block;
  padding-top: 35px;

  .intyg-label {
    @extend %wc-typo-06;
    color: $wc-color-07;
    padding-right: 5px;
  }

  .issuer-type-id {
    @extend %wc-typo-07;
    color: $wc-color-09;
  }

  .about-intyg {
    padding-right: 30px;
  }

  .card {
    box-shadow: 0 2px 4px 0 $black_12;
    border: 1px solid $wc-color-27;
    max-height: 390px;
    overflow: hidden;
    overflow-y: auto;
  }

  wc-alert-message {
    display: block;

    .alert {
      display: block;
      margin: 5px 0 0 0;
    }
  }

  .flex-list {
    display: flex;
    flex-direction: column;

    > .flex-list-col {
      border-bottom: 1px solid $wc-color-15;
    }

    .flex-list-row {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex: 1;
      min-height: 42px;

      .flex-item{
        flex: 1;
      }
    }

    .flex-list-col {
      display: flex;
      flex-direction: column;
      padding: 8px 8px 8px 20px;
    }
  }

  .favourite-column{
    padding-right: 18px;
  }

  .favourite{
    display: block;
    padding: 3px;
    cursor: pointer;
    line-height: 1;
    color: $wc-color-15;
    user-select: none;
    border: none;
    appearance: none;
    background-color: transparent;

    &.is-favourite{
      color: $wc-color-12;
    }

    &:hover{
      color: rgba($wc-color-12, 0.5);
    }
  }
}
