<!-- New intyg -->
<div class="wc-patient-icon-gutter bottom-padding-medium">
  <i class="material-icons gutter-icon icon-wc-32">description</i>
  <div class="form-group">
    <h2 class="patient-intyg-heading">Skapa intyg</h2>

    <div class="row">
      <div class="col-md-9">

        <div class="card">
          <table class="table">
            <tbody>
              <tr ng-repeat="type in intygTypeModel.userIntygTypes track by $index">
                <td class="unbreakable" style="width: 100%">
                  <span class="intygLabel">{{type.label}}</span> <span class="issuerTypeId">{{type.issuerTypeId}}</span>
                </td>
                <td>
                  <button class="btn btn-link" ng-click="openIntygTypeDetailsDialog(type)">Om intyget</button>
                </td>
                <td>
                  <span id="fortsattBtn">
                    <button id="intygTypeFortsatt-{{type.id}}" class="btn btn-primary continue-btn" ng-click="createDraft(type.id)"
                            ng-disabled="!isCreateUtkastEnabled()"><i class="material-icons">description</i> Skapa intyg</button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--select id="intygType" class="form-control" name="intygType" ng-model="intygTypeModel.intygType"
                ng-options="type.id as type.label for type in intygTypeModel.userIntygTypes"
                wc-focus-me="viewState.focusFirstInput"
                ng-disabled="intygTypeModel.userIntygTypes.length < 2"></select>
        <span id="fortsattBtn">
          <button id="intygTypeFortsatt" class="btn btn-primary continue-btn" type="submit"
                  ng-disabled="!showCreateUtkast()">Skapa intyg</button>
        </span-->
      </div>
    </div>
  </div>
  <div class="row">
    <!-- error message -->
    <wc-alert-message id="create-error" ng-show="viewState.createErrorMessageKey"
                      alert-severity="danger"
                      alert-message-id="{{viewState.createErrorMessageKey}}"
                      class="col-lg-7">
    </wc-alert-message>

    <wc-alert-message id="intyg-replaced-warning" ng-if="intygReplacement[intygTypeModel.intygType]"
                      alert-severity="warning"
                      class="col-lg-7">
       <span ng-bind-html="resolveIntygReplacedText(intygTypeModel.intygType)" class="multiline"></span>
    </wc-alert-message>


    <div id="intyg-exists-warning" ng-if="intygTypeModel.previousIntygWarnings[intygTypeModel.intygType]">
      <wc-alert-message alert-severity="warning" class="col-lg-7">
        <span ng-if="intygTypeModel.previousIntygWarnings[intygTypeModel.intygType].sameVardgivare" dynamic-label key="{{intygTypeModel.intygType}}.warn.previouscertificate.samevg"></span>
        <span ng-if="!intygTypeModel.previousIntygWarnings[intygTypeModel.intygType].sameVardgivare" dynamic-label key="{{intygTypeModel.intygType}}.warn.previouscertificate.differentvg"></span>
      </wc-alert-message>
    </div>

    <div id="utkast-exists-warning" ng-if="intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType]">
      <wc-alert-message alert-severity="warning" class="col-lg-7">
        <span ng-if="intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType].sameVardgivare" dynamic-label key="{{intygTypeModel.intygType}}.warn.previousdraft.samevg"></span>
        <span ng-if="!intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType].sameVardgivare" dynamic-label key="{{intygTypeModel.intygType}}.warn.previousdraft.differentvg"></span>
      </wc-alert-message>
    </div>

    <wc-alert-message alert-severity="info" class="col-lg-7"
      ng-show="intygTypeModel.intygType != 'default' && intygTypeModel.intygType != undefined"
      id="intygTypeWarning">
      <span ng-bind-html="getDetailedDescription(intygTypeModel.intygType)" class="multiline"></span>
    </wc-alert-message>
  </div>
  <div class="clearfix"></div>
</div>
