<!-- New intyg -->
<div class="wc-patient-icon-gutter bottom-padding-medium">
  <i class="material-icons gutter-icon icon-wc-32">description</i>
  <div class="form-group">
    <h2 class="patient-intyg-heading">Skapa intyg</h2>

    <div class="row">
      <div class="col-md-9">

        <div class="card">
          <table class="table" id="{{domId}}">
            <tbody>
              <tr ng-repeat="type in intygTypeModel.userIntygTypes track by $index">
                <td class="unbreakable" style="width: 100%">
                  <span class="intygLabel">{{type.label}}</span> <span class="issuerTypeId">{{type.issuerTypeId}}</span>
                </td>
                <td>
                  <button class="btn btn-link" ng-click="openIntygTypeDetailsDialog(type)">Om intyget</button>
                </td>
                <td>
                  <span id="fortsattBtn">
                    <button id="intygTypeFortsatt-{{type.id}}" class="btn btn-primary continue-btn" ng-click="createDraft(type.id)"
                            ng-disabled="!isCreateUtkastEnabled(type.id)"><i class="material-icons">description</i> Skapa intyg</button>
                  </span>
                </td>
              </tr>
              <tr ng-if="intygReplacement[type.id] || intygTypeModel.previousIntygWarnings[type.id] || intygTypeModel.previousUtkastWarnings[type.id]">

                <wc-alert-message id="intyg-replaced-warning" ng-if="intygReplacement[type.id]"
                                  alert-severity="warning">
                  <span ng-bind-html="resolveIntygReplacedText(type.id)" class="multiline"></span>
                </wc-alert-message>


                <div id="intyg-exists-warning" ng-if="intygTypeModel.previousIntygWarnings[type.id]">
                  <wc-alert-message alert-severity="warning" ng-switch="intygTypeModel.previousIntygWarnings[type.id].sameVardgivare">
                    <span ng-switch-when="true" dynamic-label key="{{type.id}}.warn.previouscertificate.samevg"></span>
                    <span ng-switch-when="false" dynamic-label key="{{type.id}}.warn.previouscertificate.differentvg"></span>
                  </wc-alert-message>
                </div>

                <div id="utkast-exists-warning" ng-if="intygTypeModel.previousUtkastWarnings[type.id]">
                  <wc-alert-message alert-severity="warning" ng-switch="intygTypeModel.previousUtkastWarnings[type.id].sameVardgivare">
                    <span ng-switch-when="true" dynamic-label key="{{type.id}}.warn.previousdraft.samevg"></span>
                    <span ng-switch-when="false" dynamic-label key="{{type.id}}.warn.previousdraft.differentvg"></span>
                  </wc-alert-message>
                </div>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- error message -->
    <wc-alert-message id="create-error" ng-show="viewState.createErrorMessageKey"
                      alert-severity="danger"
                      alert-message-id="{{viewState.createErrorMessageKey}}"
                      class="col-lg-7">
    </wc-alert-message>
  </div>
  <div class="clearfix"></div>
</div>
