<!-- New intyg -->
<div class="bottom-padding-medium">
  <div class="form-group">
    <label for="intygType" class="control-label">Skriv nytt intyg</label>

    <div>
      <select id="intygType" class="form-control" name="intygType" ng-model="intygTypeModel.intygType"
              ng-options="type.id as type.label for type in intygTypeModel.userIntygTypes"
              wc-focus-me="viewState.focusFirstInput"
              ng-disabled="intygTypeModel.userIntygTypes.length < 2"></select>
      <span id="fortsattBtn">
        <button id="intygTypeFortsatt" class="btn btn-primary continue-btn" type="submit"
                ng-disabled="!showCreateUtkast()">Skapa intyg</button>
      </span>
    </div>

  </div>

  <!-- error message -->
  <wc-alert-message id="create-error" ng-show="viewState.createErrorMessageKey"
                    alert-severity="danger"
                    alert-message-id="{{viewState.createErrorMessageKey}}">
  </wc-alert-message>

  <wc-alert-message id="intyg-replaced-warning" ng-if="intygReplacement[intygTypeModel.intygType] && isNormalOrigin()"
                    alert-severity="warning"
                    class="col-lg-7">
    {{resolveIntygReplacedText(intygTypeModel.intygType)}}
  </wc-alert-message>

  <div id="intyg-exists-warning" ng-if="intygTypeModel.previousIntygWarnings[intygTypeModel.intygType] !== undefined || intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType] !== undefined" class="alert alert-warning col-lg-7">
      <span ng-if="intygTypeModel.previousIntygWarnings[intygTypeModel.intygType] === true" message key="{{intygTypeModel.intygType}}.warn.previouscertificate.samevg"></span>
      <span ng-if="intygTypeModel.previousIntygWarnings[intygTypeModel.intygType] === false" message key="{{intygTypeModel.intygType}}.warn.previouscertificate.differentvg"></span>
      <span ng-if="intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType] === true" message key="{{intygTypeModel.intygType}}.warn.previousdraft.samevg"></span>
      <span ng-if="intygTypeModel.previousUtkastWarnings[intygTypeModel.intygType] === false" message key="{{intygTypeModel.intygType}}.warn.previousdraft.differentvg"></span>
  </div>

  <div class="row">
    <wc-alert-message alert-severity="info" class="col-lg-7"
         ng-show="intygTypeModel.intygType != 'default' && intygTypeModel.intygType != undefined"
         id="intygTypeWarning">
      <span ng-bind-html="getDetailedDescription(intygTypeModel.intygType)" class="multiline"></span>
    </wc-alert-message>
  </div>
  <div class="clearfix"></div>
</div>
