<div class="bottom-padding-big">
    <label class="control-label">Patientuppgifter</label>
    <div class="form-group row">
      <div class="col-md-8">
        <span id="patientNamn">{{patientModel.fornamn}} {{patientModel.mellannamn}} {{patientModel.efternamn}}</span>
        <span wc-sekretess-avliden uuid="patientModel.personnummer" printlabel="true" avliden="patientModel.avliden" sekretessmarkering="patientModel.sekretessmarkering"></span><br>
        {{patientModel.personnummer | PersonIdFormatter}}
      </div>
    </div>

    <button class="btn btn-default" type="button" ng-click="changePatient()">Byt patient</button>
</div>