<div id="{{dialogId}}" class="modal-header">
	<button type="button" class="close" ng-click="button2click()">×</button>
	<h3 ng-focus="dialog.focus" tabindex="-1">
		<span message key="{{titleId}}"></span>
	</h3>
</div>
<div class="modal-body">
	<div ng-bind-html="bodyText" style="padding-bottom: 10px"><span ng-if="bodyTextId != undefined" message key="{{bodyTextId}}"></span></div>
</div>
<div class="modal-footer">
  <div class="webcert-top-padding-section form-inline">
    <label id="dontShowAgain" class="checkbox"><input type="checkbox" ng-model="model.dontShowInfo"> Visa inte denna information igen</label>
  </div>
  <div class="webcert-top-padding-section form-inline">
    <button type="button" id="{{button1id}}" class="btn btn-success" ng-disabled="!dialog.acceptprogressdone" ng-click="button1click()">
      <img ng-hide="dialog.acceptprogressdone" ng-src="/img/ajax-loader-small-green.gif"/>
      <span message key="{{button1text}}"></span>
    </button>
    <button type="button" id="{{button2id}}" class="btn btn-info" ng-click="button2click()">
      <span message key="{{button2text}}"></span>
    </button>
    <button type="button" id="{{button3id}}" ng-show="button3visible" class="btn btn-info" ng-click="button3click()">
      <span message key="{{button3text}}"></span>
    </button>
    <div class="webcert-top-padding-section" ng-show="dialog.showerror">
      <div class="alert alert-danger alert-dialog-error">
        <span message key="{{dialog.errormessageid}}"></span>
      </div>
    </div>
  </div>
</div>
