<div id="{{dialogId}}" class="modal-header">
	<button type="button" class="close" ng-click="button2click()">×</button>
	<h3 ng-focus="dialog.focus" tabindex="-1">
		<span message key="{{titleId}}"></span>
	</h3>
</div>
<div class="modal-body">
  <p>
    Vid kopiering skapas ett nytt intygsutkast med samma information som i det ursprungliga intyget. Uppgifterna i ett kopierat intygsutkast går att ändra innan det signeras.
    <span ng-show="model.otherCareUnit == true" id="annanVardenhet" wc-authority role="!PRIVATLAKARE">
      Om intyget är utfärdat på en annan vårdenhet kommer adressuppgifterna att ersättas med de för den vårdenhet du är inloggad på.
    </span>
    <span wc-authority="HANTERA_PERSONUPPGIFTER" id="msgInteFranJournalSystem">
      I de fall patienten har ändrat namn eller adress så uppdateras den informationen.
    </span>
  </p>
  <p ng-show="model.patientId != undefined && model.patientId.length > 0">
    <span id="msgNyttPersonId">
      För denna patient finns nytt person-id och informationen kommer därför uppdateras i det nya intyget.
    </span>
  </p>
</div>
<div class="modal-footer">
  <div class="webcert-top-padding-section form-inline">
    <label id="dontShowAgain" class="checkbox"><input type="checkbox" ng-model="model.dontShowInfo"> Visa inte denna information igen</label>
  </div>
  <div class="webcert-top-padding-section form-inline">
    <button type="button" id="{{button1id}}" class="btn btn-success" ng-disabled="!model.acceptprogressdone" ng-click="button1click()">
      <img ng-hide="model.acceptprogressdone" ng-src="/img/ajax-loader-small-green.gif"/>
      <span message key="{{button1text}}"></span>
    </button>
    <button type="button" id="{{button2id}}" class="btn btn-info" ng-click="button2click()">
      <span message key="{{button2text}}"></span>
    </button>
    <div class="webcert-top-padding-section" ng-show="model.showerror">
      <div class="alert alert-danger alert-dialog-error">
        <span message key="{{model.errormessageid}}"></span>
      </div>
    </div>
  </div>
</div>
