<div class="createfromtemplate-dialog">
    <div id="{{dialogId}}" class="modal-header">
        <button type="button" class="close" ng-click="button2click()"><i class="material-icons">close</i></button>
        <h3 ng-focus="dialog.focus" tabindex="-1">
            <span dynamic-label key="{{titleId}}"></span>
        </h3>
    </div>
    <wc-bottom-fadeout>
      <div class="modal-body">
        <wc-alert-message ng-if="model.infoMessage"
                          alert-id="createFromTemplateInfoMessage"
                          alert-severity="info"
                          alert-message-id="{{::model.infoMessage}}"></wc-alert-message>
        <wc-alert-message ng-if="model.notSentInfoMessageKey"
                          alert-id="createFromTemplateNotSentInfoMessage"
                          alert-severity="info"
                          alert-message-id="{{::model.notSentInfoMessageKey}}"></wc-alert-message>

        <p>
          <span dynamic-label key="{{bodyText}}"></span>
        </p>
      </div>
    </wc-bottom-fadeout>
    <div class="modal-footer">
        <div class="button-wrapper">
            <wc-button
                    btn-id="{{button1id}}"
                    btn-class="btn btn-primary"
                    btn-click="button1click()"
                    btn-disabled="!model.acceptprogressdone"
                    loading="!model.acceptprogressdone"
            >
                <span dynamic-label key="{{button1text}}"></span>
            </wc-button>
            <wc-button
                    btn-id="{{button2id}}"
                    btn-class="btn btn-default"
                    btn-click="button2click()"
            >
                <span dynamic-label key="{{button2text}}"></span>
            </wc-button>
        </div>
      <div class="webcert-top-padding-section" ng-show="model.showerror">
        <wc-alert-message alert-severity="danger" class="alert-dialog-error"
                          alert-message-id="{{model.errormessageid}}"></wc-alert-message>
      </div>
    </div>
</div>