<div class="db-info">
    <div id="{{dialogId}}" class="modal-header">
        <h3 ng-focus="model.focus" tabindex="-1">
            <span dynamic-label key="{{titleText}}"></span>
        </h3>
    </div>
    <wc-bottom-fadeout>
        <div class="modal-body">
            <wc-alert-message alert-severity="warning" class="alert-dialog-warning">
                Du är på väg att utfärda ett dödsbevis för <b>{{model.namn}} - {{model.personnummer}}</b>.</wc-alert-message>
            <span dynamic-label key="{{bodyText}}"></span>
            <wc-checkbox-wrapper>
                <input input type="checkbox" id="{{model.checkboxId}}" value="1" ng-click="model.toggleProceed()" )>
                <label dynamic-label for="{{model.checkboxId}}" key="{{model.checkboxText}}"></label>
            </wc-checkbox-wrapper>
        </div>
    </wc-bottom-fadeout>
    <div class="modal-footer">
        <div class="form-inline">
            <div class="button-wrapper">
                <wc-button
                        btn-id="{{button1id}}"
                        btn-class="btn btn-primary"
                        btn-click="button1click()"
                        btn-disabled="true"
                >
                    <span dynamic-label key="{{button1text}}"></span>
                </wc-button>
                <wc-button ng-if="button2visible"
                        btn-id="{{button2id}}"
                        btn-class="btn btn-default"
                        btn-click="button2click()"
                >
                    <span dynamic-label key="{{button2text}}"></span>
                </wc-button>
            </div>
            <div class="webcert-top-padding-section" ng-if="model.showerror">
                <wc-alert-message alert-severity="danger" class="alert-dialog-error"
                                  alert-message-id="{{model.errormessageid}}">
                </wc-alert-message>
            </div>
        </div>
    </div>
</div>
