<div id="{{dialogId}}" class="modal-header">
  <button type="button" class="close" ng-click="button3click()">×</button>
  <h3 ng-focus="dialog.focus" tabindex="-1">
    <span dynamic-label key="{{titleId}}"></span>
  </h3>
</div>
<wc-bottom-fadeout>
  <div class="modal-body">
    <wc-alert-message ng-if="model.ersattningsUtkastFinns"
                      alert-id="ersattUtkastPaborjat"
                      alert-severity="info"
                      alert-message-id="intyg.status.replacement.utkast.exists"></wc-alert-message>

    <wc-alert-message ng-if="model.infoMessage"
                      alert-id="ersattInfoMessage"
                      alert-severity="info"
                      alert-message-id="{{::model.infoMessage}}"></wc-alert-message>
    <p>
      <span dynamic-label key="{{bodyText}}"></span>
    </p>
  </div>
</wc-bottom-fadeout>
<div class="modal-footer">
  <div class="webcert-top-padding-section form-inline">
    <button type="button" id="{{button1id}}" class="btn btn-primary" ng-disabled="!model.acceptprogressdone" ng-click="button1click()"  ng-if="!model.ersattningsUtkastFinns">
      <i ng-hide="model.acceptprogressdone" class="icon-wc-ikon-02 animate-spin"></i>
      <span dynamic-label key="{{button1text}}"></span>
    </button>
    <button type="button" id="{{button2id}}" class="btn btn-primary" ng-disabled="!model.acceptprogressdone" ng-click="button2click()"  ng-if="model.ersattningsUtkastFinns">
      <i ng-hide="model.acceptprogressdone" class="icon-wc-ikon-02 animate-spin"></i>
      <span dynamic-label key="{{button2text}}"></span>
    </button>
    <button type="button" id="{{button3id}}" class="btn btn-default" ng-click="button3click()">
      <span dynamic-label key="{{button3text}}"></span>
    </button>
    <div class="webcert-top-padding-section" ng-show="model.showerror">
      <wc-alert-message alert-severity="danger" class="alert-dialog-error"
                        alert-message-id="{{model.errormessageid}}">
      </wc-alert-message>
    </div>
  </div>
</div>
