<div class="fornya-dialog">
  <div id="{{dialogId}}" class="modal-header">
      <button type="button" class="close" ng-click="button2click()"><i class="material-icons">close</i></button>
      <h3 ng-focus="dialog.focus" tabindex="-1">
          <span dynamic-label key="{{titleId}}"></span>
      </h3>
  </div>
  <div class="modal-body">
      <span dynamic-label key="{{bodyText}}"></span>
  </div>
  <div class="modal-footer">
    <div class="form-inline padding-bottom">
      <wc-checkbox-wrapper>
        <input id="dontShowAgain-checkbox" type="checkbox" ng-model="model.dontShowInfo">
        <label for="dontShowAgain-checkbox" id="dontShowAgain" class="checkbox">
          Visa inte igen.
        </label>
      </wc-checkbox-wrapper>
    </div>
    <div class="webcert-top-padding-section form-inline">
      <wc-button
              btn-id="{{button1id}}"
              btn-class="btn btn-primary"
              btn-click="button1click()"
              btn-disabled="!model.acceptprogressdone"
              loading="!model.acceptprogressdone"
      >
        <span dynamic-label key="{{button1text}}"></span>
      </wc-button>
      <wc-button
              btn-id="{{button2id}}"
              btn-class="btn btn-default"
              btn-click="button2click()"
      >
        <span dynamic-label key="{{button2text}}"></span>
      </wc-button>
      <div class="webcert-top-padding-section" ng-show="model.showerror">
        <wc-alert-message alert-severity="danger" class="alert-dialog-error"
                          alert-message-id="{{model.errormessageid}}"></wc-alert-message>
      </div>
    </div>
  </div>
</div>