<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">×</button>
    <h3>
        <span message key="modal.title.{{title}}"></span>
    </h3>
</div>
<div class="modal-body">
    {{bodyText}}
</div>
<div class="modal-footer">
    <button type="button" id="buttonYes" class="btn btn-primary" ng-click="yes()">
        <span message key="common.yes"></span>
    </button>
    <button type="button" id="buttonNo" class="btn btn-secondary" ng-click="no()">
        <span message key="common.no"></span>
    </button>
    <button type="button" id="buttonNoDontAsk" class="btn btn-secondary" ng-click="noDontAsk()">
        <span message key="common.nodontask"></span>
    </button>
</div>
