<div id="{{dialogId}}" class="modal-header">
  <button type="button" class="close" ng-click="$close()">×</button>
  <h3 ng-focus="model.focus" tabindex="-1">
    <span message key="{{titleId}}"></span>
  </h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div style="padding-bottom: 10px"><span message key="{{bodyTextId}}"></span></div>
  </div>
  <div class="form-group">
    <p>Varför makulerar du intyget?</p>
    <div ng-repeat="reason in model.choices">
      <label class="radio big-radio-label">
        <input id="reason-{{reason.value}}" name="reason-{{reason.value}}" type="radio" class="big-radio"
               ng-model="model.makuleraModel.reason" ng-value="reason.value"> {{reason.label}}
        <!--span message key="{{reason.label}}"></span-->
      </label>
      <div class="form-group fold-animation" ng-if="model.makuleraModel.reason == reason.value">
        <textarea id="clarification-{{reason.value}}" rows='3' class='form-control'
                  ng-model="model.makuleraModel.clarification" placeholder="{{reason.placeholder}}">
        </textarea>
      </div>
    </div>
  </div>

  <div class="form-inline">
    <button type="button" id="{{button1id}}" class="btn btn-danger"
            ng-disabled="!isMakuleraEnabled(model)"
            ng-click="button1click()">
      <img ng-hide="model.acceptprogressdone" ng-src="/img/ajax-loader-small-green.gif" />
      <span message key="{{button1text}}"></span>
    </button>
    <button type="button" id="{{button2id}}" class="btn btn-danger"
            ng-disabled="!isMakuleraEnabled(model)"
            ng-click="button2click()">
      <img ng-hide="model.acceptprogressdone" ng-src="/img/ajax-loader-small-green.gif" />
      <span message key="{{button2text}}"></span>
    </button>
    <button type="button" id="{{button3id}}" class="btn btn-info" ng-click="button3click()">
      <span message key="{{button3text}}"></span>
    </button>
    <div class="webcert-top-padding-section" ng-show="model.showerror">
      <div class="alert alert-danger alert-dialog-error">
        <span message key="{{model.errormessageid}}"></span>
      </div>
    </div>
  </div>
</div>
