<div class="preference-dialog">
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><i class="material-icons">close</i></button>
  <h3>
    <span dynamic-label key="modal.title.{{title}}"></span>
  </h3>
</div>
<wc-bottom-fadeout>
  <div class="modal-body">
    {{bodyText}}
  </div>
</wc-bottom-fadeout>
<div class="modal-footer">
  <div class="form-inline padding-bottom">

  </div>
  <div class="webcert-top-padding-section form-inline">
  <button type="button" id="buttonYes" class="btn btn-primary" ng-click="yes(model.dontShowAgain)">
    <span dynamic-label key="common.yes"></span>
  </button>
  <button type="button" id="buttonNo" class="btn btn-default" ng-click="no(model.dontShowAgain)">
    <span dynamic-label key="common.no"></span>
  </button>
</div>
</div>
</div>
