<div id="{{dialogId}}" class="modal-header">
  <button type="button" class="close" ng-click="button3click()">×</button>
  <h3 ng-focus="model.focus" tabindex="-1">
    <span message key="{{titleId}}"></span>
  </h3>
</div>

<div class="modal-body">
  <div style="padding-bottom: 10px"><span message key="{{bodyTextId}}"></span></div>
  <div class="form-group form-inline">
    <label class="checkbox" ng-click="model.widgetState.setSkipShowUnhandledDialog(model.widgetState)">
      <input type="checkbox" id="preferenceSkipShowUnhandledDialog" name="preferenceSkipShowUnhandledDialog" ng-model="model.widgetState.skipShowUnhandledDialog" ng-change="model.widgetState.setSkipShowUnhandledDialog(model.widgetState)">
      <span message key="label.qacheckhanterad.checkbox"></span></label>
  </div>
</div>
<div class="modal-footer">
  <div class="form-inline">
    <button type="button" id="{{button1id}}" class="btn btn-primary" ng-click="button1click()">
      <span message key="{{button1text}}"></span>
    </button>
    <button type="button" id="{{button2id}}" class="btn btn-secondary" ng-click="button2click()">
      <span message key="{{button2text}}"></span>
    </button>
    <button type="button" id="{{button3id}}" class="btn btn-secondary" ng-click="button3click()">
      <span message key="{{button3text}}"></span>
    </button>
  </div>
</div>
