<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="rhsIndexApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<base href="/">
<title>Ärendesimulatorn</title>

<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css" />
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<link rel="stylesheet" href="/web/webjars/common/webcert/wc-common.css">
<link rel="stylesheet" href="/web/webjars/common/css/inera-certificate.css">

</head>
<style>
  html, body {
    height: 100%;
    margin: 4px;
    padding: 0px;
  }

</style>

<body class="index-page" ng-controller="IndexController">

  <div class="index-content-container">

    <!-- header part -->
    <div class="index-header-section">

      <div class="row">
        <div class="col-sm-6">
          <h1 class="page-title">Välkommen till Ärendeverktyget</h1>
          <p class="well">Välj först en vårdenhet och sedan det intyg du vill skapa ett ärende för.<br>  <br>

            För att en vårdenhet skall gå att välja i drop-down menyn nedan så måste det finnas minst ett
            signerat och skickat intyg på enheten. </p>
          <label for="enhet">Välj vårdenhet</label><br/>
          <div class="row">
            <div class="col-sm-6">

              <select class="form-control" style="max-width:500px;" id="enhet" ng-model="selectedEnhet" ng-change="loadIntyg()">
                <option ng-repeat="unit in units" value="{{ unit.enhetsId}}">{{ unit.enhetsNamn }} - {{ unit.enhetsId }}</option>
              </select>
              <div ng-if="units.length == 0">Ingen enhet med något signerat och skickat intyg finns i din
                Webcert-databas. Gå in i Webcert och signera/skicka först.
              </div>
              </div>
              <div ng-if="selectedEnhet != ''" class="col-sm-6 text-right">
                <button class="btn btn-danger" type="button" ng-click="deleteAllArendenOnUnit()">Radera alla ärenden på enheten</button>
                <div ng-if="raderingsResultat">{{ raderingsResultat }}</div>
              </div>
          </div>
          <br />
          <label ng-if="data.length > 0" for="intygTable">Visar intyg på enhet {{ selectedEnhet }}</label>

          <table id="intygTable" class="col-md-12 table table-striped table-qa" ng-if="data.length > 0">
            <tr>
              <th>Patient</th>
              <th>IntygsId</th>
              <th>Typ</th>
              <th>Skapad av</th>
              <th>Signerades</th>
            </tr>
            <tr ng-repeat="d in data">
              <td>{{ d.patientFornamn }} {{ d.patientEfternamn}} - {{ d.patientPersonnummer}}</td>
              <td>{{ d.intygsId }}</td>
              <td>{{ d.intygsTyp }}</td>
              <td>{{ d.skapadAv.namn }}</td>
              <td>{{ d.signatur.signeringsDatum | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>
                <button type="button" class="btn btn-success" ng-click="openForm(d)">Välj</button>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <h1 class="page-title" ng-if="q.intygsId != ''">Ärendeformulär</h1>

          <!-- Begin default form -->
          <div id="advanced-filter-form" class="qa-filter-panel form-horizontal" ng-if="formToDisplay === 'arende' && q.intygsId != ''">
            <div>* == Obligatoriskt</div>
            <!-- metadata -->
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Meddelande-id*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.meddelandeId">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">IntygsId*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.intygsId">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Personnummer*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.patientPersonId">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Tidpunkt*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.skickatTidpunkt">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Rubrik</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.rubrik">
                </div>
              </div>
              <div class="row" ng-if="q.amne == 'PAMINN'">
                <label class="col-sm-3 control-label">Påminnelse-id</label>
                <div class="col-sm-9">
                  <!-- <input type="text" class="form-control" ng-model="q.paminnelseMeddelandeId">  -->
                  <select class="form-control" ng-model="q.paminnelseMeddelandeId">
                    <option value=""></option>
                    <option ng-repeat="fraga in pendingInternalActionQuestions" value="{{ fraga.id }}">{{ fraga.title }} - {{ fraga.id }}</option>
                  </select>
                  <span ng-if="q.amne == 'PAMINN'">Glöm inte ange ett påminnelse-id!</span>
                </div>
              </div>
            </div>

            <!-- SvarPa -->
            <!-- metadata -->
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Svar på - meddelandeId</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="q.svarPa.meddelandeId">
                      <option value=""></option>
                    <option ng-repeat="fraga in pendingActionQuestions" value="{{ fraga }}">{{ fraga }}</option>
                  </select>
               <!--   <input type="text" class="form-control" ng-model="q.svarPa.meddelandeId">   -->
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Svar på - referensId</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.svarPa.referensId">
                </div>
              </div>
            </div>

            <!-- Frågetyp -->
            <div class="form-group" id="filterFormVidarebefordrad">
              <div class="row">
                <label class="col-sm-3 control-label">Typ av fråga*</label>
                <div class="col-sm-9" ng-click="typeClicked()">

                  <label class="radio-inline">
                    <input id="vidarebefordradAVSTMN" name="vidarebefordrad" type="radio" value="AVSTMN" ng-model="q.amne"
                           > Avstämning
                  </label>
                  <label class="radio-inline">
                    <input id="vidarebefordradKONTKT" name="vidarebefordrad" type="radio" value="KONTKT" ng-model="q.amne"
                           > Kontakt
                  </label>
                  <label class="radio-inline">
                    <input id="vidarebefordradOVRIGT" name="vidarebefordrad" type="radio" value="OVRIGT" ng-model="q.amne"
                           > Övrigt
                  </label>
                  <label class="radio-inline">
                    <input id="vidarebefordradPAMINN" name="vidarebefordrad" type="radio" value="PAMINN" ng-model="q.amne"
                           > Påminnelse
                  </label>
                  <label class="radio-inline">
                    <input id="vidarebefordradJa" name="vidarebefordrad" type="radio" value="KOMPLT" ng-model="q.amne">
                    Komplettering
                  </label>
                </div>
              </div>
            </div>

            <!-- Texter AVSTMN, KONTKT, OVRIGT, PAMINN  ng-if="q.amne != 'KOMPLT'"-->

            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Frågetext*</label>
                <div class="col-sm-9">
                  <textarea ng-model="q.meddelande"></textarea>
                </div>
              </div>
            </div>

            <div ng-if="q.amne == 'KOMPLT'">
              <div class="well well-sm" style="margin-bottom:4px;" ng-repeat="kpl in q.kompletteringar">
                <div class="form-group">
                  <div class="row" style="margin-left:0px;margin-right: 0px;">

                    <label class="col-sm-3 control-label">Kompletteringstext*</label>
                    <div class="col-sm-7">
                      <textarea ng-model="kpl.text"></textarea>
                    </div>
                    <div class="col-sm-2 text-right">
                      <a ng-if="$index > 0" ng-click="remove($index)">Ta bort</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 control-label">FrågeID*</label>
                  <div class="col-sm-2">
                    <select class="form-control" ng-model="kpl.frageId">
                      <option ng-repeat="question in questions" value="{{ question }}">{{ question }}</option>
                    </select>
                  </div>

                  <label class="col-sm-2 control-label">Instans*</label>
                  <div class="col-sm-2">
                    <input type="number" class="form-control" ng-model="kpl.instans">
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="q.amne == 'KOMPLT'" class="row text-right" style="margin-left:0px;margin-right: 0px;">
              <a ng-click="add()">Lägg till komplettering</a>
            </div>

            <!-- Avsändare -->
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Avsändare*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.skickatAv">
                  FKASSA, HSVARD, INVANA, TRANSP
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Referens-id</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.referensId">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Sista datum för svar</label>
                <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="q.sistaDatumForSvar" />

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <button type="button" class="btn btn-success" ng-click="sendQuestion(q)">Skapa fråga</button>
                <button type="button" ng-if="hasRequestXml()" class="btn btn-info clipboardBtn" data-clipboard-text="{{ clipboardXml }}" ng-click="copiedToClipboard();">
                  Kopiera request-XML till urklipp
                </button>
                <span ng-if="copiedText != ''">{{ copiedText }}</span>
               </div>
            </div>
          </div>
          <!-- End default form -->

          <!-- Begin fk7263 / legacy form -->
          <div id="advanced-filter-form" class="qa-filter-panel form-horizontal" ng-if="formToDisplay === 'fragaSvar' && q.intygsId != ''">
            <div>* == Obligatoriskt</div>
            <!-- metadata -->
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Referens-id</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.externReferens">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">IntygsId*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.intygsId">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Personnummer*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.patientId">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Patientnamn*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.patientNamn">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Signeringstid</label>
                <div class="col-sm-9">{{ q.signeringsTidpunkt }}</div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Tidpunkt*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.avsantTidpunkt">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Typ av fråga*</label>
                <div class="col-sm-9">
                  <label class="radio">
                    <input id="amnePaminnelse" name="amne" type="radio" value="Paminnelse" ng-model="q.amne">Påminnelse
                  </label>
                  <label class="radio">
                    <input id="amneArbetstidsforlaggning" name="amne" type="radio" value="Arbetstidsforlaggning" ng-model="q.amne">Arbetstidsförläggning
                  </label>
                  <label class="radio">
                    <input id="amneKontakt" name="amne" type="radio" value="Kontakt" ng-model="q.amne">Kontakt
                  </label>
                  <label class="radio">
                    <input id="amneAvstangning" name="amne" type="radio" value="Avstamningsmote" ng-model="q.amne">Avstämningsmöte
                  </label>
                  <label class="radio">
                    <input name="amneKomplettering" type="radio" value="Komplettering_av_lakarintyg" ng-model="q.amne">Komplettering
                  </label>
                  <label class="radio">
                    <input name="amneOvrigt" type="radio" value="Ovrigt" ng-model="q.amne">Övrigt
                  </label>
                  <br/>
                </div>
              </div>
            </div>

             <div ng-if="q.amne == 'Komplettering_av_lakarintyg'">
              <div class="well well-sm" style="margin-bottom:4px;" ng-repeat="kpl in q.kompletteringar">
                <div class="form-group">
                  <div class="row" style="margin-left:0px;margin-right: 0px;">

                    <label class="col-sm-3 control-label">Kompletteringstext*</label>
                    <div class="col-sm-7">
                      <textarea ng-model="kpl.text"></textarea>
                    </div>
                    <div class="col-sm-2 text-right">
                      <a ng-if="$index > 0" ng-click="remove($index)">Ta bort</a>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <label class="col-sm-3 control-label">Fält*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="kpl.falt">
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="q.amne == 'Komplettering_av_lakarintyg'" class="row text-right" style="margin-left:0px;margin-right: 0px;">
                <a ng-click="addLegacy()">Lägg till komplettering</a>
              </div>

            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label">Rubrik</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="q.rubrik">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 control-label">Meddelande</label>
                <div class="col-sm-9">
                  <textarea ng-model="q.frageText"></textarea>
                </div>
              </div>
           </div>

            <div class="form-group">
              <div class="col-sm-9">
                <button type="button" class="btn btn-success" ng-click="sendLegacyQuestion(q)">Skapa fråga</button>
                <button type="button" class="btn btn-info clipboardBtn" ng-if="hasRequestXml()" data-clipboard-text="{{ clipboardXml }}" ng-click="copiedToClipboard();">
                  Kopiera request-XML till urklipp
                </button>
                <span ng-if="copiedText != ''">{{ copiedText }}</span>
               </div>
            </div>

          </div>
          <!-- End fk7263 / legacy -->

          <!-- Dont display -->
          <div id="advanced-filter-form" class="qa-filter-panel form-horizontal" ng-if="formToDisplay === undefined && q.intygsId != ''">
            <pre>
                __   ____----.____     
               /   \/    /_  |    |   __           _     __     ____
              /    /    /| | | ___|  /   \___    _/ \  _|  | __|    \__   ____
             /         / |_| | |    / /\  \  \  / /\ \|  | |/   \"" |  | |    |
            /___/\    /______| |   /  __   \  \/ /__  \  | |__   \  /  | |  __|
                  \__/      |__|  /__/  \___\   //  \__\ |    |   \ \  |_|  ___|_
                                             \_/      |__|----"\___\ |____|      |
                                                               |_____/   |_______|
            </pre>
             
          </div>
          <!-- End dont display -->
          <div ng-if="resultat" class="form-group">
            <label class="col-sm-12">Resultat
              <div>{{resultat}}</div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- bower:js -->
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="/bower_components/angular-i18n/angular-locale_sv-se.js"></script>
  <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/bower_components/api-check/dist/api-check.js"></script>
  <script type="text/javascript" src="/bower_components/angular-formly/dist/formly.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-select/dist/select.js"></script>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/momentjs/moment.js"></script>
  <!-- endbower -->
  <script type="text/javascript" src="/pubapp/simulator/clipboard.min.js"></script>
  <script type="text/javascript" src="/pubapp/simulator/index-app.main.js"></script>
</body>
</html>
