<div id="wcHeader" wc-header></div>
<div class="container-fluid">
    <div class="row">
  <div class="col-md-12 webcert-col webcert-col-single">
    <div wc-about>
        <p>
            Om du har en fråga om tjänsten, börja alltid med att se om den är besvarad under ”Vanliga frågor och svar”. Om du inte hittar ditt svar använder du följande kontaktvägar, beroende på typ av fråga:
        </p>
        <ul>
            <li>Frågor som gäller inloggning: kontakta din SITHS-kortadministratör.</li>
            <li>Tekniska frågor om Webcert hanteras i första hand av din lokala IT-avdelning. Om din lokala IT-avdelning inte kan hitta felet ska de kontakta <a href="http://www.inera.se/felanmalan" target="_blank">Ineras Nationell kundservice</a>.</li>
            <li>För frågor som rör ifyllnaden av intyg så finns hjälpfunktioner i intyget för stöd hur intyget ska fyllas i. Du kan även gå till <a href="http://www.socialstyrelsen.se/riktlinjer/forsakringsmedicinsktbeslutsstod" target="_blank">Socialstyrelsens försäkringsmedicinska beslutsstöd</a> för hjälp med bedömningar av funktionsnedsättning och aktivitetsbegränsning.</a></li>
        </ul>
    </div>
  </div>
</div>
</div>