<div id="wcHeader" wc-header></div>
<div class="container-fluid">
  <div class="row" id="about-webcert-faq">
    <div class="col-md-12 webcert-col webcert-col-single">
      <div wc-about>
        <h3>
          Inloggning </h3>
        <h4>Varför kan jag inte logga in?</h4>
        <p>
          Kontrollera följande: </p>
        <ul>
          <li>Att SITHS-kortet (även kallat eTjänstekortet eller tjänstekortet) eller e-legitimationen sitter ordentligt
            i kortläsaren.
          </li>
          <li>Att datorn är ansluten till internet.</li>
          <li>Att du skrivit rätt webbadress.</li>
          <li>Att NetiD är installerat på din PC. (Du kan se den som en ikon i menyfältet nere i högra hörnet).</li>
          <li>Testa att högerklicka på NetiD-ikonen nere till höger. Välj att uppdatera e-legitimationsförflyttning
            eller läs in kortet på nytt. Testa därefter att gå in i Webcert igen.
          </li>
          <li>Att du anger rätt kod när du försöker logga in. Observera att det finns två koder kopplade till ditt kort,
            en legitimeringskod och en underskriftskod. Vid inloggning används legitimeringskoden.
          </li>
        </ul>
        <p>
          Om inget av ovanstående fungerar kontaktar du din SITHS-kortadministratör. </p>

        <h3>Skriva intyg</h3>

        <h4>Hur fungerar hjälpfunktionen?</h4>
        <p>Klicka på frågetecknet i anslutning till rubriken i utkastet så visas en kort hjälptext om hur fältet ska
          fyllas i. Om du behöver ytterligare information klickar du på länken. Hjälpfunktionen avser endast hjälp vid
          ifyllande av utkastet, inte teknisk hjälp.</p>

        <h4>Hur kan jag få hjälp med bedömningar avfunktionsnedsättning och aktivitetsbegränsning?</h4>
        <p>I fält 4 och 5 i läkarintyg FK 7263, där du ska göra en bedömning av patientens funktionsnedsättning och
          aktivitetsbegränsning, finns en länk till Socialstyrelsens försäkringsmedicinska beslutsstöd. Via länken når
          du en hjälpmanual för hur bedömningarna bör ske.</p>

        <h4>Hur använder jag mig av Socialstyrelsens försäkringsmedicinska beslutsstöd?</h4>
        <p>Genom att trycka på ikonen för Socialstyrelsens försäkringsmedicinska beslutsstöd, som finns vid fält 4 och 5
          i läkarintyg FK 7263, länkas du till Socialstyrelsens webbsida. Om diagnosen du har valt finns med i
          beslutsstödet kopplas du direkt till denna information. Om diagnosen inte finns med kan du välja att själv
          söka information om annan diagnos. Socialstyrelsens försäkringsmedicinska beslutstöd är till hjälp för att
          bedöma hur lång tid sjukskrivningen ska vara. Om sjukskrivningen omfattar längre tid än den som rekommenderas
          ska det motiveras i intygets fält 9.</p>

        <h4>Vad är skillnaden mellan ett intyg och ett utkast?</h4>
        <p>
          Ett intyg betraktas som ett utkast ända tills det signerats av en läkare, då övergår det till att bli ett
          intyg. </p>
        <p>
          Du kan skriva i och spara ett utkast så många gånger du vill innan det signeras. Ett utkast går även att
          radera och tas då bort från Webcert. </p>
        <p>
          I samband med att intyget signeras skickas det till Intygstjänsten och kan då nås av patienten via Mina
          intyg. </p>
        <p>
          Ett intyg kan inte sparas om eller raderas, däremot kan ett intyg makuleras och återtas eller ersättas av ett
          nytt intyg. </p>

        <!--
        <h3>Spara intyg</h3>

        <h4>Varför går det inte att spara utkastet?</h4>
        <p>Utkastet sparas automatiskt under utfärdandet. Om spara-knappen inte är tillgänglig betyder det att utkastet redan är sparat.</p>
-->
        <h3>Skicka intyg</h3>

        <h4>Varför syns inte skicka-knappen?</h4>
        <p>Du har inte signerat intyget. Observera att intyget låses vid signering, vilket innebär att det inte längre
          kan ändras eller utplånas.</p>

        <h4>Varför behöver jag patientens samtycke för att skicka intyget?</h4>
        <p>Intyget innehåller patientens personuppgifter, såsom uppgifter om patientens hälsa. För att få skicka
          patientens intyg och därmed personuppgifter till en annan myndighet krävs enligt gällande lagstiftning
          (personuppgiftslagen och patientdatalagen) att du först inhämtar patientens samtycke.</p>

        <h4>När ska jag skicka intyget till Försäkringskassan?</h4>
        <p>Intyg ska endast skickas till Försäkringskassan om samtliga tre punkter är uppfyllda:</p>
        <ul>
          <li>sjukskrivningen kommer att vara längre än 14 dagar.</li>
          <li>patienten kommer ansöka om sjukpenning.</li>
          <li>patienten kan eller vill inte skicka intyget från Mina intyg.</li>
        </ul>
        <p>Observera att patienten måste ge sitt samtycke för att du ska kunna skicka intyget elektroniskt direkt till Försäkringskassan.</p>

        <h3>Fråga och svars-funktionen</h3>

        <h4>Hur ställer jag en fråga till Försäkringskassan?</h4>
        <p>Funktionen för Fråga och svar blir tillgänglig först när intyget är signerat och skickat till Försäkringskassan. Gå in i intyget för att se alla frågor och svar för det aktuella läkarintyget. Du kan se vårdenhetens alla frågor och svar under fliken "Frågor och svar".</p>

        <h4>Hur vet jag om det har kommit en fråga från Försäkringskassan?</h4>
        <p>Enhetens vårdadministratör får via mejl information om när ett nytt ärende har kommit in från Försäkringskassan. Vårdadministratören ansvarar för att rätt läkare får information om det nya ärendet.</p>

        <h4>Jag har skickat en fråga till Försäkringskassan, hur ser jag om det kommit ett svar?</h4>
        <p>Du kan se det på något av följande sätt:</p>
        <ul>
          <li>Gå in på den berörda patientens intyg.</li>
          <li>Gå in på fliken "Frågor och svar".</li>
          <li>Enhetens vårdadministratör får via mejl information om när ett nytt ärende från Försäkringskassan har inkommit och ansvarar för att rätt läkare får information om det nya ärendet. Fråga din vårdadministratör om svaret har kommit.
          </li>
        </ul>

        <h4>När försvinner frågor från listan under fliken "Frågor och svar"?</h4>
        <p>En fråga försvinner aldrig från listan över frågor och svar, däremot så visas den inte i listan när den är markerad som hanterad. Det går att söka efter och se en hanterad fråga med hjälp av sökfiltret.</p>

        <!--
        <h4>Går det att få en sorteringsfunktion för frågorna?</h4>
        <p>Ja. Utgångspunkt för sorteringen är datum för senaste händelse. Du kan ändra sorteringen genom att klicka på en rubrik så sorteras listan efter vald rubrik. Återställ sorteringen genom att klicka på rubriken "Sparat datum".</p>
-->
        <h4>En fråga har besvarats via brev och ligger därmed kvar som obesvarad i Webcert. Hur tar jag bort frågan?</h4>
        <p>Öppna intyget som frågan hör till. Klicka på knappen "markera som hanterad".</p>

      </div>
    </div>
  </div>
</div>