<div class="row-fluid">
  <div class="span12 webcert-col webcert-col-single">
    <div wc-about>
        <h3>
            Läkarintyg FK 7263
        </h3>
        <p>
            Läkarintyget används av Försäkringskassan för att bedöma om patienten har rätt till sjukpenning. Av intyget ska det framgå hur sjukdomen påverkar patientens arbetsförmåga och hur länge patienten behöver vara sjukskriven. Läkarintyg FK 7263 ska skrivas om patientens sjukskrivningsperiod beräknas överstiga 14 dagar.
        </p>
    </div>
  </div>
</div>
