<div class="row-fluid">
  <div class="span7 webcert-col webcert-col-single">
    <form name="nameForm" ng-submit="chooseCertType()" novalidate autocomplete="off">
      <a class="backlink" href="#/create/choose-patient/index"><span message key="common.goback"></span></a>
      <h1>Sök/skriv intyg</h1>
      <div class="control-group">
        <label class="control-label">Patientuppgifter</label>
        <div class="control-group">
          <div class="well well-large">
            {{personnummer}}
            <button class="btn" type="button" ng-click="changePatient()">Byt patient</button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label for="name" class="control-label">Ange patientens namn</label>
        <input id="name" name="name" type="text" ng-model="name" required wc-visited />
        <div ng-show="nameForm.name.$invalid && (nameForm.name.$visited || nameForm.submitted)">
          <span class="error">Du måste ange ett namn</span>
        </div>
      </div>
      <div class="control-group">
        <button class="btn btn-success" type="submit" ng-disabled="nameForm.$invalid">Fortsätt</button>
      </div>
    </form>
  </div>
</div>
