<div class="row-fluid">
  <div class="span7 webcert-col webcert-col-single">
    <form name="certForm" ng-submit="lookupAddress()" novalidate autocomplete="off">
      <!--<a class="backlink" href="#/create/choose-patient/index"><span message key="common.goback"></span></a>-->
      <h1>Sök/skriv intyg</h1>
      <div class="control-group">
        <label class="control-label">Patientuppgifter</label>
          <div class="control-group">
            {{firstname}} {{lastname}}<br/>
            {{personnummer}}
          </div>
          <button class="btn" type="button" ng-click="changePatient()">Byt patient</button>
          <button class="btn" type="button" ng-click="editPatientName()">Korrigera namn</button>
      </div>

      <div class="webcert-col-section">
        <div class="control-group">
          <label for="intygType" class="control-label">Skriv nytt intyg</label>
          <select id="intygType" name="intygType" data-ng-model="intygType" data-ng-options="type.id as type.label for type in certTypes"></select>
        </div>
        <div class="control-group">
          <button class="btn btn-success" type="submit" ng-disabled="intygType == 'default'">Fortsätt</button>
        </div>
        <div class="alert alert-warning" ng-show="false">
          Tänk på att...
        </div>
      </div>

    </form>

    <div class="webcert-col-section">
      <h2 class="col-head">{{firstname}} {{lastname}}s tidigare intyg</h2>
      <div class="control-group" ng-hide="true">
        <div class="controls pointer-labels">
          <label class="checkbox"><input type="radio" name="olderCerts"> Visa intyg för Vårdenheter och till mottagare som jag har medarbetaruppdrag på</label>
          <label class="checkbox"><input type="radio" name="olderCerts"> Visa intyg för hela vårdgivaren som jag har medarbetaruppdrag på</label>
        </div>
      </div>
      <div class="control-group">
        <span ng-if="!widgetState.queryMode">Visar endast aktuella signerade intyg.<br></span>
        <button id="show-advanced-filter-btn" class="btn btn-link btn-link-minimal" ng-click="widgetState.queryFormCollapsed = !widgetState.queryFormCollapsed" ng-switch="widgetState.queryFormCollapsed">
          <span ng-switch-when="true">Visa avancerat sökfilter</span><span ng-switch-when="false">Dölj avancerat sökfilter</span>
        </button>
      </div>

      <div wc-spinner label="info.loadingdata" show-spinner="widgetState.doneLoading" show-content="!widgetState.doneLoading">
        <div class="webcert-col-section">

          <!-- No certs for person -->
          <div id="current-list-noResults-unit" ng-show="!widgetState.activeErrorMessageKey && widgetState.currentList.length<1" class="alert alert-info">
            <span message key="info.nocertsfound"></span>
          </div>

          <!-- error message -->
          <div id="current-list-noResults-error" ng-show="widgetState.activeErrorMessageKey" class="alert alert-error">
            <span message key="{{widgetState.activeErrorMessageKey}}"></span>
          </div>

          <!-- Previous certs table -->
          <div class="row-fluid" ng-show="widgetState.currentList.length>0" id="prevCertTable">
            <table class="span12 table table-striped table-qa">
              <tr>
                <th></th>
                <th></th>
                <th class="center" title="">Intygstyp</th>
                <th title="">Status</th>
                <th title="">Ändringsdatum</th>
                <th title="">Signerat/Sparat av</th>
              </tr>
              <tr ng-repeat="cert in widgetState.currentList">
                <td>
                  <button class="btn btn-info" title="Visa intyget" ng-click="openIntyg(cert)" id="showBtn-{{cert.intygId}}">Visa</button>
                </td>
                <td>
                  <button class="btn btn-info" title="Kopiera intyget till ett nytt utkast" ng-click="copyIntyg(cert.intygId)" id="copyBtn-{{cert.intygId}}">
                    Kopiera
                  </button>
                </td>
                <td><span message key="certificatetypes.{{cert.intygType}}.typename"></span></td>
                <td class="unbreakable"><span message key="cert.status.{{cert.status}}"></span></td>
                <td class="unbreakable">{{cert.lastUpdatedSigned | date:'shortDate'}}</td>
                <td class="unbreakable table-qa-last">{{cert.updatedSignedBy}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- spinner end -->

    </div>
  </div>
</div>
