<div id="wcHeader" wc-header></div>
<div class="container-fluid">
  <div class="row">
    <div id="sok-skriv-fyll-i-namn" class="col-xs-12 col-lg-7 webcert-col webcert-col-single">
      <form name="nameForm" ng-submit="chooseCertType()" novalidate autocomplete="off">
        <!--a class="backlink" href="#/create/choose-patient/index"><span message key="common.goback"></span></a-->
        <h1>Sök/skriv intyg</h1>
        <div class="form-group">
          <label class="control-label">Patientuppgifter</label>
          <div class="form-group">
            {{personnummer}}
          </div>
          <button class="btn btn-default" type="button" ng-click="changePatient()">Byt patient</button>
        </div>

        <div class="webcert-col-section webcert-top-padding-section">

          <div class="alert alert-warning" ng-show="!personNotFound && !errorOccured">
            Observera att nedanstående uppgifter är inhämtade från personuppgiftstjänsten. Vill du ändra dem kan du göra det här, men dessa ändringar kommer endast gälla för detta intyg. Tänk på att basera inmatade uppgifter på patientens legitimationsuppgifter.
          </div>
          
          <div class="alert alert-danger" ng-show="personNotFound">
            <strong>Inget resultat!</strong> Slagningen mot personuppgiftstjänsten returnerade inget resultat för {{personnummer}}. Manuell inmatning av namn är möjlig. Tänk på att basera inmatade uppgifter på patientens legitimationsuppgifter.
          </div>
          
          <div class="alert alert-danger" ng-show="errorOccured">
            <strong>Tekniskt fel!</strong> Ett teknisk fel inträffade vid slagning mot personuppgiftstjänsten. Manuell inmatning av namn är möjlig. Tänk på att basera inmatade uppgifter på patientens legitimationsuppgifter.
          </div>
          
          <div class="form-group">
            <label for="fornamn" class="control-label">Förnamn</label>
            <input id="fornamn" class="form-control" name="fornamn" type="text" ng-model="fornamn" required
                   wc-visited />
            <div ng-show="nameForm.fornamn.$invalid && (nameForm.fornamn.$visited || nameForm.submitted)">
              <span class="error">Du måste ange ett förnamn</span>
            </div>
          </div>
          <div class="form-group">
            <label for="efternamn" class="control-label">Efternamn</label>
            <input id="efternamn" class="form-control" name="efternamn" type="text" ng-model="efternamn" required
                   wc-visited />
            <div ng-show="nameForm.efternamn.$invalid && (nameForm.efternamn.$visited || nameForm.submitted)">
              <span class="error">Du måste ange ett efternamn</span>
            </div>
          </div>
          <div class="form-group">
            <button id="namnFortsatt" class="btn btn-success" type="submit" ng-disabled="nameForm.$invalid">Fortsätt</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>