<div class="row-fluid">
  <div class="span7 webcert-col webcert-col-primary">
	  <a class="backlink" href="#start"><span message key="common.goback"></span></a>

	  <h1>Skriv nytt intyg</h1>
	  <div class="control-group">
	    <label class="control-label">Vald patient</label>
	    <div class="well well-large">
	      <h4>Per Persson</h4>
	      19230408-1234
	    </div>
	  </div>
    <div class="control-group">
      <button class="btn btn-success" ng-click="editCert()">Skriv Läkarintyg FK 7263</button>
    </div>
	  <div class="alert alert-warning">
	   Tänk på att...
	  </div>
  </div>
</div>
