<div id="wcHeader" wc-header></div>
<div class="container-fluid">
    <div class="row-fluid">
  <div class="span7 webcert-col webcert-col-single">
    <form name="nameForm" ng-submit="chooseCertType()" novalidate autocomplete="off">
      <!--a class="backlink" href="#/create/choose-patient/index"><span message key="common.goback"></span></a-->
      <h1>Sök/skriv intyg</h1>
      <div class="control-group">
        <label class="control-label">Patientuppgifter</label>
        <div class="control-group">
            {{personnummer}}
        </div>
        <button class="btn" type="button" ng-click="changePatient()">Byt patient</button>
      </div>

      <div class="webcert-col-section">
	      <div class="control-group">
	        <label for="firstname" class="control-label">Förnamn</label>
	        <input id="firstname" name="firstname" type="text" ng-model="firstname" required wc-visited />
	        <div ng-show="nameForm.firstname.$invalid && (nameForm.firstname.$visited || nameForm.submitted)">
	          <span class="error">Du måste ange ett förnamn</span>
	        </div>
	      </div>
        <div class="control-group">
          <label for="lastname" class="control-label">Efternamn</label>
          <input id="lastname" name="lastname" type="text" ng-model="lastname" required wc-visited />
          <div ng-show="nameForm.lastname.$invalid && (nameForm.lastname.$visited || nameForm.submitted)">
            <span class="error">Du måste ange ett efternamn</span>
          </div>
        </div>
	      <div class="control-group">
	        <button class="btn btn-success" type="submit" ng-disabled="nameForm.$invalid">Fortsätt</button>
	      </div>
	  </div>
    </form>
  </div>
</div>
</div>