<div class="row-fluid">
  <div class="span7 webcert-col webcert-col-single">
    <form name="pnrForm" ng-submit="toEditPatient()" novalidate>
      <h1>Sök/skriv intyg</h1>
      <div class="control-group">
        <label class="control-label">Patientens personnummer</label>
        <input id="pnr" name="pnr" type="text" ng-model="personnummer" wc-person-number placeholder="Exempel: ååååmmdd-nnnn" />
        <div ng-show="pnrForm.pnr.$dirty || pnrForm.submitted">
          <span class="error" ng-show="pnrForm.pnr.$error.personNumberValidate">Du måste ange ett giltigt personnummer</span>
        </div>
      </div>
      <div class="control-group">
        <button class="btn btn-success" type="submit">Fortsätt</button>
        <!--ng-disabled="pnrForm.$invalid"-->
      </div>
    </form>
  </div>
</div>
