<div class="row-fluid">
  <div class="span7 webcert-col webcert-col-primary">
	  <a class="backlink" href="#start"><span message key="common.goback"></span></a>

	  <h1>Skriv nytt läkarintyg FK 7263</h1>
	  <div class="control-group">
	    <label class="control-label">Patientuppgifter</label>
	    <div class="well well-large">
        <div class="control-group">
	      <h4>Per Persson</h4>
	      19230408-1234
        </div>
        <button class="btn" ng-click="toStep1()">Byt patient</button>	      
        <button class="btn" ng-click="toEditPatient()">Ändra patientuppgifter</button>        
	    </div>
	  </div>
    <div class="control-group">
      <h2>Välj den enhet som du vill skriva intyget på</h2>
      <div class="row-fluid">
        <div id="wc-care-unit-clinic-selector" wc-care-unit-clinic-selector></div>
      </div>
      <button class="btn btn-success" ng-click="editCert()">Fortsätt</button>
      <button class="btn btn-secondary" ng-click="toStep1()"><span message key="common.cancel"></span></button>
    </div>
  </div>
</div>
