<div class="row-fluid">
	<div class="span6 webcert-col webcert-col-primary"> <!-- Left side -->
		<div class="webcert-col-shadow"></div>
		<h1>Intygslista</h1>
    <div class="control-group">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Välj enhet
				<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			    <li><a href="#">Karolinska sjukhuset i stockholm med mera</a></li>
			  </ul>
			</div>					
		</div>
	  <div class="control-group">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Välj mottagning
				<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
				<!-- dropdown menu links -->
	          <li><a href="#">Mottagningen för öron, näsa, hals och diverse problem</a></li>
			  </ul>
			</div>					
		</div>
		
		<div class="certlist">
			<div class="row-fluid">
				<div class="span11">
					<h2>Osignerade intyg</h2>
					<a href="#">
						<span class="certblock certblock-clickable">
							<h3>Läkarintyg FK7263</h3>
							<span>2013-05-04</span>
							<span class="pull-right">Patient: <strong>19720506-4523</strong></span>
						</span>
					</a>
					<button class="btn btn-block" type="button">Visa alla intyg</button>
					<h2>Intyg med obesvarad fråga</h2>
					<span class="certblock certblock-clickable">
            <span class="certblock-subject pull-right">Fråga om återkoppling</span>
						<h3>Läkarintyg FK7263</h3>
						<span>2013-05-04</span>
						<span class="pull-right">Patient: <strong>19720506-4523</strong></span>
					</span>
					<button class="btn btn-block" type="button">Visa alla intyg</button>
					<h2>Intyg färdiga att massignera</h2>
					<span class="certblock certblock-clickable certblock-check clearfix">
            <input type="checkbox" class="pull-left" />
						<h3 class="pull-left">Läkarintyg FK7263</h3>
						<span class="pull-right">Patient: <strong>19720506-4523</strong></span>
					</span>
          <button class="btn btn-success">Signera valda intyg</button>
				</div>
			</div>
		</div>
	</div> <!-- Left side end -->
	<div class="span6"><!-- Right side -->
		<div class="row-fluid">
			<div class="span12 webcert-col">
				<h2 class="col-head">Välj patient</h2>
				<div class="control-group">
					<label class="control-label">Skriv in personnummer på patient</label>
					<div class="controls input-append">
						<input type="text" placeholder="Ex. ååååmmdd-nnnn"/><button class="btn">Välj</button></p>
					</div>
				</div>
				<div class="control-group">
					<button class="btn btn-success">Skriv intyg för vald patient</button>
				</div>
        <div class="webcert-col-section">
	        <h2 class="col-head">Patientens äldre intyg</h2>
	
	        <div class="control-group">
	          <label class="control-label">Visa intyg för</label>
	          <div class="controls">
							<label class="checkbox">
							  <input type="checkbox" value="">
							  Hela vårdgivaren
							</label>        
			        <label class="checkbox">
			          <input type="checkbox" value="">
			          Vårdenheter och mottagare jag har medarbetaruppdrag på
			        </label>
			      </div>
		      </div>        
	        <div class="control-group">
	          <div class="controls">
		          <span class="span9 certblock certblock-clickable">
		            <h3>Läkarintyg FK7263</h3>
		            <span>2013-05-04</span>
		          </span>
	            <span class="span3 certblock-copy"><button class="btn btn-info span12">Kopiera</button></span>
	          </div>
	        </div>
	      </div>
      </div>
    </div>
		
	</div> <!-- Right side end -->
</div>
