<div class="row-fluid">
  <div class="span12 webcert-col-primary">
    <!-- Left side -->
    <h1><span message key="dashboard.title"></span></h1>

    <div class="certlist">
      <div class="row-fluid">
        <div class="span11">


          <!-- ListUnsignedCertCtrl ----------------------------------------------------------->
          <div id="unsigned-cert-list" ng-controller="ListUnsignedCertCtrl">
            <h2>
              <span message key="label.unsignedcerts"></span>
            </h2>
            <!-- No results message -->
            <div id="unsigned-cert-list-noResults" ng-show="widgetState.doneLoading && wipCertList.length<1 && !widgetState.hasError" class="alert alert-info">
              <span message key="info.nounsignedcertsfound"></span>
            </div>

            <!-- error message -->
            <div id="unsigned-cert-list-error" ng-show="widgetState.hasError" class="alert alert-error">
              <span message key="error.unsignedcerts.couldnotbeloaded"></span>
            </div>

            <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading" show-content="widgetState.doneLoading && wipCertList.length>0">
              <div>
              <!--
                <div ng-repeat="cert in wipCertList | limitTo:widgetState.pageSize">
                  <a ng-click="viewCert(cert)" ng-href="#">
                    <span class="certblock certblock-clickable clearfix">
                      <h3>
                        <span message key="certificatetypes.{{cert.typ | lowercase}}.typename"></span>
                      </h3>
                      <span>{{cert.lastsaved | date:'shortDate'}}</span>
                      <span class="pull-right">
                        <span message key="label.patient"></span>
                        <strong>{{cert.patientid}}</strong>
                      </span>
                    </span>
                  </a>
                </div>
                -->
	              <table class="span12 table table-striped table-qa">
	                <tr>
	                  <th></th>
	                  <th></th>
	                  <th class="center" title="Markerar om intyget är vidarebefordrat till den som ska skriva intyget">Vidarebefordrad</th>
	                  <th title="Personnumret på patienten som läkarintyget berör">Patient</th>
                    <th title="Vårdgivaren som intyget är skrivet på">Vårdgivare</th>
                    <th title="Vårdenheten som intyget är skrivet på">Vårdenhet/mottagning</th>
	                  <th title="Datum då intyget senast sparades">Senast sparat</th>
	                </tr>
	                <tr ng-repeat="cert in wipCertList | limitTo:widgetState.pageSize">
	                  <td>
	                    <button class="btn btn-info" title="Visa intyget och frågan/svaret" ng-click="openIntyg(cert.intygsReferens)" id="showqaBtn-{{cert.internReferens}}">Visa</button>
	                  </td>
	                  <td>
	                    <button class="btn btn-info" title="Skicka e-post med en länk till detta intyg för att informera den som ska hantera frågan/svaret"
	                      ng-click="openMailDialog(cert)">
	                      <img src="/img/mail.png">
	                    </button>
	                  </td>
	                  <td class="center"><input id="selected" type="checkbox" ng-disabled="cert.updateInProgress" ng-model="cert.vidarebefordrad" ng-change="onVidareBefordradChange(cert)" /> 
	                    <span ng-if="cert.updateInProgress"> <img src="/img/ajax-loader-kit-16x16.gif"></span>
	                  </td>
                    <td class="unbreakable"></td>
                    <td class="unbreakable"></td>
	                  <td class="unbreakable">{{cert.patientid}}</td>
	                  <td class="unbreakable table-qa-last">{{cert.lastsaved | date:'shortDate'}}</td>
                  </tr>
	              </table>
                              
		            <div id="showing-nr-hits" ng-show="widgetState.queryMode && widgetState.totalCount>0">Visar träff {{widgetState.queryStartFrom+1}} - {{widgetState.currentList.length}}</div>
		            <div ng-show="widgetState.queryMode && ((widgetState.lastQuery.startFrom + widgetState.queryPageSize) < widgetState.totalCount)">
		              <button class="btn" title="Hämta fler träffar" ng-click="fetchMore()" ng-disabled="widgetState.fetchingMoreInProgress">
		                <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta fler träffar
		              </button>
		              <p></p>
		            </div>
<!-- 
                <button id="unsigned-cert-list-btn-unsigned-showall" class="btn btn-block" type="button" ng-click="widgetState.pageSize = widgetState.showMax"
                  ng-show="wipCertList.length > widgetState.pageSize">
                  <span message key="label.showallcerts"></span>
                </button>
                <button id="unsigned-cert-list-btn-unsigned-showless" class="btn btn-block" type="button" ng-click="widgetState.pageSize = widgetState.showMin"
                  ng-show="widgetState.pageSize == widgetState.showMax">
                  <span message key="label.showfewercerts"></span>
                </button>
 -->            </div>
            </div>
          </div>
          <!-- End of template html for ListUnsignedCertCtrl ----------------------------------------------------------->


          <!-- UnansweredCertCtrl -----------------------------------------------------------
          <div id="unanswered-cert-list" ng-controller="UnansweredCertCtrl">
            <h2>
              <span message key="label.unansweredcerts"></span>
            </h2>
            <!-- No results message --
            <div id="unanswered-cert-list-noResults" ng-show="widgetState.doneLoading && qaCertList.length<1 && !widgetState.hasError" class="alert alert-info">
              <span message key="info.nounansweredcertsfound"></span>
            </div>

            <!-- error message --
            <div id="unanswered-cert-list-error" ng-show="widgetState.hasError" class="alert alert-error">
              <span message key="error.unansweredcerts.couldnotbeloaded"></span>
            </div>

            <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading" show-content="widgetState.doneLoading && qaCertList.length>0">
              <div>
                <div ng-repeat="qacert in qaCertList | limitTo:widgetState.pageSize">

                  <a href="#"> <span class="certblock certblock-clickable"> <span class="certblock-subject pull-right">{{qacert.subject}}</span>
                      <h3>
                        <span message key="certificatetypes.{{qacert.typ | lowercase}}.typename"></span>
                      </h3> <span>{{qacert.receiveddate | date:'shortDate'}}</span> <span class="pull-right"><span message key="label.patient"></span> <strong>{{qacert.patientid}}</strong></span>
                  </span>
                  </a>
                </div>
                <button id="unanswered-cert-list-btn-unsigned-showall" class="btn btn-block" type="button" ng-click="widgetState.pageSize = widgetState.showMax"
                  ng-show="qaCertList.length > widgetState.pageSize">
                  <span message key="label.showallcerts"></span>
                </button>
                <button id="unanswered-cert-list-btn-unsigned-showless" class="btn btn-block" type="button" ng-click="widgetState.pageSize = widgetState.showMin"
                  ng-show="widgetState.pageSize == widgetState.showMax">
                  <span message key="label.showfewercerts"></span>
                </button>
              </div>
            </div>
          </div>
          <!-- End of template html for UnansweredCertCtrl ----------------------------------------------------------->


          <!-- ReadyToSignCertCtrl ----------------------------------------------------------->
<!--         <div id="unanswered-cert-list" ng-controller="ReadyToSignCertCtrl">
            <h2>
              <span message key="label.readytosigncerts"></span>
            </h2>
 -->             
            <!-- No results message -->
<!--            <div id="unanswered-cert-list-noResults" ng-show="widgetState.doneLoading && signCertList.length<1 && !widgetState.hasError" class="alert alert-info">
              <span message key="info.noreadytosigncertsfound"></span>
            </div>
 --> 
            <!-- error message -->
<!--        <div id="unanswered-cert-list-error" ng-show="widgetState.hasError" class="alert alert-error">
              <span message key="error.readytosigncerts.couldnotbeloaded"></span>
            </div>

            <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading" show-content="widgetState.doneLoading && signCertList.length>0">
              <div>
                <div class="row-fluid" ng-repeat="readyCert in signCertList">
                  <div class="span1 certblock-mass-sign-check">
                    <input id="selected-for-mass-sign-{{readyCert.id}}" name="selected-for-mass-sign" type="checkbox" />
                  </div>
                  <div class="span11">
	                  <label for="selected-for-mass-sign-{{readyCert.id}}"> 
	                    <span class="certblock certblock-clickable certblock-check clearfix">
		                    <h3 class="pull-left">
		                      <span message key="certificatetypes.{{readyCert.typ | lowercase}}.typename"></span>
		                    </h3> 
		                    <span class="pull-right"><span message key="label.patient"></span> <strong>{{readyCert.patientid}}</strong></span>
	                    </span>
	                  </label>
                  </div>
                </div>
                <button class="btn btn-success" ng-disabled="signCertList.size < 0">
                  <span message key="label.signselectedcerts"></span>
                </button>
              </div>
            </div>
          </div>
           -->
          <!-- End of template html for ReadyToSignCertCtrl ----------------------------------------------------------->




        </div>
      </div>
    </div>
  </div>
  <!-- Left side end -->

</div>
