<div class="row-fluid">
  <div class="span12 webcert-col webcert-col-primary">
    <h1><span message key="dashboard.unanswered.title"></span></h1>
    <h2>Välj bland dina medarbetaruppdrag i Landstinget i Västmanland</h2>
    
    <div class="row-fluid">
	    <table class="span7 table" cellspacing="0" cellpadding="0">
			    <tr>
			      <th>Vårdenhet/Mottagning</th>
			      <th>Obesvarade frågor initierade av Försäkringskassan</th>
	          <th>Obesvarade frågor initierade av vården</th>
			    </tr>
			    <tr class="success">
			      <td><a href="#">Enhet 1 - linköpings universitetssjukhus</a></td>
			      <td>31</td>
	          <td>2</td>
			    </tr>
	        <tr>
	          <td><a href="#">Enhet 1 - linköpings universitetssjukhus</a></td>
	          <td>31</td>
	          <td>2</td>
	        </tr>
	    </table>
    </div>    
    
    <div class="row-fluid">
      <div class="span12">
        <span class="span7">
          <span class="certblock-head">
            <span class="certblock-field">Initierad av</span>
            <span class="certblock-field certblock-field-large">Läkare</span>
            <span class="certblock-field certblock-field-small">Skickat</span>
            <span class="certblock-field">Patient</span>
            <span class="certblock-field">Ämne</span>
            <span class="certblock-field certblock-field-small">Svar senast</span>
          </span>
        </span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
	      <span class="span7">
	        <a href="#">
	          <span class="certblock certblock-clickable">
	            <span class="certblock-field">Vården</span>
	            <span class="certblock-field certblock-field-large">Lars Larsson Smith</span>
	            <span class="certblock-field certblock-field-small">2013-01-01</span>
	            <span class="certblock-field">19121212-1212</span>
	            <span class="certblock-field">Komplettering</span>
	            <span class="certblock-field certblock-field-small">2013-01-01</span>
	          </span>
	        </a>
	      </span>
        <span class="span5">
          <span class="pull-left">
	          <button class="btn btn-success">
	            E-post
	          </button>
          </span>
          <span class="cert-mark-forwarded">
  	        <label for="selected"><input id="selected" type="checkbox" /> Markera detta intyg som vidarebefordrat</label>
          </span>
	      </span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <span class="span7">
          <a href="#">
            <span class="certblock certblock-clickable">
              <span class="certblock-field">Vården</span>
              <span class="certblock-field certblock-field-large">Lars Larsson Smith</span>
              <span class="certblock-field certblock-field-small">2013-01-01</span>
              <span class="certblock-field">19121212-1212</span>
              <span class="certblock-field">Komplettering</span>
              <span class="certblock-field certblock-field-small">2013-01-01</span>
            </span>
          </a>
        </span>
        <span class="span5">
          <span class="pull-left">
            <button class="btn btn-success">
              E-post
            </button>
          </span>
          <span class="cert-mark-forwarded">
            <label for="selected"><input id="selected" type="checkbox" /> Markera detta intyg som vidarebefordrat</label>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
