<div class="row-fluid">
  <div class="span12 webcert-col webcert-col-primary">
    <h1>
      <span message key="dashboard.unanswered.title"></span>
    </h1>
    <h2>
      Välj enhet <span style="font-size: 12px; color: #999">endast dina medarbetaruppdrag för {{MODULE_CONFIG.USERCONTEXT.vardgivare.namn}} visas</span>
    </h2>

    <div class="row-fluid">
      <div wc-care-unit-clinic-selector></div>
    </div>


    <h2 class="col-head">{{selectedUnit.namn}}</h2>
    <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading" show-content="widgetState.doneLoading">

      <!-- No results message -->
      <div id="unsigned-cert-list-noResults" ng-show="widgetState.doneLoading && !widgetState.hasError && (qaList | QAEnhetsIdFilter:activeUnit.id).length<1" class="alert alert-info">
        <span message key="info.nounanswered.qa.for.unit"></span>
      </div>
      
      <div class="row-fluid scrollable" ng-show="(qaList | QAEnhetsIdFilter:activeUnit.id).length>0">
        <table class="span12 table table-striped table-qa">
          <tr>
            <th></th>
            <th>Status</th>
            <th>Initierad av</th>
            <th>Läkare</th>
            <th>Senaste händelsen</th>
            <th>Patient</th>
            <th>Ämne</th>
            <th>Svar senast</th>
            <th class="center">Vidarebefordrad</th>
            <th></th>
          </tr>
          <tr ng-repeat="qa in qaList | QAEnhetsIdFilter:activeUnit.id">
            <td>
              <button class="btn btn-info" ng-click="openIntyg(qa.intygsReferens)">Visa</button>
            </td>
            <td><span message key="qa.status.{{qa.status}}"></span></td>
            <td><span message key="qa.frageStallare.{{qa.frageStallare}}"></span></td>
            <td>{{qa.vardperson.namn}}</td>
            <td>{{qa.senasteHandelseDatum | date:'shortDate'}}</td>
            <td>{{qa.intygsReferens.patientPersonNummer}}</td>
            <td><span message key="qa.amne.{{qa.amne}}"></span></td>
            <td>{{qa.sistaDatumForSvar}}</td>
            <td class="center"><input id="selected" type="checkbox" ng-checked="qa.vidarebefordrad" /></td>
            <td class="table-qa-last">
              <button class="btn btn-success">E-post</button>
            </td>
        </table>
      </div>
      
    </div>
  </div>
</div>

