<div class="row-fluid" id="unhandled-qa">
  <div class="span12 webcert-col webcert-col-single">
    <h1>
      <span message key="dashboard.unanswered.title"></span>
    </h1>
    <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading" show-content="widgetState.doneLoading">
      <div ng-show="units.length > 1">
	      <h2 class="less-top-padding">
	        Välj enhet
	      </h2>

	      <div class="row-fluid">
	        <div id="wc-care-unit-clinic-selector" wc-care-unit-clinic-selector></div>
	      </div>
      </div>

      <div ng-if="isActiveUnitChosen()">
        <h2 class="col-head" ng-class="{'less-top-padding' : units.length < 2}">{{selectedUnit.namn}}</h2>

        <div class="webcert-bottom-padding-section">
          <span ng-if="!widgetState.queryMode">Här visas alla ej hanterade frågor.<br></span>
          <button id="show-advanced-filter-btn" class="btn btn-link btn-link-minimal" ng-click="widgetState.queryFormCollapsed = !widgetState.queryFormCollapsed" ng-switch="widgetState.queryFormCollapsed">
            <span ng-switch-when="true">Visa sökfilter</span><span ng-switch-when="false">Dölj sökfilter</span>
          </button>
          <div id="advanced-filter-form" ng-show="!widgetState.queryFormCollapsed" class="qa-filter-panel form-horizontal form-inline" style="background-color: #f5f5f5;">
            <div class="qa-filter">
              <div class="control-group">
                <label class="control-label">Frågor från</label>
                <div class="controls">
                  <label for="frageStallareAlla"><input id="frageStallareAlla" name="frageStallare" type="radio" value="default" ng-model="qp.questionFrom" checked="checked"> Alla avsändare</label>
                  <label for="frageStallareFK"><input id="frageStallareFK" name="frageStallare" type="radio" value="FK" ng-model="qp.questionFrom"> Försäkringskassan</label>
                  <label for="frageStallareWC"><input id="frageStallareWC" name="frageStallare" type="radio" value="WC" ng-model="qp.questionFrom"> Vårdenheten</label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Läkare</label>
                <div class="controls">
                  <select id="qp-doctorSelector" ng-model="qp.doctorSelector" ng-options="s.name for s in doctorList" ng-disabled="widgetState.loadingDoctors"></select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Frågor som är</label>
                <div class="controls">
                  <label for="vidarebefordradAlla"><input id="vidarebefordradAlla" name="vidarebefordrad" type="radio" value="default" ng-model="qp.vidarebefordrad" checked="checked"> Alla frågor</label>
                  <label for="vidarebefordradJa"><input id="vidarebefordradJa" name="vidarebefordrad" type="radio" value="true" ng-model="qp.vidarebefordrad"> Vidarebefordrade</label>
                  <label for="vidarebefordradNej"><input id="vidarebefordradNej" name="vidarebefordrad" type="radio" value="false" ng-model="qp.vidarebefordrad"> Ej vidarebefordrade</label>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Ändringsdatum</label>
                <div class="controls">
                  Från <input type="text" id="filter-changedate-from" datepicker-popup ng-model="qp.changedFrom" is-open="widgetState.dpFromOpen.open"  datepicker-options="datepickerConfig"/>
                  <button class="btn" ng-click="toggleDatePickerInstance(widgetState.dpFromOpen)">
                    <i class="icon-calendar"></i>
                  </button>

                  till <input type="text" id="filter-changedate-to" datepicker-popup ng-model="qp.changedTo" is-open="widgetState.dpToOpen.open" datepicker-options="datepickerConfig"/>
                  <button class="btn" ng-click="toggleDatePickerInstance(widgetState.dpToOpen)">
                      <i class="icon-calendar"></i>
                  </button>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Åtgärd</label>
                <div class="controls">
                  <select id="qp-showStatus" ng-model="qp.vantarPaSelector" ng-options="s.label for s in statusList"></select>
                </div>
              </div>
              <div>
                <button id="filter-qa-btn" class="btn" ng-click="doSearch()">Sök</button>
                <button class="btn" ng-click="resetSearchForm()" id="reset-search-form">Återställ sökformuläret</button>
              </div>
            </div>
          </div>
        </div>

        <div wc-spinner label="info.running.query" show-spinner="widgetState.runningQuery" show-content="!widgetState.runningQuery">

          <div class="webcert-col-section">

            <!-- No results message for unhandled -->
            <div id="current-list-noResults-unit" ng-show="widgetState.doneLoading && !widgetState.activeErrorMessageKey && !widgetState.queryMode && widgetState.currentList.length<1"
              class="alert alert-info">
              <span message key="info.nounanswered.qa.for.unit"></span>
            </div>

            <!-- No results message for query -->
            <div id="current-list-noResults-query" ng-show="widgetState.totalCount<1 && widgetState.queryMode" class="alert alert-info">
              <span message key="info.query.noresults"></span>
            </div>

            <!-- error message -->
            <div id="current-list-noResults-error" ng-show="widgetState.doneLoading && widgetState.activeErrorMessageKey" class="alert alert-error">
              <span message key="{{widgetState.activeErrorMessageKey}}"></span>
            </div>

            <div id="query-count" ng-show="widgetState.queryMode && widgetState.totalCount>0">Sökresultat - {{widgetState.totalCount}} träffar</div>

            <!-- qa table -->
            <div class="row-fluid qa-table-section" ng-show="widgetState.currentList.length>0" id="qaTable">
              <table class="span12 table table-striped table-qa">
                <tr>
                  <th></th>
                  <th></th>
                  <th class="center" title="Markera om frågan eller svaret är vidarebefordrat till den som ska hantera ärendet.">Vidarebefordrad</th>
                  <th title="Åtgärd som krävs för att fråga-svar ska anses som hanterad.">Åtgärd</th>
                  <th title="Läkare som har signerat intyget.">Läkare</th>
                  <th title="Berörd patients personnummer.">Patient</th>
                  <th title="Datum för senaste händelse. Exempelvis när fråga skickades eller när svar inkom.">Ändringsdatum</th>
                  <!--th title="Eventuellt datum som vårdenheten måste inkomma med svar till Försäkringskassan">Svar senast</th-->
                </tr>
                <tr ng-repeat="qa in widgetState.currentList">
                  <td>
                    <button class="btn btn-info" title="Visar intyget och fråga-svar." ng-click="openIntyg(qa.intygsReferens)" id="showqaBtn-{{qa.internReferens}}">Visa</button>
                  </td>
                  <td>
                    <button class="btn" ng-class="{'btn-info': !qa.vidarebefordrad, 'btn-secondary' : qa.vidarebefordrad}" title="Skicka ett mejl med en länk till intyget för att informera den som ska hantera ärendet."
                      ng-click="openMailDialog(qa)">
                      <img ng-if="!qa.vidarebefordrad" src="/img/mail.png">
                      <img ng-if="qa.vidarebefordrad" src="/img/mail_dark.png">
                    </button>
                  </td>
                  <td class="center">
                    <input id="selected" type="checkbox" ng-disabled="qa.updateInProgress" ng-model="qa.vidarebefordrad" ng-change="onVidareBefordradChange(qa)" />
                    <span ng-if="qa.updateInProgress"> <img src="/img/ajax-loader-kit-16x16.gif"></span>
                  </td>
                  <td><span message key="qa.measure.{{qa.measureResKey}}"></span></td>
                  <td>{{qa.vardperson.namn}}</td>
                  <td class="unbreakable">{{qa.intygsReferens.patientId.patientIdExtension}}</td>
                  <td class="unbreakable table-qa-last">{{qa.senasteHandelseDatum | date:'shortDate'}}</td>
                  <!--td class="unbreakable table-qa-last">{{qa.sistaDatumForSvar}}</td-->
              </table>
            </div>
            <div id="showing-nr-hits" ng-show="widgetState.queryMode && widgetState.totalCount>0">Visar träff {{widgetState.queryStartFrom+1}} - {{widgetState.currentList.length}} av {{widgetState.totalCount}}</div>
            <div ng-show="widgetState.queryMode && ((widgetState.lastQuery.startFrom + widgetState.queryPageSize) < widgetState.totalCount)">
              <button class="btn" title="Hämta fler träffar" ng-click="fetchMore()" ng-disabled="widgetState.fetchingMoreInProgress">
                <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta fler träffar
              </button>
            </div>
          </div>
        </div>
        <!-- spinner end -->
      </div>
    </div>
  </div>

</div>

