<div id="wcHeader" wc-header></div>
<div class="container-fluid">
    <div class="row-fluid" id="unsigned">
        <div class="span12 webcert-col webcert-col-single">
            <h1>
                <span message key="dashboard.unsigned.title"></span>
            </h1>

            <div wc-spinner label="info.loadingdata" show-spinner="!widgetState.doneLoading"
                 show-content="widgetState.doneLoading">

                <div>
                    <h2 class="col-head less-top-padding">{{widgetState.valdVardenhet.namn}}</h2>

                    <!-- span ng-if="!widgetState.searchedYet">Här visas alla ej signerade intyg.<br></span-->
                    <button id="show-advanced-filter-btn" class="btn btn-link btn-link-minimal"
                            ng-click="widgetState.queryFormCollapsed = !widgetState.queryFormCollapsed"
                            ng-switch="widgetState.queryFormCollapsed">
                        <span ng-switch-when="true">Visa sökfilter</span><span
                            ng-switch-when="false">Dölj sökfilter</span>
                    </button>
                    <div id="advanced-filter-form" ng-show="!widgetState.queryFormCollapsed"
                         class="qa-filter-panel form-horizontal form-inline" style="background-color: #f5f5f5;">
                        <div class="qa-filter">
                            <div class="control-group">
                                <label class="control-label">Sparat av</label>

                                <div class="controls">
                                    <select id="uc-savedBy" ng-model="filterForm.lastFilterQuery.filter.savedBy"
                                            ng-options="s.hsaId as s.name for s in widgetState.savedByList"
                                            ng-disabled="widgetState.loadingSavedByList"></select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Intyg som är</label>

                                <div class="controls">
                                    <input id="forwardedAll" name="forwarded" type="radio"
                                           ng-model="filterForm.forwarded" value="default"> <label
                                        for="forwardedAll">Båda</label> <input
                                        id="forwarded" name="forwarded" type="radio" value="true"
                                        ng-model="filterForm.forwarded"> <label
                                        for="forwarded">Vidarebefordrade</label> <input
                                        id="forwardedNot" name="forwarded" type="radio" value="false"
                                        ng-model="filterForm.forwarded"> <label for="forwardedNot">Ej
                                    vidarebefordrade</label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Senast sparat</label>

                                <div class="controls">
                                    Från <input type="text" id="filter-changedate-from" datepicker-popup
                                                ng-model="filterForm.lastFilterQuery.filter.savedFrom" is-open="filterForm.savedFromOpen.open"
                                                datepicker-options="datepickerConfig"/>
                                    <button class="btn" ng-click="toggleDatePickerInstance(filterForm.savedFromOpen)">
                                        <i class="icon-calendar"></i>
                                    </button>

                                    till <input type="text" id="filter-changedate-to" datepicker-popup
                                                ng-model="filterForm.lastFilterQuery.filter.savedTo" is-open="filterForm.savedToOpen.open"
                                                datepicker-options="datepickerConfig"/>
                                    <button class="btn" ng-click="toggleDatePickerInstance(filterForm.savedToOpen)">
                                        <i class="icon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Visa endast</label>

                                <div class="controls">
                                    <input id="completeAll" name="complete" type="radio"
                                           ng-model="filterForm.complete" value="default"> <label
                                        for="completeAll">Båda</label> <input
                                        id="completeYes" name="complete" type="radio" value="true"
                                        ng-model="filterForm.complete"> <label
                                        for="completeYes">Kompletta utkast</label> <input
                                        id="completeNo" name="complete" type="radio" value="false"
                                        ng-model="filterForm.complete"> <label for="completeNo">Ej
                                    kompletta utkast</label>
                                </div>
                            </div>
                            <div>
                                <button id="uc-filter-btn" class="btn" ng-click="filterDrafts()">Sök</button>
                                <button class="btn" ng-click="resetFilter()">Återställ sökformuläret</button>
                            </div>
                        </div>
                    </div>

                    <div wc-spinner label="info.running.query" show-spinner="widgetState.runningQuery"
                         show-content="!widgetState.runningQuery">

                        <div class="webcert-col-section qa-table-section">

                            <!-- No results message for unhandled -->
                            <div id="current-list-noResults-unit"
                                 ng-show="widgetState.doneLoading && !widgetState.activeErrorMessageKey && widgetState.currentList.length<1"
                                 class="alert alert-info">
                                <span message key="info.nounsigned.certs.for.unit"></span>
                            </div>

                            <!-- No results message for query -->
                            <div id="current-list-noResults-query"
                                 ng-show="widgetState.totalCount < 1" class="alert alert-info">
                                <span message key="info.query.noresults"></span>
                            </div>

                            <!-- error message -->
                            <div id="current-list-noResults-error"
                                 ng-show="widgetState.doneLoading && widgetState.activeErrorMessageKey"
                                 class="alert alert-error">
                                <span message key="{{widgetState.activeErrorMessageKey}}"></span>
                            </div>

                            <div id="query-count" ng-show="widgetState.totalCount>0">
                                Sökresultat - {{widgetState.totalCount}} träffar
                            </div>

                            <!-- unsigned cert table -->
                            <div class="row-fluid" ng-show="widgetState.currentList.length>0"
                                 id="unsignedCertTable">
                                <table class="span12 table table-striped table-qa">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th class="center"
                                            title="Markera om intyget är vidarebefordrat till den som ska signera det.">
                                            Vidarebefordrad
                                        </th>
                                        <th title="Indikerar intygets status, komplett eller ej komplett.">Status
                                        </th>
                                        <th title="Person som senast sparade intyget.">Sparat av</th>
                                        <th title="Berörd patients personnummer.">Patient</th>
                                        <th title="Datum då intyget senast sparades.">
                                            Senast sparat
                                        </th>
                                        <th title="Typ av intyg">Intygstyp</th>
                                    </tr>
                                    <tr ng-repeat="cert in widgetState.currentList">
                                        <td>
                                            <button class="btn btn-info" title="Visar intyget"
                                                    ng-click="openIntyg(cert)"
                                                    id="showBtn-{{cert.intygId}}"> Visa
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn"
                                                    ng-class="{'btn-info': !cert.vidarebefordrad, 'btn-secondary' : cert.vidarebefordrad}"
                                                    title="Skicka ett mejl med en länk till intyget för att informera den som ska signera det."
                                                    ng-click="openMailDialog(cert)">
                                                <img ng-if="!cert.vidarebefordrad" src="/img/mail.png">
                                                <img ng-if="cert.vidarebefordrad" src="/img/mail_dark.png">
                                            </button>
                                        </td>
                                        <td class="center">
                                            <input id="selected" type="checkbox" ng-disabled="cert.updateInProgress"
                                                   ng-model="cert.vidarebefordrad"
                                                   ng-change="onVidareBefordradChange(cert)"/>
                                            <span ng-if="cert.updateInProgress"> <img
                                                    src="/img/ajax-loader-kit-16x16.gif"></span>
                                        </td>
                                        <td><span message key="cert.status.{{cert.status}}"></span></td>
                                        <td>{{cert.updatedSignedBy}}</td>
                                        <td class="unbreakable">{{cert.patientId}}</td>
                                        <td class="unbreakable">{{cert.lastUpdatedSigned |
                                            date:'shortDate'}}
                                        </td>
                                        <td class="unbreakable table-qa-last"><span message key="certificatetypes.{{cert.intygType}}.typename"></span></td>
                                </table>
                            </div>
                            <div id="showing-nr-hits" ng-show="widgetState.totalCount>0">Visar
                                träff {{widgetState.queryStartFrom+1}} - {{widgetState.currentList.length}} av
                                {{widgetState.totalCount}}
                            </div>
                            <div ng-show="((filterForm.lastFilterQuery.startFrom + filterForm.lastFilterQuery.pageSize) < widgetState.totalCount)">
                                <button class="btn" title="Hämta fler träffar" ng-click="fetchMore()"
                                        ng-disabled="widgetState.fetchingMoreInProgress">
                                    <img src="/img/loader-small.gif" ng-show="widgetState.fetchingMoreInProgress"> Hämta
                                    fler träffar
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- spinner end -->
                </div>
            </div>
        </div>

    </div>
</div>