<div class="row-fluid webcert-multicol">
  <div class="span8 webcert-col webcert-col-primary">
    <!-- Left side -->
    <div class="webcert-col-shadow"></div>
    <a class="backlink" href="#start"><span message key="common.goback"></span></a>
    <h1>Läkarintyg FK 7263</h1>
    
    <div class="control-group buttonbar">
      <label class="control-label">Per Persson - 19590504-2343</label>
      <button class="btn btn-info" disabled>Spara</button><button class="btn btn-info" disabled>Släng</button><button class="btn btn-info">Kopiera intyg</button><button class="btn btn-info">Skriv ut <span class="caret"></span></button><button class="btn btn-inverse">Rätta intyg</button>
    </div>

    <div class="alert alert-warning">
      <strong>Status:</strong> Intyget är signerat. Intyget är skickat till Försäkringskassan
    </div>
    
    <div id="certificate" class="certificate">
      <div class="row-fluid">
        <div class="span12">
	        <div class="cert-body">
            <div wc-cert-field field-label="view.label.smittskydd" field-number="1" filled="cert.filledAlways">
              <span ng-show="cert.avstangningEnligtSmittskyddslagen != null"> <span message key="view.label.yes"></span></span> <span ng-show="cert.avstangningEnligtSmittskyddslagen == null">
                <span message key="view.label.no"></span>
              </span>
            </div>


            <div wc-cert-field field-label="view.label.diagnosis" field-number="2" filled="cert.filledDiagnosis">
              {{cert.medicinsktTillstand.beskrivning}} (<span class="tag"><span message key="view.label.diagnosisCode"></span></span> {{cert.medicinsktTillstand.observationsKod.code}})
            </div>
            <div wc-cert-field field-label="view.label.progressofdisease" field-number="3" filled="cert.filledProgress">{{cert.bedomtTillstand.beskrivning}}</div>

            <div wc-cert-field field-label="view.label.disabilities" field-number="4" filled="cert.filledDisabilities">{{cert.funktionsnedsattning.beskrivning}}</div>

            <div wc-cert-field field-label="view.label.basedon" field-number="4b" filled="cert.filledBasedOn">
              <ul>
                <li ng-repeat="vardkontakt in cert.vardkontakter"><span message key="vardkontakt.{{vardkontakt.vardkontakttyp.code}}" param="vardkontakt.vardkontaktstid.start | date:'longDate'"></span></li>
                <li ng-repeat="referens in cert.referenser"><span message key="referens.{{referens.referenstyp.code}}" param="referens.datum| date:'longDate'"></span>
                  <div ng-show="referens.referenstyp.code == '74964007'">
                    <!-- Annat -->
                    <span class="tag" message key="view.label.reference.to.field13"></span>
                  </div></li>
              </ul>
            </div>

            <div wc-cert-field field-label="view.label.limitation" field-number="5" filled="cert.filledLimitation">{{cert.aktivitetsbegransning.beskrivning}}</div>

            <div wc-cert-field field-label="view.label.recommendations" field-number="6a" filled="cert.filledRecommendations">
              <ul>
                <li ng-show="cert.rekommenderarKontaktMedArbetsformedlingen != null"><span message key="view.label.recommendations.contact.jobcenter"></span></li>
                <li ng-show="cert.rekommenderarKontaktMedForetagshalsovarden != null"><span message key="view.label.recommendations.contact.healthdepartment"></span></li>
                <li ng-show="cert.rekommenderarOvrigt != null"><span message key="view.label.recommendations.contact.other"></span> {{cert.rekommenderarOvrigt.beskrivning}}</li>
              </ul>
            </div>

            <div wc-cert-field field-label="view.label.plannedtreatment" field-number="6b" filled="cert.filledPlannedTreatment">
              <ul>
                <li ng-show="cert.atgardInomSjukvarden != null"><span message key="view.label.plannedtreatment.healthcare"></span> {{cert.atgardInomSjukvarden.beskrivning}}</li>
                <li ng-show="cert.annanAtgard != null"><span message key="view.label.plannedtreatment.other"></span> {{cert.annanAtgard.beskrivning}}</li>
              </ul>
            </div>

            <div wc-cert-field field-label="view.label.workrehab" field-number="7" filled="cert.filledWorkRehab">
              <span ng-show="cert.arbetsinriktadRehabiliteringAktuell != null"> <span message key="view.label.yes"></span></span> <span ng-show="cert.arbetsinriktadRehabiliteringEjAktuell != null">
                <span message key="view.label.no"></span>
              </span> <span ng-show="cert.arbetsinriktadRehabiliteringEjBedombar != null"> <span message key="view.label.unjudgeable"></span></span>
            </div>

            <div wc-cert-field field-label="view.label.patientworkcapacity" field-number="8a" filled="cert.filledPatientWorkCapacity">
              <ul>
                <li ng-show="cert.arbetsformagaIForhallandeTillNuvarandeArbete"><span message key="view.label.patientworkcapacity.currentwork"></span> <span
                  ng-repeat="uppgift in cert.patient.arbetsuppgifts"> {{uppgift.typAvArbetsuppgift}} </span></li>
                <li ng-show="cert.arbetsformagaIForhallandeTillArbetsloshet"><span message key="view.label.patientworkcapacity.unemployed"></span></li>
                <li ng-show="cert.arbetsformagaIForhallandeTillForaldraledighet"><span message key="view.label.patientworkcapacity.parentalleave"></span></li>
              </ul>
            </div>

            <div wc-cert-field field-label="view.label.patientworkcapacityjudgement" field-number="9" filled="cert.filledPatientWorkCapacityJudgement">{{cert.arbetsformagaAktivitetsbegransning.prognos.beskrivning}}</div>

            <div wc-cert-field field-label="view.label.prognosis" field-number="10" filled="cert.filledPrognosis">
              
                <span ng-show="cert.prognosFullAterstallning"><span message key="view.label.yes"></span></span>
                <span ng-show="cert.prognosDelvisAterstallning"><span message key="view.label.partialyes"></span></span>
                <span ng-show="cert.prognosEjAterstallning"><span message key="view.label.no"></span></span>
                <span ng-show="cert.prognosAterstallningGarEjBedomma"><span message key="view.label.unjudgeable"></span><br> <span class="tag"><span message key="view.label.comment"></span></span>
                  <span class="tag" message key="view.label.reference.to.field13"></span>
                </span>
            </div>

            <div wc-cert-field field-label="view.label.othertransport" field-number="11" filled="cert.filledPatientOtherTransport">
              <span ng-show="cert.forandratRessattAktuellt != null"> <span message key="view.label.yes"></span></span> <span ng-show="cert.forandratRessattEjAktuellt != null"> <span message
                key="view.label.no"></span></span>
            </div>

            <div wc-cert-field field-label="view.label.fkcontact" field-number="12" filled="cert.filledFKContact">
              <span ng-show="cert.kontaktMedForsakringskassanAktuell != null"> <span message key="view.label.yes"></span></span> <span ng-show="cert.kontaktMedForsakringskassanAktuell == null">
                <span message key="view.label.no"></span>
              </span>
            </div>

            <div wc-cert-field field-label="view.label.otherinformation" field-number="13" filled="cert.kommentars.length>0">
              <span class="tag"><span ng-repeat="kommentar in cert.kommentars">{{kommentar}}</span></span>
            </div>

            <div wc-cert-field field-label="view.label.workcodes" field-number="17" filled="cert.filledAlways">
              {{cert.forskrivarkodOchArbetsplatskod}}
            </div>
            
            <div class="row-fluid">
              <div class="span7">
                <div class="infobox">
                  <h3>
                    <span message key="view.label.confirmedby"></span>
                  </h3>
                  <h4>
                    <span message key="view.label.date"></span>
                  </h4>
                  <p>{{cert.signeringsDatum | date:'longDate'}}</p>
                  <h4>
                    <span message key="view.label.contactinfo"></span>
                  </h4>
                  <p>
                    <span class="text">{{cert.skapadAv.namn}}</span><br> <span class="text">{{cert.skapadAv.vardenhet.namn}}</span><br> <span class="text">{{cert.skapadAv.vardenhet.postadress}}</span><br>
                    <span class="text">{{cert.skapadAv.vardenhet.postnummer}} {{cert.skapadAv.vardenhet.postort}}</span><br> <span class="text">{{cert.skapadAv.vardenhet.telefonnummer}}</span><br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     -->
  </div>
  <!-- Left side end -->

  <div class="span4">
    <!-- Right side -->
    <div class="row-fluid">
      <div class="span12 webcert-col">
        <h2 class="col-head">Fråga &amp; Svar</h2>
        <div class="control-group">
          <label class="control-label">Skriv en fråga på detta intyg till Försäkringskassan</label>
          <button class="btn btn-success" ng-click="createCert()">Ny fråga</button>
        </div>
        
        <div class="qa-block">
          <div class="qa-block-head clearfix">
            <div class="pull-left">
              <h3>Komplettering</h3>
              <span class="qa-sender">Fråga från Försäkringskassan</span>
	          </div>
	          <div class="pull-right">
              <span>Mottaget</span><br>
	            <span class="qa-date">2013-05-06</span>
	          </div>
	        </div>
          <div class="qa-block-body">
            Du har glömt fält 12 och 15 psum dolor sit amet, consectetur
adipiscing elit. Integer vel quam eget augue pulvinar ultricies ac
vitae nisi. Suspendisse elementum felis at nunc ullamcorper
porttitor. Nulla eu justo lacus. Mauris ornare diam sit amet orci
cursus tempus. Proin aliquet placerat cursus.
            <a href="#" class="mark-answered">Markera som besvarad</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right side end -->
</div>
