<div class="row-fluid webcert-multicol">
  <div class="span10 webcert-col webcert-col-primary">
    <!-- Left side -->
    <div class="webcert-col-shadow"></div>
    <a class="backlink" href="#start"><span message key="common.goback"></span></a>
    <h1>Läkarintyg FK 7263</h1>
    
    <div class="control-group">
      <label class="control-label">Per Persson - 19590504-2343</label>
      <button class="btn btn-info btn-space" disabled>Spara</button><button class="btn btn-info btn-space" disabled>Släng</button><button class="btn btn-info btn-space">Kopiera intyg</button><button class="btn btn-info btn-space">Skriv ut <span class="caret"></span></button><button class="btn btn-inverse">Rätta intyg</button>
    </div>

    <div class="alert alert-warning">
      Tänk på att...
    </div>
  </div>
  <!-- Left side end -->



  <div class="span2">
    <!-- Right side -->
    <div class="row-fluid">
      <div class="span12 webcert-col">
        <h2 class="col-head">Fråga &amp; Svar</h2>
        <div class="control-group">
          <label class="control-label">Skriv en fråga på detta intyg till Försäkringskassan</label>
          <button class="btn btn-success" ng-click="createCert()">Ny fråga</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Right side end -->
</div>
