<div id="wcHeader" class="print-hide" wc-header default-active="unhandled-qa"></div>

<div class="row webcert-multicol" id="viewQAAndCert">
  <div class="webcert-multicol-background">

    <!-- Left column -->
    <div class="col-sm-6 webcert-col webcert-col-primary print-hide">
      <div wc-feature-active feature="hanteraFragor" intygstyp="{{widgetState.certificateType}}">
        <a class="backlink-icon" href="/web/dashboard#/unhandled-qa" title="Tillbaka till Fråga och Svar"></a>
        <h1 class="backlink-heading">Fråga och svar</h1>
        <div wc-insert-qa certificate-type="{{widgetState.certificateType}}"></div>
      </div>
    </div>
    <!-- Certificate Left side end -->

    <!-- Right side -->
    <div class="col-sm-6 webcert-col-secondary">
      <div class="print-hide">
        <div class="webcert-col-shadow"></div>
        <h2 class="col-head">
          <span message key="{{widgetState.certificateType}}.label.certtitle"></span>
        </h2>
      </div>
      <div wc-insert-certificate certificate-type="{{widgetState.certificateType}}"></div>
    </div>

  </div>
</div><!-- Right side end -->
