<div id="wcHeader" wc-header default-active="unhandled-qa"></div>
<div class="row webcert-multicol" id="viewCertAndQA">

  <!-- Left column -->
  <div class="col-sm-6 webcert-col webcert-col-primary">
    {{certificateType}}
    <div wc-insert-certificate></div>
  </div>
  <!-- Certificate Left side end -->

  <!-- Right side -->
  <div class="col-sm-6 webcert-col-secondary">
    <div class="webcert-col-shadow"></div>
    <!--div view-qa type="{{certificateType}}"></div-->
  </div>

</div>
<!-- Right side end -->
