<div id="about-cookies-modal">
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="button1click()">×</button>
    <h3 class="modal-title">Om kakor (cookies)</h3>
  </div>
  <wc-bottom-fadeout>
    <div
        class="modal-body"
        ng-include="'/web/webjars/common/webcert/components/headers/wcAppHeader/wcHeaderHelp/about/kakor-partial.html'"></div>
  </wc-bottom-fadeout>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="button1click()">Stäng</button>
  </div>
</div>
