<div class="wc-footer">
  <div class="footer-content">
    <div>
      <span><strong>Webcert är en tjänst som drivs av Inera AB</strong></span><br>
      <span dynamiclink key="ineraStartsida"></span><br>
    </div>
    <div>
      <span><strong>Inera Support</strong></span><br>
      <span dynamiclink key="ineraFelanmalanAnvandarstodSupport"></span><br>
    </div>
    <div>
      <span><strong>Problem med inloggning?</strong></span><br>
      Läs mer på <span dynamiclink key="intygstjansterInformationFAQ"></span><br>
      <span>OBS! Länken fungerar inte med Internet Explorer.</span><br>
    </div>
    <div class="clear-left">
      <span>Webcert använder kakor (cookies). <a class="internal nobreak" ng-click="openAboutCookies()">Läs mer om kakor</a></span>
    </div>
  </div>
</div>
