.wc-footer {
  margin-top:90px;
  display: block;
  height: calc(100% - 90px);
  background-color: #E9EAED;
  .footer-content {
    max-width: $wc-max-content-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;

    div {
      float: left;
      margin: 30px 130px 30px 0;
      &.clear-left {
        clear: left;
        margin-top: 0;
      }
      span, a.internal{
        .material-icons {
          font-size: 16px;
        }
        display: block;
        &.nobreak {
          display:inline-block;
        }
      }
    }
  }
  box-shadow: inset 1px 4px 9px -6px #000000;
}
