<div class="wc-footer">
  <div class="footer-content">
    <div>
      <span><strong>Webcert är en tjänst som drivs av Inera AB</strong></span>
      <span>Box 11703, 118 93 Stockholm</span>
      <span dynamiclink key="ineraStartsida"></span>
    </div>
    <div>
      <span><strong>Kundtjänst</strong></span>
      <span>Tel 0771-25 10 10</span>
      <span dynamiclink key="ineraHjalpOchSupport"></span>
    </div>
    <div>
      <span><strong>Läs mer om inloggningen</strong></span>
      <a class="internal" ng-click="showInfoAboutSITHS()">SITHS-kort</a>
      <a class="internal" ng-click="showInfoAboutEleg()">E-legitimation</a>
    </div>
    <div class="clear-left">
      <span>Webcert använder kakor (cookies). <a class="internal nobreak" ng-click="openAboutCookies()">Läs mer om kakor</a></span>
    </div>
  </div>
</div>
