wc-no-arenden-message {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding-left: 65px;
  @extend %wc-typo-06;

  div {
    img {
       padding-bottom: 24px;
    }
  }
}
