html, body {
	height:100%;
}

body {
	font-size:100%;
	background-image:url(../images/baseBg.png);
	padding:0;
	margin:0;
}

/**** General ********/
.assistiveText {
	text-indent:-9999px;
	overflow:hidden;
}

.clear {
	clear:both;
}

img{
	border:none;
}
/*********************/
/**** HEADER *********/
#headerContainer {
	background-color: #28B4C4;
	border-bottom: 1px solid #067F97;
}
#header {
	position: relative;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size:0.8125em;
	padding-left: 10px;
}
#header h1{
	margin: 7px 0 0;
	background-repeat:no-repeat;
	width:155px;
	background-image:url(../images/headerLogo_big.png);
}
#header .functionRow {
	margin-right: 5px;
	float:right;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background-color: #067F97;
    height: 25px;
    font-weight: bold;
    
   -webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
#header .functionRow a {
	color:white;
	text-decoration:none;
	display:block;
}
#header .logoutButton {
	margin:0px 0.5%;
	line-height:20px;
	float:right;
	color:#008391;
	text-decoration:none;
}
#header .wrapper {
	padding-bottom:15px;
	height: 27px;
}
a.backButton {
	float:left;
	display:block;
	padding-left:35px;
	background-image:url('../images/back-icon.png');
	background-repeat:no-repeat;
	background-position:left 9px;
	background-size: 30px auto;
}
